<div id="FormReseña" class="fixed w-screen h-screen top-0 left-0 z-40 hidden overflow-auto">
    <form id="form">
        {% csrf_token %}
        <div onclick="OutForm()" class="bg-gray-400 opacity-50 fixed w-screen h-screen top-0 left-0"></div>
        
        <div class="New_reseña fixed bg-white border opacity-100 text-base text-gray-800 overflow-auto absolute left-[50%] top-[50%] h-full md:h-max w-full md:w-[550px]">
            <a onclick="OutForm()">
                <svg class="h-6 w-6 absolute top-5 right-5 cursor-pointer text-gray-600 hover:text-black"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6M6 6l12 12"/>
                </svg> 
            </a>
            <div class="mt-20 md:my-8 mx-4 bg-white">
                <div class="font-semibold"">Opina sobre este producto</div>

                <div class="flex">
                    <div class="mx-auto flex">
                        <div class="w-[100px]">
                            {% if variant_url %}
                                <img src="{{variants_first.image}}" class="object-contain">
                            {% else %}
                                <img src="{{product.image}}" class="object-contain">
                            {% endif %}
                        </div>
                        <div class="my-auto mx-2">{{product.nombre}}</div>
                    </div>
                </div>
                <div class="flex w-full">
                    {% include 'product/partials/stars_reviewForm.html' %}
                </div>
                <div class="relative">
                    <div class="absolute w-full">
                        <div class="flex w-full">
                            <div class="error1 mx-auto text-xs text-red-600 flex space-x-1" id="error1"></div>
                        </div>
                    </div>
                </div>


                <div class="text-black mt-5">
                    <input name="titulo" type="text" autocomplete="off" 
                        class="w-full border rounded py-2 px-2 text-sm focus:border-black" placeholder="Título*" value="{{ review.titulo }}"
                    >
                    <div class="relative">
                        <div class="absolute w-full">
                            <div class="flex w-full mt-1">
                                <div class="error2 text-xs text-red-600 flex space-x-1" id="error2"></div>
                            </div>
                        </div>
                    </div>

                    <textarea name="content" rows="8" cols="110" style="resize: none;" type="text" 
                        class="mt-8 w-full border rounded py-2 px-2 text-sm focus:border-black" placeholder="Descripción*" 
                        value="{{ review.content }}">{{ review.content }}
                    </textarea>

                    <div class="flex w-full mt-1">
                        <div class="error3 text-xs text-red-600 flex space-x-1" id="error3"></div>
                    </div>

                    <div class="text-gray-600 text-xs mt-1 flex space-x-1">
                        <svg class="h-3 w-3 text-gray-800 my-auto"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>
                        <p>Mínimo 10 caracteres</p>
                    </div>
                </div>

            </div>

            <hr class="w-full mt-2">
            <div class="px-10 mb-6">
                <button class="inline-block flex justify-center w-full py-2 text-white mt-3 rounded drop-shadow-md bg-green-600 hover:bg-black transition duration-500" id="FormSubmit">
                    Enviar
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    let el1 = document.querySelector('#error1')
    let el2 = document.querySelector('#error2')
    let el3 = document.querySelector('#error3')

    function validateForm(data) {
        let errors = []
        let error1 = false
        let error2 = false
        let error3  = false
        let error4  = false
        if(data.rating === 0){
            errors.push('Campo requerido')
            error1 = true
        }if (data.titulo === ''){
            errors.push('Campo requeridos')
            error2 = true
        }if(data.content === ''){
            errors.push('Campo requerido')
            error3 = true
        }if(data.content.length < 10){
            errors.push('No cumple el mínimo requerido')
            error4 = true
        }

        let svg = ` <svg class="h-3 w-3 text-red-500 my-auto"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"/>
                    </svg>`;
        
        if (error1){
            el1.innerHTML = svg + '<div>Campo requerido</div>';
        }else {
            el1.innerHTML = '';
        }
        
        if (error2){
            el2.innerHTML = svg + '<div>Campo requerido</div>';
        }else {
            el2.innerHTML = '';
        }

        let html = ''
        if (error3){
            html = svg + '<div>Campo requerido</div>';
        }if(!error3 && error4){
            html = svg + '<div>No cumple el mínimo requerido</div>';
        }if(html != ''){
            el3.innerHTML = html;
        }else{
            el3.innerHTML = '';
        }
        return errors
    }

    let currentURL = window.location.href;

    FormSubmit.addEventListener('click', function(event){
        event.preventDefault();

        let data = {
            'titulo': document.querySelector('input[name=titulo]').value,
            'content': document.querySelector('textarea[name=content]').value,
            'rating': puntuacion
        }

        let errors = validateForm(data)

        if (errors.length) {
            console.log('Errors', errors)
        }else{
            fetch(`${currentURL}`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' 
                },
                body: JSON.stringify(data),
            })
            location.reload();
        }

        return false
    });

</script>