<script type="text/javascript">

    <!-- Producto en favoritos --> 
    if('{{favorite}}' == 'True'){
        document.getElementById('Favorito_1').classList.remove('hidden');
        document.getElementById('Favorito_0').classList.add('hidden');
    }

    const descripcion = document.getElementById('desc');

    if(descripcion.clientHeight < 300){
        leer_mas.classList.add('hidden');
    }

    function leer_mas_menos(){
        if(leer_mas.classList.contains("hidden")){
            leer_mas.classList.remove("hidden");
            leer_menos.classList.add("hidden");

            descripcion.classList.remove('full');
        }
        else{
            descripcion.classList.add('full');

            leer_mas.classList.add("hidden");
            leer_menos.classList.remove("hidden");
        }
    }

    const menu_tallas = document.querySelector('.menu-tallas-mobile');
    const menu_tallas_l = document.querySelector('.menu-tallas-mobile-l');

    function menu_tallas_mobile(){

        if (menu_tallas.classList.contains('invisible')){
            menu_tallas.classList.remove('invisible');
            menu_tallas.classList.add('visible');

            menu_tallas_l.style.animation ="tallas-open 500ms 1"

        }else{
            menu_tallas_l.style.animation ="tallas-close 500ms 1"
            
            menu_tallas.classList.remove('visible');
            menu_tallas.classList.add('invisible');
        }
   }

    const lens = document.getElementById('cursor_magnet')
    const product_img = document.getElementById('ImageCenter') 
    const magnified_img = document.getElementById('zooming')

    function magnify(product_img, magnified_img){
        product_img.addEventListener('mousemove', moveLens);
        lens.addEventListener('mousemove', moveLens);
        lens.addEventListener('mouseout', leaveLens);

    }
    
    function moveLens(e){
        ImgMarca.classList.add("hidden");
        information.classList.add("hidden");
        magnified_img.classList.remove("hidden");
        lens.classList.remove("hidden");
        //console.log('X: ' + e.pageX, 'Y:' + e.pageY)
        let x, y, cx, cy;
        //Position cursor
        const product_img_react = product_img.getBoundingClientRect();

        x = e.clientX - product_img_react.left - lens.offsetWidth/2;
        y = e.clientY - product_img_react.top - lens.offsetHeight/2;
        
        let max_xpos = product_img_react.width - lens.offsetWidth;
        let max_ypos = product_img_react.height - lens.offsetHeight;

        if(x >= max_xpos ) x = max_xpos;
        if(x <= 0) x = 0;
        
        if(y >= max_ypos) y = max_ypos;
        if(y <= 0) y = 0;

        lens.style.cssText = `top: ${y}px; left: ${x}px`

        //Zoom
        if(window.innerWidth >= 1280){
            cx = (magnified_img.offsetWidth / lens.offsetWidth) / 2.1;
            cy = (magnified_img.offsetHeight / lens.offsetHeight) / 2.5;
    
            magnified_img.style.cssText = `
                                background: url('${product_img.src}')
                                -${x * cx / 1.2}px -${y * cy / 1.7}px /
                                ${product_img_react.width * cx * 1.2}px ${product_img_react.height * cy}px
                                no-repeat
            `;

        }else{
            cx = (magnified_img.offsetWidth / lens.offsetWidth) / 2.2;
            cy = (magnified_img.offsetHeight / lens.offsetHeight) / 2.8;
    
            magnified_img.style.cssText = `
                                background: url('${product_img.src}')
                                -${x * cx / 1.0}px -${y * cy / 1.7}px /
                                ${product_img_react.width * cx * 1.4}px ${product_img_react.height * cy }px
                                no-repeat
            `;
        }
    }

    function leaveLens(){
        ImgMarca.classList.remove("hidden");
        information.classList.remove("hidden");
        magnified_img.classList.add("hidden");
        lens.classList.add("hidden");
    }
    
    magnify(product_img, magnified_img);


    const link = encodeURI(window.location.href);
    const msg = encodeURIComponent('Te recomiendo este producto de Esports Vivac: ')
    const title = encodeURIComponent(document.querySelector('title').textContent);

    const fb = document.getElementById('facebook');
    fb.href = `https://www.facebook.com/share.php?u=${link}`;
    
    const twitter = document.getElementById('twitter');
    twitter.href = `https://twitter.com/share?&url=${link}&text=${msg}&hashtags=sports`;

    try{
    
        const linkedIn = document.getElementById('linkedIn');
        linkedIn.href = `https://www.linkedin.com/sharing/share-offsite/?url=${link}&text=${msg}`;
    
        const reddit = document.getElementById('reddit');
        reddit.href = `https://www.reddit.com/submit?url=${link}&title=${title}`;
    }catch{}

    const whatsapp = document.getElementById('whatsapp');
    whatsapp.href = `https://api.whatsapp.com/send?text=${msg}${link}`;
    
    comp = document.getElementById('Compartir')
    const fav0 = document.getElementById('Favorito_0')
    const fav1 = document.getElementById('Favorito_1')
    const fav_no_user = document.getElementById('Favorito_no_user')

    function fav_add_remove(div1, str){
        if (str == 'add'){
            div1.classList.remove('w-[79%]');
            div1.classList.add('w-[100%]');
        }else{
            div1.classList.add('w-[79%]');
            div1.classList.remove('w-[100%]');
        }
    }

    comp.onclick = function(){
        comp.classList.add('hidden');
        Share.classList.remove('hidden');

        if(fav_no_user == null){
            fav_add_remove(fav0,'add');
            fav_add_remove(fav1,'add');
        }else{fav_add_remove(fav_no_user,'add');}
        

    }
    OutShare.onclick = function(){
        comp.classList.remove('hidden');
        Share.classList.add('hidden');

        if(fav_no_user == null){
            fav_add_remove(fav0,'remove');
            fav_add_remove(fav1,'remove');
        }else{fav_add_remove(fav_no_user,'remove');}
    }
    
    function NoTallas() {
        document.getElementById("noTallas").classList.remove("hidden");
    }
    //--------------------------------------------------------------------------------------





    //--------------------------------------------------------------------------------------

    
    function Image_mouseover(var_size) {
        document.getElementById("ImageCenter").src = var_size;
    }

    var final_size = ''
    var final_size_sp = ''

    function SelectSize(size, mobile=false) {
        size_sp = size.replace('/', '|')

        if (mobile) {
            menu_tallas_l.style.animation ="tallas-close 500ms 1"
            
            menu_tallas.classList.remove('visible');
            menu_tallas.classList.add('invisible');

        }
        EscogeTalla.value = size;

        document.getElementById("noTallas").classList.add("hidden");
        if(final_size != ''){
            document.getElementById('TallasId-'+ final_size ).classList.remove("border-black")
            document.getElementById('TallasId-'+ final_size + '-Mobile' ).classList.remove("border-black")
        }
        document.getElementById('TallasId-'+ size ).classList.add("border-black")
        document.getElementById('TallasId-'+ size + '-Mobile' ).classList.add("border-black")

        document.getElementById('añadir_carrito-'+ final_size_sp).classList.add("hidden")
        document.getElementById('añadir_carrito-'+ size_sp).classList.remove("hidden")

        final_size_sp = size_sp
        final_size = size

        precio_variant(final_size)
    }

    function disableScroll() {
    // Get the current page scroll position
    scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,

        // if any scroll is attempted, set this to the previous value
        window.onscroll = function() {
            window.scrollTo(scrollLeft, scrollTop);
        };
    }

    function enableScroll() {
        window.onscroll = function() {};
    }

    const FormReseña = document.getElementById('FormReseña');

    function FirstOp() {
        if (FormReseña){
            if(FormReseña.classList.contains('hidden')){
                    FormReseña.classList.remove('hidden');
                    disableScroll();
            }else{
                    FormReseña.classList.add('hidden');
                    enableScroll();
            }
        }else{
            menu_login_mobile(1);
        }
    }

    function OutForm() {
        el1.innerHTML = '';
        el2.innerHTML = '';
        el3.innerHTML = '';
        if(!FormReseña.classList.contains('hidden')){
                FormReseña.classList.add('hidden');
                enableScroll();
        }
    }


    const btn_s = document.querySelectorAll(".btn_s");
    const greens = document.querySelectorAll(".greens");
    const texts = document.querySelectorAll(".texts");
    const leer_m_m = document.getElementById('leer_mas_menos')
    var current_index = 0;

    btn_s.forEach((button, index) => {

        var selectedButton = btn_s[index];
        var selectedText = texts[index];
        var selectedGreen = greens[index];

        button.addEventListener('click', () =>{
            
            btn_s.forEach(button => button.classList.toggle('text-black', button === selectedButton));

            texts.forEach(div => div.classList.toggle('hidden', div !== selectedText));

            leer_m_m.classList.toggle('hidden', selectedButton !== btn_s[0]);

            current_index = index;

            greens.forEach(div => {
                const isCurrent = div === selectedGreen;
                div.classList.replace(isCurrent ? 'bg-neutral-500' : 'bg-green-600', isCurrent ? 'bg-green-600' : 'bg-neutral-500');
                div.classList.replace(isCurrent ? 'h-[0]' : 'h-[2.5px]', isCurrent ? 'h-[2.5px]' : 'h-[0]');
                div.style.animation = isCurrent ? 'in-out-menu 100ms 1' : 'out-in-menu 100ms 1';
            });

            const rect = document.getElementById('opiniones').getBoundingClientRect();
            const posicionDestino = window.scrollY + rect.top;
            const espacioAdicional = window.innerWidth >= 1300 ? 50 : 200;

            window.scroll({
                top: posicionDestino - espacioAdicional,
                behavior: 'smooth'
            });
        })
        button.addEventListener('mouseover', () =>{ 
            var t = 0
            window.onscroll = function (e) {  
                t = 1
            }

            if(index != current_index && t === 0){
                selectedGreen.classList.replace('h-[0]', 'h-[2.5px]');
                selectedGreen.classList.replace('bg-green-600', 'bg-neutral-500');
                selectedGreen.style.animation = "in-out-menu 100ms 1";
            }
        })
        button.addEventListener('mouseout', () =>{
            if(index != current_index){
                selectedGreen.classList.add('h-[0]');
                selectedGreen.classList.remove('h-[2.5px]');
                selectedGreen.style.animation = "out-in-menu 100ms 1"
            }
        })
    });

    function GoOpinions() {
        current_index = 1
        // Ocultar todos los textos excepto el segundo
        texts.forEach((div, index) => div.classList.toggle('hidden', index !== 1));

        leer_m_m.classList.toggle('hidden');

        // Modificar los estilos de los elementos en greens
        greens.forEach((div, index) => {
            const isGreen1 = index === 1;
            
            if (isGreen1) {
                div.classList.remove('h-[0]');
                div.classList.add('h-[2.5px]');
                div.classList.replace('bg-neutral-500', 'bg-green-600');
            } else {
                div.classList.replace('h-[2.5px]', 'h-[0]');
                div.classList.replace('bg-green-600', 'bg-neutral-500');
            }

            div.style.animation = "in-out-menu 100ms 1";
        });

        const rect = document.getElementById('opiniones').getBoundingClientRect();
        const posicionDestino = window.scrollY + rect.top;
        const espacioAdicional = window.innerWidth >= 1300 ? 0 : 80;

        window.scroll({
            top: posicionDestino - espacioAdicional,
            behavior: 'smooth'
        });
    }

    const original_price = document.getElementById('original_price')
    const original_desc = document.getElementById('original_desc')

    function precio_variant(f_size){
        var list_size = document.getElementById('info_precios').value.replace('[[','').replace(']]','')
        var list_size = list_size.split('], [')
        for (i in list_size){
            list_size[i] = list_size[i].split(',')
        }

        if(!original_price.classList.contains('hidden')){
            original_price.classList.add('hidden')
            original_desc.classList.add('hidden')
        }

        for (i in list_size){
            var t = list_size[i][3].replace("'",'').replace("'",'').replace(" ",'')
            if(!document.getElementById(`precio_producto-${t}`).classList.contains('hidden')){
                document.getElementById(`precio_producto-${t}`).classList.add('hidden')
                document.getElementById(`precio_desc-${t}`).classList.add('hidden')
            }
        }
        for (i in list_size){
            var t = list_size[i][3].replace("'",'').replace("'",'').replace(" ",'')
            if(f_size == t){
                if(document.getElementById(`precio_producto-${t}`).classList.contains('hidden')){
                    document.getElementById(`precio_producto-${t}`).classList.remove('hidden')
                    document.getElementById(`precio_desc-${t}`).classList.remove('hidden')
                }
            }
        }
    }

</script>