{% extends 'core/base.html' %}

{% block title %}Ayuda{% endblock %}

{% block content%}

{% load static %}

<div class="max-w-screen-md lg:max-w-screen-lg mx-auto max-[1300px]:-mt-6 px-4 lg:px-0">

    <h1 class="mt-5 xl:mx-0 md:flex mb-1 text-xl font-semibold mb-5">Centro de soporte</h1>

    <div class="space-y-10">
        <div class="space-y-3 text-sm">
            <h2 class="text-lg">¿Cómo puedo hacer un pedido?</h2>
        
            <div>
                Hacer tus compras es fácil con nosotros. Puedes usar nuestro buscador en la página principal ingresando el nombre del artículo que deseas, o bien, aprovechar nuestros filtros ubicados en la parte izquierda de la página para refinar tu búsqueda al máximo. También puedes explorar nuestras categorías desde el menú principal.
            </div>
            <div>
                Una vez que encuentres el producto que deseas, selecciona la talla si es necesario, y haz clic en 'Añadir al carrito'. Desde allí, podrás ver todos los artículos que has agregado y hacer cambios según lo necesites, como ajustar la cantidad de un artículo o eliminarlo del carrito.
            </div>
            <div>
                Si deseas continuar comprando, simplemente haz clic en 'Continuar comprando'. Cuando estés listo para realizar tu pedido, haz clic en 'Finalizar pedido'.
            </div>
            <div>
                Si es tu primera vez comprando con nosotros, necesitarás completar un formulario con tus datos para poder enviar tu pedido correctamente.
            </div>
            <div>
                Si ya eres cliente registrado, simplemente inicia sesión con tu usuario y contraseña.
            </div>
            <div>
                Una vez que todo esté correcto, verás en pantalla la confirmación de tu pedido y recibirás un correo electrónico con todos los detalles.
            </div>
        </div>

        <div class="space-y-3 text-sm" id="metodos">
            <h2 class="text-lg">¿Qué métodos de pago puedo utilizar?</h2>
        
            <div>
                Nuestros principales métodos de pago son los siguientes:
            </div>

            <div class="space-y-10">
                <div>
                    <h3 class="font-semibold">Tarjeta de crédito</h3>
                    <p>
                        Tarjetas de crédito y débito (MasterCard, Visa y Visa Electron), a través de la pasarela de pago de Stripe que garantiza la seguridad de tus pagos.
                    </p>
                </div>
                <div>
                    <h3 class="font-semibold">PayPal</h3>
                    <p>
                        Podrás pagar de manera rápida y segura usando tu cuenta de PayPal, sin compartir información financiera con Esports Vivac.
                    </p>
                </div>

                <div class="hidden">
                    <h3 class="font-semibold">Transferencia bancaria</h3>
                    <p>
                        Tu pedido será activado desde el momento en que recibamos el importe íntegro del mismo y éste será enviado cuando tengamos todos los productos que lo conforman. Nuestros datos bancarios son los siguientes:
                    </p>
                    <p>Vivac Camprodon, S.L.</p>
                    <p>Número de cuenta corriente ESXX XXXX XXXX XXXX XXXX XXXX banco receptor \Caixa Bank</p>
                </div>
            </div>
        </div>
        <div class="space-y-3 text-sm" id="gastos">
            <h2 class="text-lg">¿Los gastos de envío son gratuitos?</h2>
        
            <p>En España (solo península), los envíos son gratuitos en compras superiores a 100€</p>

            <p>Los pedidos con importes inferiores a 49€ tienen unos gastos de envío a partir de 6,80€.</p>

            <p><b class="font-semibold">IMPORTANTE:</b> No hacemos envíos a Ceuta y Melilla.</p>

            <p>
                Para los envíos dentro de España, confiamos en empresas Nacex. Es importante que nos proporciones los datos de envío correctamente; de lo contrario, cualquier error en la dirección puede resultar en retrasos en la entrega del producto. Por favor, infórmanos lo antes posible si detectas algún error en la información de envío.
            </p>
            
        </div>

        <div class="space-y-3 text-sm">
            <h2 class="text-lg">¿Puedo recibir un pedido en 24h?</h2>

            <p>
                Nos comprometemos a garantizar un tiempo de entrega de al menos 48 horas para nuestros envíos (días laborales). Sin embargo, es importante destacar que es probable que recibas tu pedido antes de las 24 horas si realizas tu compra antes de las 12:00 a.m. Esta es nuestra forma de asegurar una experiencia de entrega rápida y eficiente para nuestros clientes.
            </p>
            
        </div>

        <div class="space-y-3 text-sm">
            <h2 class="text-lg">¿Hay que pagar algo al recibir mi pedido?</h2>

            <p>Todos los gastos serán indicados en tu carrito de compra antes de finalizar el pedido e incluirán también los gastos de envío una vez rellenado el formulario.</p>
            
        </div>

        <div id="devolucion" class="space-y-3 text-sm">
            <h2 class="text-lg">¿Puedo devolver un producto?</h2>

            <p>¡Por supuesto! Tienes un plazo de 30 días para realizar una devolución o cambio desde el momento en que recibas tu pedido.</p>

            <p>
                Para las devoluciones puedes elegir entre llevar tu paquete a un punto de recogida o solicitar que un transportista lo recoja en la dirección que nos facilites.
            </p>

            <p>
                Tu devolución sea recogida en la dirección que elijas, no será necesario imprimir nada, solo asegúrate de tener el paquete listo para cuando vengan a buscarlo. Este servicio tiene un coste de 6.80 euros (peninsula,  Cantaluña 6.20 euros) y el reembolso se realiza en un plazo de 5 a 9 días laborables.
            </p>

            
        </div>

        <div class="space-y-3 text-sm">
            <div class="flex space-x-1">
                <div class="text-lg">1</div>
                <div class="text-lg">|</div>
                <div class="mt-1">
                    <h2 class="font-semibold">Entra en tu cuenta e indícanos qué quieres devolver</h2>
        
                    <p>Si dispones de una cuenta, por favor inicia sesión en Esports Vivac utilizando tus datos de usuario y dirígete a <b class="font-semibold">Mi cuenta > Mis pedidos</b>. Allí, selecciona el producto que deseas devolver y marca el botón de "Devolución o incidencia". Podrás adjuntar fotos para que podamos procesar tu solicitud de manera más rápida.</p>
                    <p>Si no tienes una cuenta, por favor envíanos un <a class="underline text-blue-400" href="{% url 'contacto' %}">correo electrónico</a> con los detalles de tu incidencia.</p>
                </div>
            </div>
            <div class="flex space-x-1">
                <div class="text-lg">2</div>
                <div class="text-lg">|</div>
                <div class="mt-1">
                    <h2 class="font-semibold">Prepara el paquete</h2>
        
                    <p>Prepara los artículos a devolver, sin uso previo, con su embalaje y etiquetado original.</p>
                </div>
            </div>
            <div class="flex space-x-1">
                <div class="text-lg">3</div>
                <div class="text-lg">|</div>
                <div class="mt-1">
                    <h2 class="font-semibold">Gestión de la devolución y reembolso del dinero</h2>
        
                    <p>Una vez recojamos la devolución, revisaremos que está todo correcto y procederemos a abonarte el importe de la compra.</p>
                </div>
            </div>
        </div>

        <div class="space-y-3 text-sm" id="plazos">
            <h2 class="text-lg">¿Cuándo recibiré mi pedido?</h2>

            <p>
                Nos comprometemos a garantizar un tiempo de entrega de al menos 48 horas para nuestros envíos (días laborales). Sin embargo, es importante destacar que es probable que recibas tu pedido antes de las 24 horas si realizas tu compra antes de las 12:00 a.m. Esta es nuestra forma de asegurar una experiencia de entrega rápida y eficiente para nuestros clientes.
            </p>

            <p>
                En el momento que tu pedido salga del almacén, te enviaremos un email con el enlace de seguimiento para que puedas saber dónde está tu pedido en todo momento.
            </p>

            <p>
                <b class="font-semibold">IMPORTANTE:</b> Tu pedido será entregado cuando todos los artículos del pedido estén disponibles.
            </p>
            
        </div>

        <div class="space-y-3 text-sm" id="segimiento">
            <h2 class="text-lg">¿Puedo hacer seguimiento de mi pedido en todo momento?</h2>

            <p>
                ¡Por supuesto! Una vez que tu pedido salga de nuestro almacén, recibirás un correo electrónico que incluirá un enlace para que puedas hacer el seguimiento del envío. Además, este correo te proporcionará la opción de contactar al transportista si lo necesitas. 
            </p>
            
        </div>

        <div class="space-y-3 text-sm">
            <h2 class="text-lg">¿Qué pasa si en el momento de la entrega estoy ausente?</h2>

            <p>
                Si no te encuentras en casa en el momento de la entrega, el mensajero te dejará una nota de aviso para que contactes con la oficina de mensajería y puedas acordar una segunda entrega. Normalmente será para el día siguiente, aunque la franja horaria la determinará el transportista. También tendrás la posibilidad de recoger el paquete directamente en la delegación del transportista de tu zona.
            </p>

            <p>Te informamos del teléfono gratuito del transportista que opera con nosotros en España:</p>

            <p>- Nacex: 900 100 000</p>
            
        </div>

        <div class="space-y-3 text-sm" id="factura">
            <h2 class="text-lg">¿Cómo puedo solicitar una factura?</h2>

            <p> Para solicitar una factura, envía un <a class="underline text-blue-400" href="{% url 'contacto' %}">correo electrónico</a> a nuestro equipo de atención al cliente con los detalles de tu pedido y te ayudaremos con tu solicitud.</p>

        </div>

        <div class="space-y-3 text-sm">
            <h2 class="text-lg">¿Hay algún artículo que no pueda devolver ni cambiar?</h2>

            <p>No se aceptan devoluciones ni cambios de los productos de alimentación y nutrición, material de escalada, por motivos de seguridad y productos electrónicos que hayan sido encendidos y/o activados.</p>

        </div>

        <div class="space-y-3 text-sm">
            <h2 class="text-lg">¿Qué tengo que hacer si recibo un producto dañado o un paquete en mal estado?</h2>

            <p>Es crucial que revises el embalaje y el producto tan pronto como recibas tu paquete. Si detectas algún daño, te recomendamos no aceptar la entrega o dejar constancia de ello al momento de recibirla para posterior revisión. Si encuentras alguna incidencia, por favor infórmanos en un plazo máximo de 24 horas después de recibirlo. Esto nos permitirá comunicarnos con la empresa de transporte y proceder con las reclamaciones necesarias.</p>

            <h2 class="font-semibold">Entra en tu cuenta e indícanos la incidencia</h2>
        
            <p>Si dispones de una cuenta, por favor inicia sesión en Esports Vivac utilizando tus datos de usuario y dirígete a <b class="font-semibold">Mi cuenta > Mis pedidos</b>. Allí, selecciona el producto que tiene la incidencia y marca el botón de "Devolución o incidencia". Podrás adjuntar fotos para que podamos procesar tu solicitud de manera más rápida.</p>
            <p>Si no tienes una cuenta, por favor envíanos un <a class="underline text-blue-400" href="{% url 'contacto' %}">correo electrónico</a> con los detalles de tu incidencia.</p>

        </div>

        <div class="space-y-3 text-sm">
            <h2 class="text-lg">¿Qué debo hacer si mi pedido es incorrecto o incompleto?</h2>

            <p>
                Si encuentras algún problema como un producto incorrecto o faltante,(cuenta) por favor contáctenos dentro de las 24 horas siguientes y haremos todo lo posible para reponer el artículo correcto y entregártelo lo antes posible. En caso de no disponer de stock, procederemos con el reembolso correspondiente.
            </p>

            <p><b class="font-semibold">IMPORTANTE:</b> Para procesar tu reclamación, necesitaremos fotos del paquete recibido, que incluyan el embalaje exterior con sus etiquetas, así como también de las etiquetas del producto recibido.</p>

        </div>

    </div>
    
</div>
{% endblock %}

{% block scripts %}
<script>
    function scrollFunction() {
        if (window.location.hash) {
            var targetId = window.location.hash.substring(1);
            var targetElement = document.getElementById(targetId);
            if (targetElement) {
                var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
                if (windowWidth > 1300) {
                    window.scrollBy(0, -30);
                } else {
                    window.scrollBy(0, -100);
                }
            }
            
        }
    }
    window.onload = scrollFunction;
</script>

{% endblock %}