<!DOCTYPE html>
{% load static %}

<style>
    html, body {
        overflow-x: hidden;
    }
    body {
    position: relative
    }
</style>

<html lang="es">
    <head class="h-0">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | Esports Vivac</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
        {% include 'core/partials/styles.html' %}
    </head>
    
    <body id="body">       
        
        <div 
            hx-get="{% url 'hx_addtocart' %}"
            hx-trigger="update-menu-cart from:body"
            hx-swap="innerHTML"
            class="hidden"
            id="minicart_mobile"
            >
            {% include 'cart/partials/addtocart.html' %}
    
        </div>

        {% include 'core/partials/swipertop.html' %}
        
        {% include 'core/partials/menu_mobile.html' %}
        {% include 'core/partials/login_mobile.html' %}


        <nav class="navbar scroll-up fixed top-0 z-40 max-[1300px]:mt-8 bg-white w-full min-[1300px]:relative">

            <div class="max-w-screen-xl mx-auto px-6 mb-2 xl:px-0 flex items-center justify-between">

                {% include 'core/partials/navbarleft-center.html' %} 

                {% include 'core/partials/navbar_right.html' %} 
    
            </div>
        </nav>

        {% include 'core/partials/bottom_navbar.html' %}
        
        <main class="max-[1300px]:mt-48 mt-4">
            {% block content%}
            {% endblock %}
        </main>

        <footer class="bg-gray-100 bottom-0">
            <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
                <div class="footer-left mb-12 md:mb-0 ">
                    <h2 class="mb-5 uppercase text-lg">Sobre Nosotros</h2>
                    <p class="text-grey-700">Esports vivac es una tienda espezializada en articulos para deportes de montaña, fundada hace más de 25 años</p>
                </div>
                <div class="footer-rigth">
                    <h2 class="mb-5 uppercase text-lg">Redes Sociales</h2>
                    <ul class="space-y-2">
                        <li><a href="#" class="text-green-500 hover:text-green-800">Instagram</a></li>
                        <li><a href="#" class="text-green-500 hover:text-green-800">Twitter</a></li>
                        <li><a href="#" class="text-green-500 hover:text-green-800">Facebook</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        {% block scripts %}
        {% endblock %}
    </body>
    {% include 'core/partials/scripts.html' %}
</html>
