<!DOCTYPE html>
{% load static %}

<style>
    body {
    position: relative
    }
</style>

<html lang="es" class="max-[768px]:overflow-x-hidden">
    <head class="h-0">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | Esports Vivac</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
        
        <link rel="stylesheet" href="{% static 'src/styles.css' %}">
        

        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
        
        {% include 'core/partials/styles.html' %}
    </head>
    
    <body id="body" class="max-[768px]:overflow-x-hidden">       
        
        <div 
            hx-get="{% url 'hx_addtocart' %}"
            hx-trigger="update-menu-cart from:body"
            hx-swap="innerHTML"
            class="hidden"
            id="minicart_mobile"
            >
            {% include 'cart/partials/addtocart.html' %}
    
        </div>

        {% include 'core/partials/swipertop.html' %}
        
        {% include 'core/partials/menu_mobile.html' %}
        {% include 'core/partials/login_mobile.html' %}


        <nav class="navbar scroll-up fixed top-0 z-40 max-[1300px]:mt-8 bg-white w-full min-[1300px]:relative">

            <div class="max-w-screen-xl mx-auto px-6 mb-2 xl:px-0 flex items-center justify-between">

                {% include 'core/partials/navbarleft-center.html' %} 

                {% include 'core/partials/navbar_right.html' %} 
    
            </div>
        </nav>

        {% include 'core/partials/bottom_navbar.html' %}
        
        <main class="max-[1300px]:mt-48 mt-4">
            {% block content%}
            {% endblock %}
        </main>

        {% include 'core/partials/footer.html' %}

        {% block scripts %}
        {% endblock %}
    </body>
    {% include 'core/partials/scripts.html' %}
</html>
