{% extends 'core/base.html' %}

{% block title %}Tienda deportes online{% endblock %}

{% block content%}

{% load static %}
<style>
    .image_marca{
        scale: 0.7;
        filter: invert(10%) sepia(0%) saturate(50%) hue-rotate(262deg) brightness(95%) contrast(80%);
        transition: scale 500ms;
    }
    .image_marca:hover{
        scale: 1;
        filter: invert(0%) sepia(100%) saturate(25%) hue-rotate(2deg) brightness(92%) contrast(105%);
    }
</style>

<header class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto overflow-hidden max-[1300px]:-mt-6 -mt-2">

    <div class="mt-2 max-width-3xl max-auto grid place-content-center xl:h-[50px] w-full overflow-hidden hidden md:block" >
        <img src="{% static 'img/banner.png' %}" class="object-cover" >
    </div>

    <div class="mt-2 max-width-3xl max-auto grid place-content-center xl:h-[50px] w-full overflow-hidden md:hidden block" >
        <img src="{% static 'img/banner_mb.png' %}" class="object-cover" >
    </div>
    
    <div class="mt-4 max-width-3xl max-auto grid place-content-center xl:h-[500px] hidden lg:block">
        <img src="{% static 'img/bannerhome_dk.png' %}" class="object-cover" >
    </div>

    <div class="mt-4 max-width-3xl max-auto grid place-content-center xl:h-[500px] lg:hidden block">
        <img src="{% static 'img/bannerhome_mb.png' %}" class="object-cover" >
    </div>

    <div class="px-10 mt-4 swiper2 mySwiper2 block text-gray-600 w-full text-center cursor-pointer">
        <div class="swiper-wrapper">
        {% for marca in marcas %}
        <div class="swiper-slide"><a href="{% url 'marca' marca.slug %}"><img class="image_marca w-full aspect-[3/1] object-contain" 
            src={{marca.get_image}}></a></div>
        {% endfor %}
        </div>
    </div>
</header>

<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto xl:px-0 px-4 py-5">

    <div class="grid justify-center grid-cols-2 lg:grid-cols-4 gap-y-4 gap-x-[10px]">
        {% for category in categories %}
        <div class="imagecategory relative overflow-hidden rounded text-sm min-[300px]:text-base lg:text-lg">
            <a href="{% url 'shop' %}?category={{ category.slug }}" class="w-full">
                <div class="h-[100px] min-[300px]:h-[200px] sm:h-[300px] xl:h-[400px] bg-cover 
                bg-[linear-gradient(to_bottom,rgba(0,0,0,0),rgba(0,0,0,0.4)),url('{{category.get_image}}')] 
                hover:bg-[linear-gradient(to_bottom,rgba(0,0,0,0),rgba(0,0,0,0.5)),url('{{category.get_image}}')] 
                scale-100 hover:scale-105"></div>
            </a>
            <div class="text-category absolute text-center inset-x-0 font-bold text-white uppercase">
                {{ category.nombre }}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="py-5 xl:px-0 md:flex justify-between">
        <div class="footer-left mb-12 md:mb-0 ">
            <h2 class="mb-5 uppercase text-lg">Productos</h2>
        </div>
    </div>
    
    <div class="py-2 xl:px-0">
        <div class="products flex items-center flex-wrap">
            {% for product in products %}
                {% include 'product/partials/product_list_item.html' %}
            {% endfor %}
        </div>
    </div>
    
</div>
{% endblock %}

{% block scripts %}

{% endblock %}