{% extends 'core/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Tienda deportes online' %}{% endblock %}

{% block content%}

<style> 
    .New_reseña{
        transform: translate(-50%, -50%);
    }
    
    .mySwiper_favorite [class^="swiper-button-"]::after{
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        width: 15px;
        z-index: 10;
        color: rgb(83, 83, 83);
    }
    .mySwiper_products [class^="swiper-button-"]::after{
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        width: 15px;
        z-index: 10;
        color: rgb(83, 83, 83);
    }
    .swiper-pagination-bullet-active {
        background-color: rgb(131, 131, 131) !important;
    }
    
    .image_marca{
        scale: 0.7;
        filter: invert(10%) sepia(0%) saturate(50%) hue-rotate(262deg) brightness(95%) contrast(80%);
        transition: scale 500ms;
    }
    .image_marca:hover{
        scale: 1;
        filter: invert(0%) sepia(100%) saturate(25%) hue-rotate(2deg) brightness(92%) contrast(105%);
    }
</style>

<header class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto overflow-hidden max-[1300px]:-mt-6 -mt-2">

    {% include 'core/partials/banner.html' %}
    <a href="{% url 'shop' %}" class="mt-4 max-width-3xl max-auto grid place-content-center xl:h-[500px] hidden lg:block">
        <img src="{% static 'img/bannerhome_dk.png' %}" class="object-cover" >
    </a>
    
    <a href="{% url 'shop' %}" class="mt-4 max-width-3xl max-auto grid place-content-center xl:h-[500px] lg:hidden block">
        <img src="{% static 'img/bannerhome_mb.png' %}" class="object-cover" >
    </a>

    <div class="px-10 mt-4 swiper2 mySwiper2 block text-gray-600 w-full text-center cursor-pointer">
        <div class="swiper-wrapper">
        {% for marca in marcas %}
        <!--  href="{% url 'marca' marca.slug %}"-->
        <div class="swiper-slide"><a><img class="image_marca w-full aspect-[3/1] object-contain" 
            src={{marca.get_image}}></a></div>
        {% endfor %}
        </div>
    </div>
</header>

<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto xl:px-0 px-4 py-5">

    <div class="grid justify-center grid-cols-2 lg:grid-cols-4 gap-y-4 gap-x-[10px]">
        {% for category in categories %}
        <div class="imagecategory relative overflow-hidden rounded text-sm min-[300px]:text-base lg:text-lg">
            <a href="{% url 'shop' %}?category={{ category.slug }}" class="w-full">
                <div class="h-[100px] min-[300px]:h-[200px] sm:h-[300px] xl:h-[400px] bg-cover 
                bg-[linear-gradient(to_bottom,rgba(0,0,0,0),rgba(0,0,0,0.4)),url('{{category.get_image}}')] 
                hover:bg-[linear-gradient(to_bottom,rgba(0,0,0,0),rgba(0,0,0,0.5)),url('{{category.get_image}}')] 
                scale-100 hover:scale-105"></div>
            </a>
            <div class="text-category absolute text-center inset-x-0 font-bold text-white uppercase">
                {% if request.LANGUAGE_CODE == 'es' %} {{ category.nombre }}
                {% elif request.LANGUAGE_CODE == 'ca' %} {{ category.nombre_ca }}
                {% else %} {{ category.nombre }}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="mt-5 xl:mx-0 md:flex mb-1 text-lg font-semibold">{% trans 'Productos populares' %}</div>
    
    <div class="w-full relative">
        <div class="xl:px-0 overflow-hidden mx-10">
            <div class="swiper_products mySwiper_products block text-black">
                <div class="swiper-wrapper">
                        {% for product in products %}
                        <div onclick="window.location=`{% url 'product' product.slug %}`" class="swiper-slide w-1/2 md:w-1/3 pt-5 md:hover:shadow-[1px_1px_8px_rgba(0,0,0,0.1)] transition-shadow duration-200 border-b border-gray-300 relative cursor-pointer">
                            <img src="{{product.image}}" class="z-10 px-0 md:px-3 w-full mb-[80px] sm:mb-[50px] mt-0">
                            <div class="z-[15] text-sm absolute bottom-2 w-full">
                                <div id="card-{{product.id}}-text" class="w-full transition-shadow duration-200 mt-1">
                                    {% if product.get_descuento > 0 %}
                                    <div class="flex md:px-5 bg-white mx-1">
                                        <p class="bg-green-700 py-[1px] px-[4px] text-white text-[11px] rounded ">- {{product.get_descuento}}%</p>
                                    </div>
                                    {% else %}
                                    <div class="text-[11px] md:px-5 bg-white mx-1 py-[1px]">NEW</div>
                                    {% endif %}
                                </div>
                                <div  id="card-{{product.id}}-h" class="bg-white"></div>
                                <div class="md:px-5 bg-white mx-1">
                                    <div class="pt-3 flex items-center justify-between">
                                        <p class="line-clamp-2 md:line-clamp-1 leading-[16px] h-[33px] md:h-[17px]">
                                            {% if request.LANGUAGE_CODE == 'es' %} {{ product.nombre }}
                                            {% elif request.LANGUAGE_CODE == 'ca' %} {{ product.nombre_ca }}
                                            {% else %} {{ product.nombre }}
                                            {% endif %}
                                        </p>
                                    </div>
                                    {% if product.get_descuento > 0 %}
                                    <div class="flex space-x-2">
                                        <p class="pt-1 font-semibold text-green-700">{{product.precio|floatformat:2}}€</p>
                                        <p class="pt-1 line-through">{{product.precio_retail|floatformat:2}}€</p>
                                    </div>
                                    {% else %}
                                    <p class="pt-1 font-semibold">{{product.precio|floatformat:2}}€</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>

    {% if favorites %}
    <div class="mt-5 xl:mx-0 md:flex mb-1 text-lg font-semibold">{% trans 'Tus favoritos' %}</div>

    <div class="w-full relative">
        <div class="xl:px-0 overflow-hidden mx-10">
            <div class="swiper_favorite mySwiper_favorite block text-black">
                <div class="swiper-wrapper">
                        {% for variant in favorites %}
                        <div onclick="window.location=`{% url 'variant_product' variant.product.slug variant.color.slug %}`" class="swiper-slide w-1/2 md:w-1/3 pt-5 md:hover:shadow-[1px_1px_8px_rgba(0,0,0,0.1)] transition-shadow duration-200 border-b border-gray-300 relative cursor-pointer">
                            <img src="{{variant.image}}" class="z-10 px-0 md:px-3 w-full mb-[80px] sm:mb-[50px] mt-0">
                            <div class="z-[15] text-sm absolute bottom-2 w-full">
                                <div id="card-{{variant.id}}-text" class="w-full transition-shadow duration-200 mt-1">
                                    {% if variant.product.get_descuento > 0 %}
                                    <div class="flex md:px-5 bg-white mx-1">
                                        <p class="bg-green-700 py-[1px] px-[4px] text-white text-[11px] rounded ">- {{variant.get_descuento|floatformat:0}}%</p>
                                    </div>
                                    {% else %}
                                    <div class="text-[11px] md:px-5 bg-white mx-1 py-[1px]">NEW</div>
                                    {% endif %}
                                </div>
                                <div  id="card-{{variant.id}}-h" class="bg-white"></div>
                                <div class="md:px-5 bg-white mx-1">
                                    <div class="pt-3 flex items-center justify-between">
                                        <p class="line-clamp-2 md:line-clamp-1 leading-[16px] h-[33px] md:h-[17px]">
                                            {% if request.LANGUAGE_CODE == 'es' %} {{ variant.product.nombre }}
                                            {% elif request.LANGUAGE_CODE == 'ca' %} {{ variant.product.nombre_ca }}
                                            {% else %} {{ variant.product.nombre }}
                                            {% endif %}
                                        </p>
                                    </div>
                                    {% if variant.get_descuento > 0 %}
                                    <div class="flex space-x-2">
                                        <p class="pt-1 font-semibold text-green-700">{{variant.precio|floatformat:2}}€</p>
                                        <p class="pt-1 line-through">{{variant.product.precio_retail|floatformat:2}}€</p>
                                    </div>
                                    {% else %}
                                    <p class="pt-1 font-semibold">{{variant.precio|floatformat:2}}€</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    {% endif %}
    
</div>
{% endblock %}

{% block scripts %}
<script>
    var swiper_products = new Swiper(".mySwiper_products", {
        breakpoints: {
        1024: { slidesPerView: 4},
        640: { slidesPerView: 3},
        },
        slidesPerView: 2,
        spaceBetween: 20,
        freeMode: false,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });

    var swiper_favorite = new Swiper(".mySwiper_favorite", {
        breakpoints: {
        1024: { slidesPerView: 4},
        640: { slidesPerView: 3},
        },
        slidesPerView: 2,
        spaceBetween: 20,
        freeMode: false,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>   
{% endblock %}