{% extends 'core/base.html' %}

{% block title %}Mis datos{% endblock %}

{% block content%}
{% load replacement %}
{% load static %}

{% include 'core/partials/menu_my_account.html' with page_name="Mis datos" %}
{% include 'core/partials/edit_data.html' %}
<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto max-[1300px]:-mt-6 -mt-2 px-4 lg:px-0">

    <div class="block lg:hidden flex cursor-pointer -mt-5 mb-4" onclick="menu_my_account()">
        <div class="border-[0.5px] border-gray-800 px-1 py-2">Menu Mi cuenta</div>
    </div>

    <div class="flex">
        <div class="menu_account w-[25%] text-sm hidden lg:block my-0 lg:mt-8">
            <a class="flex border-b border-neutral-300" href="{% url 'my_account' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mi cuenta</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'my_orders' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis pedidos</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'my_data' %}">
                <div class="w-[3px] bg-green-600"></div>
                <div class="p-2 w-full">Mis datos</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'my_favorites' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis favoritos</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'my_reviews' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis opiniones de productos</div>
            </a>
            <a class="flex border-b border-neutral-300">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Condiciones generales de compra y privacidad</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'logout' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Cerrar Sesión</div>
            </a>
        </div>
        
        <div class="w-[100%] lg:w-[75%] lg:pl-8 text-black text-sm my-0 lg:mt-8 relative">
            <div class="mb-5 font-semibold text-lg">Mis Datos</div>
            
            {% if request.user.is_authenticated %}
            <div id="info_shipment" class="text-base w-full mt-6 space-y-4">
                <div>
                    <div class="">Datos personales</div>
                </div>
                <div>
                    <div class="font-semibold text-xs">Nombre</div>
                    <div>{{request.user.first_name}}</div>
                </div>
                <div>
                    <div class="font-semibold text-xs">Apellidos</div>
                    <div>{{request.user.last_name}}</div>
                </div>
                <div>
                    <div class="font-semibold text-xs">Email</div>
                    <div>{{request.user.email}}</div>
                </div>
                <hr class="py-[1px] bg-black opacity-70 w-full">

                
                <div>
                    <div class="font-semibold text-xs">Telefono</div>
                    {% if request.user.accounts.phone %}
                        <div>{{request.user.accounts.phone}}</div>
                    {% else %}
                        <div>---------</div>
                    {% endif %}
                </div>
                <div>
                    <div class="font-semibold text-xs">Calle</div>
                    {% if request.user.accounts.address %}
                        <div>{{request.user.accounts.address}}</div>
                    {% else %}
                        <div>---------</div>
                    {% endif %}
                </div>
                <div>
                    <div class="font-semibold text-xs">Código postal</div>
                    {% if request.user.accounts.zipcode %}
                        <div>{{request.user.accounts.zipcode}}</div>
                    {% else %}
                        <div>---------</div>
                    {% endif %}
                </div>
                <div>
                    <div class="font-semibold text-xs">Ciudad</div>
                    {% if request.user.accounts.city %}
                        <div>{{request.user.accounts.city}}</div>
                    {% else %}
                        <div>---------</div>
                    {% endif %}
                </div>
                <div>
                    <div class="font-semibold text-xs">Provincia</div>
                    {% if request.user.accounts.provincia %}
                        <div>{{request.user.accounts.provincia}}</div>
                    {% else %}
                        <div>---------</div>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            <a onclick="data_edit()" class="absolute right-0 top-14 px-2 w-[50px] md:w-[20%] bg-white border border-gray-400 hover:border-black py-2 flex cursor-pointer"> 
                <div class="flex space-x-2 mx-auto">
                    <div class="flex px-1 md:px-0">
                        <svg class=" my-auto h-5 w-5 text-black"  width="24"  height="24"  viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z" /></svg>
                    </div>
                    <div class="hidden md:flex">Cambiar</div> 
                </div>
            </a>

        </div>
    </div>
    <div class="menu_account w-[100%] text-sm lg:hidden block my-0 mt-8">
        <a class="flex border-b border-neutral-300" href="{% url 'my_account' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Mi cuenta</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'my_orders' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Mis pedidos</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'my_data' %}">
            <div class="w-[3px] bg-green-600"></div>
            <div class="p-2 w-full">Mis datos</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'my_favorites' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Mis favoritos</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'my_reviews' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Mis opiniones de productos</div>
        </a>
        <a class="flex border-b border-neutral-300">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Condiciones generales de compra y privacidad</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'logout' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Cerrar Sesión</div>
        </a>
    </div>
</div>

{% endblock %}
