{% extends 'core/base.html' %}

{% block title %}Mis reseñas{% endblock %}

{% block content%}
{% load replacement %}
{% load static %}

{% include 'core/partials/menu_my_account.html' with page_name="Mis opiniones de productos" %}
<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto max-[1300px]:-mt-6 -mt-2 px-4 lg:px-0">

    <div class="block lg:hidden flex cursor-pointer -mt-5 mb-4 text-sm" onclick="menu_my_account()">
        <div class="border-[0.5px] border-gray-800 px-1 py-1">
            <svg class="h-6 w-6 text-black"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
            </svg>
        </div>
    </div>

    <div class="flex">
        <div class="menu_account w-[25%] text-sm hidden lg:block my-0 lg:mt-8">
            <a class="flex border-b border-neutral-300" href="{% url 'my_account' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mi cuenta</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'my_orders' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis pedidos</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'my_data' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis datos</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'my_favorites' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis favoritos</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'my_reviews' %}">
                <div class="w-[3px] bg-green-600"></div>
                <div class="p-2 w-full">Mis opiniones de productos</div>
            </a>
            <a class="flex border-b border-neutral-300">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Condiciones generales de compra y privacidad</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'logout' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Cerrar Sesión</div>
            </a>
        </div>
        
        <div class="w-[100%] lg:w-[75%] lg:pl-8 text-black text-sm my-0 lg:mt-8 relative">
            <div class="mb-5 font-semibold text-lg">Mis Reseñas</div>

            {% if request.user.reviews.all %}
            
            <div class="rounded-xl border border-gray-300 mb-6">
                
                <div class="relative">
                    <input value="{{ request.user.reviews.all.count }}" id="num_reviews" class="hidden"></input>
                    {% for review in request.user.reviews.all %}
                        <div class="relative">
                            {% if forloop.counter0 > 0 %}
                            <hr class="w-full border-gray-300">
                            {% endif %}

                            <div class="flex w-full relative">
                                <div class="w-[140px]">
                                    <a href="{% url 'product' review.product.slug %}" class="w-[140px] rounded-l-xl">
                                        <img class="hover:shadow-lg rounded-l-xl" src="{{review.product.image}}">
                                    </a>
                                </div>
                                
                                <div class="w-[80%] text-sm flex flex-wrap relative">
                                    <div class="w-[100%] md:w-[25%]">
                                        <div class="item-size">
                                            <p class="font-semibold mt-4 mb-1">{{ review.titulo }}</p>
                                            {% include 'product/partials/stars_review_siple.html' %}
                                        </div>
                                    </div>
                                    <div class="w-[100%] md:w-[75%] mt-2 md:mt-5 text-sm mb-10 md:mb-7 pr-[50px]">{{ review.content }}</div>
                                    <p class="text-xs absolute bottom-2 left-0">{{ review.created_by.first_name }} {{review.created_by.last_name}}, el {{ review.created_at|date:"d-m-Y" }}</p>

                                </div>
                                
                                {% if review.created_by.email ==  request.user.email %}
                                <a href="{% url 'my_review' review.product.id %}" class="absolute top-5 right-5 hover:text-black hover:scale-105 cursor-pointer">
                                    <svg class="h-6 w-6" <svg  width="24"  height="24"  viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />  <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" /></svg>
                                </a>
                                {% endif %}

                            </div>

                        </div>
                    {% endfor %} 
                </div>
            </div>
            
            {% else %}
            <div class="mb-2 mt-10 font-semibold">Todavía no tienes ninguna review.</div>
            <div class="mb-4">Empieza a descubrir todos nuestros productos.</div>
            <a href="{% url 'shop' %}"><button class="min-w-[200px] w-[30%] py-3 bg-green-700 text-white text-base">Ir a la tienda</button></a>
            
            
            {% endif %}

        </div>
    </div>
    <div class="menu_account w-[100%] text-sm lg:hidden block my-0 lg:mt-8">
        <a class="flex border-b border-neutral-300" href="{% url 'my_account' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Mi cuenta</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'my_orders' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Mis pedidos</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'my_data' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Mis datos</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'my_favorites' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Mis favoritos</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'my_reviews' %}">
            <div class="w-[3px] bg-green-600"></div>
            <div class="p-2 w-full">Mis opiniones de productos</div>
        </a>
        <a class="flex border-b border-neutral-300">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Condiciones generales de compra y privacidad</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'logout' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Cerrar Sesión</div>
        </a>
    </div>
</div>






{% endblock %}