{% extends 'core/base.html' %}

{% block title %}Mi cuenta{% endblock %}

{% block content%}
{% load replacement %}
{% load static %}
<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto xl:px-0 px-4 py-5">
    <div class="flex">
        <div class="menuacount w-[25%] text-sm">
            <a class="flex border-b border-neutral-300" href="{% url 'myaccount' %}">
                <div class="w-[3px] bg-green-600"></div>
                <div class="p-2 w-full">Mi cuenta</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'myorders' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis pedidos</div>
            </a>
            <a class="flex border-b border-neutral-300">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis datos</div>
            </a>
            <a class="flex border-b border-neutral-300">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis favoritos</div>
            </a>
            <a class="flex border-b border-neutral-300">
                <div class="mr-1 bg-neutral-400" ></div>
                <div class="p-2 w-full">Mis opiniones de productos</div>
            </a>
            <a class="flex border-b border-neutral-300">
                <div class="mr-1 bg-neutral-400" ></div>
                <div class="p-2 w-full">Condiciones generales de compra y privacidad</div>
            </a>
        </div>
        
        <div class="w-[75%] pl-8 text-black text-sm">
            <div class="mb-5 font-semibold text-lg">Mi cuenta</div>
            <div class="mb-5">¡Hola, {{request.user.get_full_name}}!</div>
            <div class="mb-5">Bienvenido/a a Esports Vivac. Desde el panel Mi cuenta podrás ver la actividad reciente de tu cuenta y actualizar tus datos.</div>
            
            {% if request.user.orders.first %}
            <div class="mb-5 mt-10 font-semibold">Tu último pedido</div>
            
            <div class="rounded-xl border border-gray-300">
                <div class="min-h-[80px] p-2 bg-neutral-200 flex text-[12px] font-semibold text-gray-700 rounded-t-xl">
                    <div class="w-[50%] flex justify-between ml-4">
                        <div class="h-full w-[120px]">
                            <div>PEDIDO REALIZADO</div>
                            <div class="text-sm font-normal">{{request.user.orders.first.created_at |date1}}</div>
                        </div>
                        <div class="h-full">
                            <div>TOTAL</div>
                            <div class="text-sm font-normal">{{request.user.orders.first.paid_amount| floatformat:2}} €</div>
                        </div>
                        <div class="h-full">
                            <div>ENVIAR A</div>
                            <div class="text-sm font-normal">{{request.user.orders.first.address}}, {{request.user.orders.first.city}} </div>
                        </div>
                    </div>
                    <div class="w-[50%] text-right mr-4">
                        <div>PEDIDO ID.º {{request.user.orders.first.id}}</div>
                        <div class="text-sm font-normal text-blue-500">Ver los detalles del pedido | Factura </div>
                    </div>
                </div>
                <hr class="border-white lg:border-gray-300">
                <div class="">
                        {% for item in request.user.orders.first.items.all %}
                        <div class="flex w-full">
                            <a href="{% url 'variant_product' item.variant.product.slug item.variant.color.slug %}" class="w-[140px]">
                                <img class="hover:shadow-lg rounded" src="{{item.variant.image}}">
                            </a>
                        
                            <div class="w-[50%] pl-2 text-sm my-auto">
                                <div class="w-full lg:flex justify-between">
                                    <div class="flex justify-between relative">
                                        <div class="item-size">
                                            <div class="font-semibold"><span class="text-green-700">{{item.quantity}}x</span>&nbsp{{item.variant.product.nombre}}</div>
                                            <div>Talla: {{item.size|replace_1}}</div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="flex space-x-2 mt-2">
                                    <a 
                                        id="añadir_carrito-{{i}}"
                                        title="Tothecart"
                                         
                                        class="w-[180px] py-[5px] rounded bg-green-700 text-white hover:bg-black relative transition duration-500 cursor-pointer flex drop-shadow-md"
                                        hx-get = "{% url 'add_to_cart' item.variant.product.id item.variant.color.code item.size %}"
                                        hx-target = "#menu-cart-button"
                                        hx-swap = "innerHTML"
                                        onclick="EnviarCheckOut()"
                                        >
                                        <div class="text-sm flex mx-auto space-x-2">
                                            <div class="my-auto">
                                                <svg class="h-4 w-4 text-white"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"/>
                                                </svg>
                                            </div>
                                            <div class="my-auto">Comprar de nuevo</div>
                                        </div>
                                    </a>
                                    <a class="w-[100px] py-[5px] rounded bg-white relative cursor-pointer flex border drop-shadow-md" href="{% url 'variant_product' item.variant.product.slug item.variant.color.slug %}">
                                        <div class="m-auto">Ver tu artículo</div>
                                    </a>
                                </div>
                            </div>
                            <div class="w-[30%] space-y-2 my-auto">
                                <a class="w-full py-[5px] rounded bg-white relative cursor-pointer flex border drop-shadow-md" 
                                href="{% url 'variant_product' item.variant.product.slug item.variant.color.slug %}">
                                    <div class="m-auto">Devolver o reemplazar productos</div>
                                </a> 
                                <a class="w-full py-[5px] rounded bg-white relative cursor-pointer flex border drop-shadow-md" 
                                href="{% url 'variant_product' item.variant.product.slug item.variant.color.slug %}">
                                    <div class="m-auto">Escribir una opinión sobre este producto</div>
                                </a> 
                            </div>
                        </div>
                        <hr class="w-full border-gray-300">
                        {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="mb-2 mt-10 font-semibold">Todavía no tienes ningún pedido.</div>
            <div class="mb-4">Empieza a descubrir todos nuestros productos.</div>
            <a href="{% url 'shop' %}"><button class="w-[30%] py-3 bg-green-700 text-white text-base">Ir a la tienda</button></a>
            {% endif %}
        </div>
    </div>


    <h1 class="my-5 text-3xl">Mi cuenta</h1>

    <div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">

        <div class="mb-6 w-2/3">
            <strong>Nombre: </strong>{{request.user.get_full_name}}<br>
            <strong>Usuario: </strong>{{request.user.username}}<br>
            <strong>Email: </strong>{{request.user.email}}<br>
            <a href="{% url 'edit_myaccount' %}" class="inline-block mt-4 py-4 px-6 rounded-xl bg-green-500 text-white">Editar</a>
        </div>
        <dev class="summary mx-auto w-full md:w-1/3 xl:w-1/4 p-6 mt-3">
    
            <a href="{% url 'logout' %}" class="inline-block flex justify-center w-full py-3 px-6 bg-gray-500 text-white hover:bg-transparent border hover:border-black hover:text-black">Cerrar Sesión</a>
        </dev>
    </div>



    <hr>

    <h2 class="my-6 text-xl">Mis Compras</h2>

    {% for order in request.user.orders.all %}
    <div class="w-full mb-6 p-6 flex flex-wrap bg-gray-100">
        <div class="mb-3 flex justify-between">
            <a href="#">Id compra: {{order.id}}</a>
        </div>
        <div class="mb-6 w-full">
            {% for item in order.items.all %}
            <div class="product mb-1 flex p-6">
                <a href="#" class="w-1/4">
                    <img class="hover:shadow-lg rounded-xl" src="{{item.variant.image}}" width="150" height="150">
                </a>

                <div class="w-3/4 pl-6">
                    <div class="flex justify-between">
                        <a href="#" class="text-lg">{{item.product.nombre}}</a>
                        <p class="mb-3 pt-1 text-gray-700">{{item.get_total_price|floatformat:2}}€</p>
                    </div>

                    <hr>

                    <div class="mt-3">
                        Cantidad: {{item.quantity}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div>
            <p class="text-lg">Fecha: {{order.created_at}}</p>
            <p class="text-lg">Total: {{order.get_total_price}}€</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
