{% extends 'core/base.html' %}

{% block title %}Mis pedidos{% endblock %}

{% block content%}
{% load replacement %}
{% load static %}
<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto xl:px-0 px-4 py-5">
    <div class="flex">
        <div class="menuacount w-[25%] text-sm">
            <div class="flex border-b border-neutral-300">
                <div class="w-[3px] bg-green-600"></div>
                <div class="p-2 w-full">Mi cuenta</div>
            </div>
            <div class="flex border-b border-neutral-300">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis pedidos</div>
            </div>
            <div class="flex border-b border-neutral-300">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis datos</div>
            </div>
            <div class="flex border-b border-neutral-300">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis favoritos</div>
            </div>
            <div class="flex border-b border-neutral-300">
                <div class="mr-1 bg-neutral-400" ></div>
                <div class="p-2 w-full">Mis opiniones de productos</div>
            </div>
            <div class="flex border-b border-neutral-300">
                <div class="mr-1 bg-neutral-400" ></div>
                <div class="p-2 w-full">Condiciones generales de compra y privacidad</div>
            </div>
        </div>
        
        <div class="w-[75%] pl-8 text-black text-sm">
            <div class="mb-5 font-semibold text-lg">Mis pedidos</div>
            <div class="mb-5">¡Hola, {{request.user.get_full_name}}!</div>
            <div class="mb-5">Bienvenido/a a Esports Vivac. Desde el panel Mi cuenta podrás ver la actividad reciente de tu cuenta y actualizar tus datos.</div>
            {% if request.user.orders.first %}
            <div class="mb-5 mt-10 font-semibold">Tu último pedido con id {{request.user.orders.first.id}}</div>

            <div class="w-full hidden lg:flex justify-between font-bold">
                <div>Descripción del artículo</div>
                <div class="flex justify-between w-[200px]">
                    <div>Cantidad</div>
                    <div>Precio</div>
                </div>
            </div>
            
            <hr class="border-white lg:border-gray-300">
            <div class="">
                    {% for item in request.user.orders.first.items.all %}
                    <div class="product flex w-full">
                        <a href="{% url 'variant_product' item.variant.product.slug item.variant.color.slug %}" class="w-[10%] min-w-[100px] min-[450px]:min-w-[150px]">
                            <img class="hover:shadow-lg rounded" src="{{item.variant.image}}">
                        </a>
                    
                        <div class="w-[88%] pl-2 text-sm my-auto">
                            <div class="w-full lg:flex justify-between">
                                <div class="flex justify-between relative">
                                    <div class="item-size">
                                        <div class="font-semibold">{{item.variant.product.nombre}}</div>
                                        <div>Talla:  {{item.size|replace_1}}</div>
                                    </div>
                                    
                                </div>
                                <div class="min-[400px]:flex justify-between min-[400px]:space-x-[25px] mt-4 lg:mt-0">
                                        
                                    <div class="w-[60px] min-[400px]:w-[80px] h-[35px] text-center flex">
                                        <div class="mx-auto my-auto">{{item.quantity}}</div>
                                    </div>
                                        
                                    
                                    <div class="lg:w-[100px] text-base max-[400px]:mt-2">
                                        <div class="mb-6 mt-1 text-right pr-1">
                                            {% if item.variant.get_descuento != 0 %}
                                            <div class="text-[10px] leading-[10px] text-gray-700 line-through">PVR: {{item.variant.precio_retail|multiply:item.quantity | floatformat:2}} €</div>
                                            {% endif %}
                                            <div class="font-semibold">{{item.precio|floatformat:2}} €</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="w-full border-gray-300">
                    {% endfor %}
                    
                    <div class="w-full flex justify-between text-sm mt-3">
                        <div></div>
                        <div class="flex justify-between w-[200px]">
                            <div>Subtotal</div>
                            <div class="pr-1">{{request.user.orders.first.paid_amount|resta:request.user.orders.first.envio | floatformat:2}} €</div>
                        </div>
                    </div>
                    <div class="w-full flex justify-between text-sm">
                        <div></div>
                        <div class="flex justify-between w-[200px]">
                            <div>Envio</div>
                            <div class="pr-1">{{request.user.orders.first.envio|multiply:1 | floatformat:2}} €</div>
                        </div>
                    </div>
            
                    <div class="flex justify-between text-base bg-gray-100 py-3 mt-4 pr-1">
                        <div class="text-sm pl-4 hidden lg:flex">Precios con IVA incluido</div>
                        <div class="text-sm pl-4 flex lg:hidden my-auto">IVA incl.</div>
                        <div class="flex justify-between space-x-[30px] font-semibold select-none">
                            <span class="flex relative">
                                
                                <div class="text-center flex">
                                    <div class="flex text-black font-semibold">Total compra</div>
                                </div>
                                
                            </span>
                            <div class="w-[100px] text-black font-semibold">
                                <div class="text-right">{{request.user.orders.first.paid_amount| floatformat:2}} €</div>
                            </div>
                        </div>
                    </div>
            </div>
            {% else %}
            <div class="mb-2 mt-10 font-semibold">Todavía no tienes ningún pedido.</div>
            <div class="mb-4">Empieza a descubrir todos nuestros productos.</div>
            <a href="{% url 'shop' %}"><button class="w-[30%] py-3 bg-green-700 text-white text-base">Ir a la tienda</button></a>
            {% endif %}
        </div>
    </div>


    <h1 class="my-5 text-3xl">Mi cuenta</h1>

    <div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">

        <div class="mb-6 w-2/3">
            <strong>Nombre: </strong>{{request.user.get_full_name}}<br>
            <strong>Usuario: </strong>{{request.user.username}}<br>
            <strong>Email: </strong>{{request.user.email}}<br>
            <a href="{% url 'edit_myaccount' %}" class="inline-block mt-4 py-4 px-6 rounded-xl bg-green-500 text-white">Editar</a>
        </div>
        <dev class="summary mx-auto w-full md:w-1/3 xl:w-1/4 p-6 mt-3">
    
            <a href="{% url 'logout' %}" class="inline-block flex justify-center w-full py-3 px-6 bg-gray-500 text-white hover:bg-transparent border hover:border-black hover:text-black">Cerrar Sesión</a>
        </dev>
    </div>



    <hr>

    <h2 class="my-6 text-xl">Mis Compras</h2>

    {% for order in request.user.orders.all %}
    <div class="w-full mb-6 p-6 flex flex-wrap bg-gray-100">
        <div class="mb-3 flex justify-between">
            <a href="#">Id compra: {{order.id}}</a>
        </div>
        <div class="mb-6 w-full">
            {% for item in order.items.all %}
            <div class="product mb-1 flex p-6">
                <a href="#" class="w-1/4">
                    <img class="hover:shadow-lg rounded-xl" src="{{item.variant.image}}" width="150" height="150">
                </a>

                <div class="w-3/4 pl-6">
                    <div class="flex justify-between">
                        <a href="#" class="text-lg">{{item.product.nombre}}</a>
                        <p class="mb-3 pt-1 text-gray-700">{{item.get_total_price|floatformat:2}}€</p>
                    </div>

                    <hr>

                    <div class="mt-3">
                        Cantidad: {{item.quantity}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div>
            <p class="text-lg">Fecha: {{order.created_at}}</p>
            <p class="text-lg">Total: {{order.get_total_price}}€</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
