{% extends 'core/base.html' %}

{% block title %}Tienda{% endblock %}

{% block content%}

{% load static %}

<div class="fixed z-30 w-full grid place-content-center block lg:hidden bottom-4">
    <div class="mx-auto w-[250px] md:w-[300px] h-[50px] flex text-white text-sm inline-block relative" >
        <div onclick="menu_categorys_mobile()" class="w-1/3 bg-neutral-700 border-r rounded-l-3xl opacity-90 hover:opacity-100 relative">
            <p class="absolute m-0 top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">Categorias</p>
        </div>
        <div onclick="menu_orden_mobile()" class="w-1/3 bg-neutral-700 border-r opacity-90 hover:opacity-100 relative">
            <p class="absolute m-0 top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">Orientación</p>
        </div>
        <div onclick="menu_filtro_mobile()" class="w-1/3 bg-neutral-700 border-r rounded-r-3xl opacity-90 hover:opacity-100 relative">
            <div class="absolute m-0 top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
                <div class="flex">
                    <div class="relative"><svg class="h-5 w-5 text-white"  width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="14" cy="6" r="2" />  <line x1="4" y1="6" x2="12" y2="6" />  <line x1="16" y1="6" x2="20" y2="6" />  <circle cx="8" cy="12" r="2" />  <line x1="4" y1="12" x2="6" y2="12" />  <line x1="10" y1="12" x2="20" y2="12" />  <circle cx="17" cy="18" r="2" />  <line x1="4" y1="18" x2="15" y2="18" />  <line x1="19" y1="18" x2="20" y2="18" /></svg>
                    </div>
                    <div>Filtros</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="BotArriba" class=" opacity-0 fixed z-[29] w-full grid place-content-end bottom-4 md:bottom-6 -mx-4 cursor-pointer">
    <div class="bg-neutral-700 left-0 w-[50px] md:w-[140px] h-[50px] md:h-[35px] flex text-white text-sm inline-block relative rounded-3xl" >
        <div onclick="relocate_page()" class="mx-auto my-auto flex space-x-1">
            <svg class="h-7 w-7 md:h-5 md:w-5"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 10l7-7m0 0l7 7m-7-7v18"/>
            </svg>
            <p class="hidden md:block">Volver arriba</p>
        </div>
    </div>
</div>

{% include 'core/partials/menus_shop.html' %}

<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto overflow-hidden max-[1300px]:-mt-6 -mt-2 mb-2 relative">
    

    <div class="mt-2 max-width-3xl max-auto grid place-content-center xl:h-[50px] w-full overflow-hidden hidden md:block" >
        <img src="{% static 'img/banner.png' %}" class="object-cover" >
    </div>

    <div class="mt-2 max-width-3xl max-auto grid place-content-center xl:h-[50px] w-full overflow-hidden md:hidden block" >
        <img src="{% static 'img/banner_mb.png' %}" class="object-cover" >
    </div>

    <div class="mt-2 flex flex-wrap min-h-[300px]">
        <div class="hidden lg:block w-[20%] border-r pr-10">

            <ul class="space-y-2 text-sm mt-4">
                <li><a href="{% url 'shop' %}" class="{% if not active_category %}text-green-600 font-semibold {% else %}text-gray-700 font-semibold {% endif %}">Todas las categorías</a></li>
                {% for category in categories %}
                <li><a href="{% url 'shop' %}?category={{ category.slug }}" class="{% if category.slug == active_category %}text-green-600 font-semibold {% else %}text-gray-800 {% endif %}">{{category.nombre}}</a></li>
                {% endfor %}
            </ul>
            <div class="text-gray-800 text-xs mt-10">
                <div class="text-sm font-semibold">Precio</div>
                <div class="range-input mt-3 w-full relative mb-10">
                    <div class="absolute top-0 w-full h-[10px] bg-neutral-200 border border-gray-400 rounded"></div>
                    <input class="w-full slider-range absolute top-0" type="range" name="rangemin" value="{{min_max_price.precio__min}}" id="rangemin" min="{{min_max_price.precio__min}}" max="{{min_max_price.precio__max}}">
                    <input class="w-full slider-range absolute top-0" type="range" name="rangemax" value="{{min_max_price.precio__max}}" id="rangemax" min="{{min_max_price.precio__min}}" max="{{min_max_price.precio__max}}">
                    
                    <div class="flex flex-wrap absolute -top-2 w-full"> 
                        <div id="range-prices" class="flex flex-wrap absolute top-8 w-full text-center text-gray-800 font-semibold justify-center" >
                            {{min_max_price.precio__min}},00€ - {{min_max_price.precio__max}},00€
                        </div>
                    </div>

                </div>
            </div>
            <div class=" mt-20">
                <div class="text-sm font-semibold">Sexo</div>     
                <div class="sexo flex flex-wrap text-xs mt-3 text-center"> 
                    {% for s in sexo_list %}
                    {% if s == 'hombre' %}
                    <button value="hombre" class="w-[47%] xl:w-[48%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                        <p class="place-self-center">Hombre</p>
                    </button>
                    {% endif %}
                    {% if s == 'mujer' %}
                    <button value="mujer" class="w-[47%] xl:w-[48%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                        <p class="place-self-center">Mujer</p>
                    </button>
                    {% endif %}
                    {% if s == 'nino' %}
                    <button value="nino" class="w-[47%] xl:w-[48%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                        <p class="place-self-center">Niño</p>
                    </button>
                    {% endif %}
                    {% if s == 'nina' %}
                    <button value="nina" class="w-[47%] xl:w-[48%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                        <p class="place-self-center">Niña</p>
                    </button>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            
            <div class=" mt-10 size">
                <div class="text-sm font-semibold">Tallas</div>     
                <div class="flex flex-wrap text-xs mt-3 text-center"> 
                    {% for i in size_num %}
                        <button value="{{i}}" class="w-[23%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                            <p class="place-self-center">{{i}}</p>
                        </button>
                    {% endfor %}
                </div>
                <div class="mt-2 flex flex-wrap text-xs mt-3 text-center"> 
                    {% for i in size_let %}
                        <button value="{{i}}" class="w-[23%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                            <p class="place-self-center">{{i}}</p>
                        </button>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-10 marca">
                <div class="text-sm font-semibold mb-4">Marcas</div>     
                {% for i in brands %}
                    <div class="flex items-center mb-1">
                        <input id="default-checkbox" type="checkbox" value="{{i.slug}}" class="w-4 h-4 rounded">
                        <label for="default-checkbox" class="ml-2 text-sm capitalize">{{i.slug}}</label>
                    </div>
                {% endfor %}
            </div>


        </div>
        <div class=" w-[100%] lg:w-[80%] text-gray-600 px-4">
            <div class="min-h-[10px] w-full relative">
                {% if selecciones_querry %}
                {% for sel in selecciones_querry %}
                    <div class="font-semibold text-black text-xl">{{sel}}</div> 
                {% endfor %}
                {% endif %}
                {% if active_category %}
                    <div class="font-semibold text-black text-2xl capitalize">{{active_category}}</div>
                {% endif %}
                <div class="my-4 swiper2 mySwiper2 block text-gray-600 w-full text-center cursor-pointer overflow-hidden">
                    <div class="swiper-wrapper">
                    {% for marca in brands %}
                    <div class="swiper-slide"><a href="{% url 'marca' marca.slug %}"><img class="image_marca w-full aspect-[3/1] object-contain" 
                        src={{marca.get_image}}></a></div>
                    {% endfor %}
                    </div>
                </div>
                <div class="flex space-x-2 text-xs mt-2 text-gray-700 relative">
                    {% if selecciones_querry or selecciones_price or selecciones_price or selecciones_sx or selecciones_sz or selecciones_ma %}
                    <div class="top-10 align-center my-auto">Tus selecciones: </div>
                    {% endif %}
                    {% if selecciones_price %}
                    <div class="selec_price flex space-x-2">
                        {% for sel in selecciones_price %}
                            <button value="{{sel}}" class="p-2 border border-gray-300 rounded flex hover:border-gray-800 hover:bg-gray-100">
                                <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="18" y1="6" x2="6" y2="18" />  <line x1="6" y1="6" x2="18" y2="18" /></svg>
                                <p>{{sel}}</p>
                            </button>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if selecciones_sx %}
                    <div class="selec_sx flex space-x-2">
                        {% for sel in selecciones_sx %}
                            <button value="{{sel}}" class="p-2 border border-gray-300 rounded flex hover:border-gray-800 hover:bg-gray-100">
                                <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="18" y1="6" x2="6" y2="18" />  <line x1="6" y1="6" x2="18" y2="18" /></svg>
                                {% if sel == 'nino' %}
                                    <p>Niño</p>
                                {% endif %}
                                {% if sel == 'nina' %}
                                    <p>Niña</p>
                                {% else %}
                                    <p class="capitalize">{{sel}}</p>
                                    {% endif %}
                                </button>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if selecciones_sz %}
                    <div class="selec_sz flex space-x-2">
                        {% for sel in selecciones_sz %}
                            <button value="{{sel}}" class="p-2 border border-gray-300 rounded flex hover:border-gray-800 hover:bg-gray-100">
                                <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="18" y1="6" x2="6" y2="18" />  <line x1="6" y1="6" x2="18" y2="18" /></svg>
                                <p>{{sel}}</p>
                            </button>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if selecciones_ma %}
                    <div class="selec_ma flex space-x-2">
                        {% for sel in selecciones_ma %}
                            <button value="{{sel}}" class="p-2 border border-gray-300 rounded flex hover:border-gray-800 hover:bg-gray-100">
                                <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="18" y1="6" x2="6" y2="18" />  <line x1="6" y1="6" x2="18" y2="18" /></svg>
                                <p class="capitalize">{{sel}}</p>
                            </button>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% if products.count > 0 %}
                <div class="flex flex-wrap space-x-4 text-xs mt-6 order hidden md:flex">
                    <p>{{products.count}} artículos</p>
                    <p>Ordenar:</p>
                    <div class="relative text-black">
                        <button value="sort_popular" class="absolute -top-1 w-[80px] h-full py-1 inline-block rounded hover:bg-gray-100 relative transition duration-200 cursor-pointer">
                            <p class="text-center">Más popular</p>
                        </button>
                        <button value="sort_price_asc" class="absolute -top-1 w-[80px] h-full py-1 inline-block rounded hover:bg-gray-100 relative transition duration-200 cursor-pointer">
                            <p class="text-center">Más barato</p>
                        </button>
                        <button value="sort_price_desc" class="absolute -top-1 w-[80px] h-full py-1 inline-block rounded hover:bg-gray-100 relative transition duration-200 cursor-pointer">
                            <p class="text-center">Mayor precio</p>
                        </button>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="product_card flex flex-wrap w-full text-black">
                {% for product in products %}
                <div onclick="window.location=`{% url 'product' product.slug %}`" onmouseleave="hover_card_leave('{{product.id}}')" onmouseover="hover_card('{{product.id}}')" class=" w-1/2 md:w-1/3 pt-5 md:hover:shadow-[1px_1px_8px_rgba(0,0,0,0.1)] transition-shadow duration-200 border-b border-gray-300 relative cursor-pointer">
                    <img src="{{product.image}}" class="z-10 px-0 md:px-3 w-full mb-28 md:mb-[120px] mt-5 md:mt-0">
                    <div class="z-[15] text-sm absolute bottom-2 w-full">
                        <div id="card-{{product.id}}-text" class="w-full transition-shadow duration-200 mt-1">
                            {% if product.get_descuento > 0 %}
                            <div class="flex md:px-5 bg-white mx-1">
                                <p class="bg-green-700 py-[1px] px-[4px] text-white text-[11px] rounded ">- {{product.get_descuento}}%</p>
                            </div>
                            {% else %}
                            <div class="text-[11px] md:px-5 bg-white mx-1 py-[1px]">NEW</div>
                            {% endif %}
                        </div>
                        <div  id="card-{{product.id}}-h" class="bg-white"></div>
                        <div class="md:px-5 bg-white mx-1">
                            <div class="pt-3 flex items-center justify-between">
                                <p class="line-clamp-2 md:line-clamp-1 leading-[16px] h-[33px] md:h-[17px]">{{ product.nombre }}</p>
                            </div>
                            {% if product.get_descuento > 0 %}
                            <div class="flex space-x-2">
                                <p class="pt-1 font-semibold text-green-700">{{product.precio|floatformat:2}}€</p>
                                <p class="pt-1 line-through">{{product.precio_retail|floatformat:2}}€</p>
                            </div>
                            {% else %}
                            <p class="pt-1 font-semibold">{{product.precio|floatformat:2}}€</p>
                            {% endif %}
                            <p class="text-xs mt-3">Disponible en varias tallas</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            {% if products.count > 0 %}
            <div class="flex text-xs mt-5">
                <p>{{products.count}} artículos</p>
            </div>
            {% endif %}
            {% if products.count == 0 %}
            <div class="text-sm relative border flex px-14 w-full py-3 bg-red-100 mt-4">
                <div class="absolute left-0 top-0 h-full w-[4px] bg-red-600"></div>
                <svg class="h-5 w-5 text-red-600 absolute top-[13px] left-5"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
                <div class="text-red-600 flex flex-wrap space-x-1">
                    <p>No hay productos que concuerden con la selección.</p>
                    {% for category in categories %}
                    {% if category.slug == active_category %}
                    <a href="{% url 'shop' %}?category={{ category.slug }}" class="text-red-500 hover:text-red-600 underline">Ver todos los productos de {{category.nombre}}.</a> 
                    {% endif %}
                    {% endfor %}
                    {% if active_category == '' %}
                    <a href="{% url 'shop' %}" class="text-red-500 hover:text-red-600 underline">Ver todos los productos de la tienda.</a> 
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
