{% extends 'core/base.html' %}

{% block title %}Tienda{% endblock %}

{% block content%}

<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto overflow-hidden max-[1300px]:-mt-6 -mt-2 mb-2">

    <div class="mt-2 max-width-3xl max-auto grid place-content-center bg-green-500 h-[50px]"></div>

    <div class="mt-2 flex flex-wrap min-h-screen">
        <div class="hidden lg:block w-[20%] border-r pr-10">

            <h3 class="mt-4 mb-3 text-xl uppercase">Categorias</h3>
            <ul class="space-y-2">
                <li><a href="{% url 'shop' %}" class="{% if not active_category %}text-green-500 {% else %}text-gray-500 {% endif %}"><strong>Todas las categorias</strong></a></li>
                {% for category in categories %}
                <li><a href="{% url 'shop' %}?category={{ category.slug }}" class="{% if category.slug == active_category %}text-green-500 {% else %}text-gray-500 {% endif %}">{{category.nombre}}</a></li>
                {% endfor %}
            </ul>
            <div class="text-gray-800 text-xs mt-10">
                <div class="text-sm font-semibold">Precio</div>
                <div class="range-input mt-3 w-full relative mb-10">
                    <div class="absolute top-0 w-full h-[10px] bg-neutral-200 border border-gray-400 rounded"></div>
                    <input class="w-full slider-range absolute top-0" type="range" name="rangemin" value="{{min_max_price.precio__min}}" id="rangemin" min="{{min_max_price.precio__min}}" max="{{min_max_price.precio__max}}">
                    <input class="w-full slider-range absolute top-0" type="range" name="rangemax" value="{{min_max_price.precio__max}}" id="rangemax" min="{{min_max_price.precio__min}}" max="{{min_max_price.precio__max}}">
                    
                    <div class="flex flex-wrap absolute -top-2 w-full"> 
                        <div id="range-prices" class="flex flex-wrap absolute top-8 w-full text-center text-gray-800 font-semibold justify-center" >
                            {{min_max_price.precio__min}},00€ - {{min_max_price.precio__max}},00€
                        </div>
                    </div>

                </div>
            </div>
            <div class=" mt-20">
                <div class="text-sm font-semibold">Sexo</div>     
                <div class="sexo flex flex-wrap text-xs mt-3 text-center"> 
                    {% for s in sexo_list %}
                    {% if s == 'hombre' %}
                    <button value="hombre" class="w-[48%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                        <p class="place-self-center">Hombre</p>
                    </button>
                    {% endif %}
                    {% if s == 'mujer' %}
                    <button value="mujer" class="w-[48%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                        <p class="place-self-center">Mujer</p>
                    </button>
                    {% endif %}
                    {% if s == 'nino' %}
                    <button value="nino" class="w-[48%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                        <p class="place-self-center">Niño</p>
                    </button>
                    {% endif %}
                    {% if s == 'nina' %}
                    <button value="nina" class="w-[48%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                        <p class="place-self-center">Niña</p>
                    </button>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            
            <div class=" mt-10 size">
                <div class="text-sm font-semibold">Tallas</div>     
                <div class="flex flex-wrap text-xs mt-3 text-center"> 
                    {% for i in size_num %}
                        <button value="{{i}}" class="w-[23%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                            <p class="place-self-center">{{i}}</p>
                        </button>
                    {% endfor %}
                </div>
                <div class="mt-2 flex flex-wrap text-xs mt-3 text-center"> 
                    {% for i in size_let %}
                        <button value="{{i}}" class="w-[23%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                            <p class="place-self-center">{{i}}</p>
                        </button>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-10 marca">
                <div class="text-sm font-semibold mb-4">Marcas</div>     
                {% for i in brands %}
                    <div class="flex items-center mb-1">
                        <input id="default-checkbox" type="checkbox" value="{{i.slug}}" class="w-4 h-4 rounded">
                        <label for="default-checkbox" class="ml-2 text-sm">{{i.slug}}</label>
                    </div>
                {% endfor %}
            </div>


        </div>
        <div class=" w-[100%] lg:w-[80%] text-gray-600 px-4">
            <div class="h-[100px] w-full relative">
                {% if selecciones_querry %}
                {% for sel in selecciones_querry %}
                    <div>{{sel}}</div> 
                {% endfor %}
                {% endif %}
                {% if active_category %}
                    <div>{{active_category}}</div>
                {% endif %}
                <div class="flex space-x-2 text-xs mt-2 text-gray-700">
                    <div class="">Tus selecciones: </div>
                    <div class="selec_price flex space-x-2">
                        {% for sel in selecciones_price %}
                            <button value="{{sel}}" class="p-2 border border-gray-300 rounded flex hover:border-gray-800 hover:bg-gray-100">
                                <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="18" y1="6" x2="6" y2="18" />  <line x1="6" y1="6" x2="18" y2="18" /></svg>
                                <p>{{sel}}</p>
                            </button>
                        {% endfor %}
                    </div>
                    <div class="selec_sx flex space-x-2">
                        {% for sel in selecciones_sx %}
                            <button value="{{sel}}" class="p-2 border border-gray-300 rounded flex hover:border-gray-800 hover:bg-gray-100">
                                <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="18" y1="6" x2="6" y2="18" />  <line x1="6" y1="6" x2="18" y2="18" /></svg>
                                {% if sel == 'nino' %}
                                    <p>Niño</p>
                                {% endif %}
                                {% if sel == 'nina' %}
                                    <p>Niña</p>
                                {% else %}
                                    <p>{{sel}}</p>
                                    {% endif %}
                                </button>
                        {% endfor %}
                    </div>
                    <div class="selec_sz flex space-x-2">
                        {% for sel in selecciones_sz %}
                            <button value="{{sel}}" class="p-2 border border-gray-300 rounded flex hover:border-gray-800 hover:bg-gray-100">
                                <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="18" y1="6" x2="6" y2="18" />  <line x1="6" y1="6" x2="18" y2="18" /></svg>
                                <p>{{sel}}</p>
                            </button>
                        {% endfor %}
                    </div>
                    <div class="selec_ma flex space-x-2">
                        {% for sel in selecciones_ma %}
                            <button value="{{sel}}" class="p-2 border border-gray-300 rounded flex hover:border-gray-800 hover:bg-gray-100">
                                <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="18" y1="6" x2="6" y2="18" />  <line x1="6" y1="6" x2="18" y2="18" /></svg>
                                <p>{{sel}}</p>
                            </button>
                        {% endfor %}
                    </div>

                </div>
                <div class="flex flex-wrap space-x-4 text-xs absolute bottom-0">
                    <p>{{products.count}} artículos</p>
                    <p>Ordenar:</p>
                    <div class="relative text-black">
                        <a class="absolute -top-1 w-[80px] h-full py-1 inline-block rounded hover:bg-gray-100 relative transition duration-200 cursor-pointer">
                            <p class="text-center">Más popular</p>
                        </a>
                        <a class="absolute -top-1 w-[80px] h-full py-1 inline-block rounded hover:bg-gray-100 relative transition duration-200 cursor-pointer">
                            <p class="text-center">Más barato</p>
                        </a>
                        <a class="absolute -top-1 w-[80px] h-full py-1 inline-block rounded hover:bg-gray-100 relative transition duration-200 cursor-pointer">
                            <p class="text-center">Mayor precio</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap w-full">
                {% for product in products %}
                    {% include 'product/partials/product_list_item.html' %}
                {% endfor %}
                {% for product in products %}
                    {% include 'product/partials/product_list_item.html' %}
                {% endfor %}
                {% for product in products %}
                    {% include 'product/partials/product_list_item.html' %}
                {% endfor %}
                {% for product in products %}
                    {% include 'product/partials/product_list_item.html' %}
                {% endfor %}
                {% for product in products %}
                    {% include 'product/partials/product_list_item.html' %}
                {% endfor %}
                {% for product in products %}
                    {% include 'product/partials/product_list_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
