{% extends 'core/base.html' %}

{% block title %}{{product.nombre}}{% endblock %}

{% block content%}
{% load replacement %}
<style> 
    .New_reseña{
        transform: translate(-50%, -50%);
    }
    
    .mySwiper_products [class^="swiper-button-"]::after{
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        width: 15px;
        z-index: 10;
        color: rgb(83, 83, 83);
    }
    .swiper-pagination-bullet-active {
        background-color: rgb(131, 131, 131) !important;
    }
</style>

{% include 'product/partials/menu_tallas_mobile.html' %}

<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto max-[1300px]:-mt-6 -mt-2 mb-5 relative xl:px-0 px-4">

    {% include 'core/partials/banner.html' %}

    <div class="my-2 hidden lg:flex text-sm space-x-1 cursor-default">
        <a class="cursor-pointer hover:underline" href="{% url 'shop' %}">Inicio</a> 
        <div>></div>
        <a class="cursor-pointer hover:underline" href="{% url 'shop' %}?category={{product.categoria|lower_}}">{{product.categoria}}</a> 
        <div>></div>
        <a class="cursor-pointer hover:underline" href="{% url 'marca' product.marca.slug %}">{{product.marca}}</a> 
    </div>
    <div class="my-2 flex lg:hidden"></div>

    <a href="{% url 'marca' product.marca.slug %}"><img class="lg:hidden block image_marca md:w-20 w-[125px] aspect-[3/1] object-contain absolute top-20 md:top-[125px] right-5 md:right-[320px] z-[3]" 
        src={{product.marca.get_image}}>
    </a>
    <div class="flex flex-wrap relative">

        <div class="md:h-[600px] w-full md:w-[60%] flex relative ">
            <div class="hidden lg:block w-[11%] h-full overflow-auto space-y-4 mr-5">
                <img 
                    id = "ImageProd"
                    onmouseover="Image_mouseover('{{product.image}}')"
                    class="w-[full] object-contain aspect-[1/1] rounded border cursor-pointer" 
                    src="{{product.image}}"
                >
                {% for image in images_extra %}
                    <img 
                    id ="ImageExtra"
                    onmouseover="Image_mouseover('{{image.image.url}}')"
                    class="w-[full] object-contain aspect-[1/1] rounded border cursor-pointer" 
                    src="{{image.image.url}}"
                    >
                {% endfor %}
            </div>
            <div class="hidden lg:block w-[75%] relative">
                <img 
                    id = "ImageCenter"
                    class="w-full object-contain h-full aspect-[1/1] object-top" 
                    src="{{product.image}}"
                >
                {% for precio in dic_sizes_precio %}
                    <div id="precio_desc-{{precio.3}}" class="hidden">
                        {% if precio.4 > 0 %}
                        <p class="absolute top-0 left-0 bg-green-700 px-2 py-1 text-white text-sm">- {{precio.4}}%</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <div id="original_desc">
                    {% if product.get_descuento > 0 %}
                    <p class="absolute top-0 left-0 bg-green-700 px-2 py-1 text-white text-sm">- {{product.get_descuento}}%</p>
                    {% endif %}
                </div>
                

                <div id="cursor_magnet" class="absolute w-[150px] h-[100px] bg-gray-100 border border-solid border-gray-200 opacity-50 cursor-zoom-in hidden">
    
                </div>
            </div>
            <div class="lg:hidden block w-full relative md:mr-10 overflow-hidden">
                {% include 'product/partials/swipperimg.html' %}
            </div>

            <a id="ImgMarca" href="{% url 'marca' product.marca.slug %}"><img class="hidden lg:block image_marca w-20 lg:w-[125px] aspect-[3/1] object-contain absolute top-0 right-5 z-[3]" 
                src={{product.marca.get_image}}>
            </a>
        </div>

        <div id="information" class="information w-full md:w-[40%] ">
            <h1 class="text-xl md:text-2xl">{{product.nombre}}</h1>
            <input id="info_precios" value="{{dic_sizes_precio}}" class="hidden"></input>
            {% for precio in dic_sizes_precio %}
            <div id="precio_producto-{{precio.3}}" class="hidden">
                {% if precio.4 > 0 %}
                <p class="mt-1 text-xs text-gray-500 line-through">PVR: {{precio.0|floatformat:2}} €</p>
                <p class="-mt-2 text-[30px] text-green-600 font-bold">{{precio.1|floatformat:2}} €</p>
                <p class="-mt-1 text-xs text-gray-500">Te ahorras {{precio.2|floatformat:2}} €</p>
                {% else %}
                <p class=" text-[30px] text-green-600 font-bold">{{precio.1|floatformat:2}} €</p>
                {% endif %}
            </div>
            {% endfor %}
            <div id="original_price">
                {% if product.get_descuento > 0 %}
                <p class="mt-1 text-xs text-gray-500 line-through">PVR: {{product.precio_retail|floatformat:2}} €</p>
                <p class="-mt-2 text-[30px] text-green-600 font-bold">{{product.get_display_precio|floatformat:2}} €</p>
                <p class="-mt-1 text-xs text-gray-500">Te ahorras {{product.get_ahorro|floatformat:2}} €</p>
                {% else %}
                <p class=" text-[30px] text-green-600 font-bold">{{product.get_display_precio|floatformat:2}} €</p>
                {% endif %}
            </div>
            

            <div class="relative mt-1">
            {% if product.get_rating > 0 %}
                {% include 'product/partials/stars_review.html' %}
                <div class="cursor-pointer text-sm text-gray-500">
                    <p class="absolute top-6 min-[361px]:top-0 md:top-6 xl:top-0 left-0 min-[361px]:left-28 md:left-0 xl:left-28 hover:text-black hover:underline underline-offset-4" onclick="GoOpinions()">
                        {{product.reviews.all.count}} Opiniones
                    </p>
                    <p class="absolute top-6 min-[361px]:top-0 md:top-6 xl:top-0 left-[83px] min-[361px]:left-[195px] md:left-[83px] xl:left-[195px] underline-offset-4">
                        |
                    </p>  
                    <p class="absolute top-6 min-[361px]:top-0 md:top-6 xl:top-0 left-[98px] min-[361px]:left-[210px] md:left-[98px] xl:left-[210px] hover:text-black hover:underline underline-offset-4" onclick="FirstOp()">
                        Déjanos tu opinion
                    </p> 
                </div>
                <hr class="w-full mt-7 min-[361px]:mt-3 md:mt-7 xl:mt-3">
                {% else %}
                <p class="cursor-pointer text-sm text-gray-500 mt-2 hover:text-black hover:underline underline-offset-4" onclick="FirstOp()">Sé el primero en opinar</p>
                <hr class="w-full mt-3">
            {% endif %}
            </div>

            {% if product.variants != 'None' %}
            <div class="mt-2">
                <div class="font-semibold text-gray-800">Colores</div>
    
                <div class="flex w-full h-[100px] space-x-4 text-sm mt-2 overflow-auto">
                    {% for var in variant_colors %}
                        {% if forloop.first %}
                            <a class="aspect-[1/1] rounded border-black border h-[90%]">
                                <img src="{{var.image}}" class="object-contain rounded">
                            </a>
                        {% else %}
                        <a href="{% url 'variant_product' product.slug var.color.slug %}" class="aspect-[1/1] rounded border hover:border-gray-400 h-[90%]">
                            <img src="{{var.image}}" class="object-contain rounded">
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div class="mt-4 text-sm lg:text-base">
                <div class="font-semibold text-neutral-800 mb-2">Tallas</div>
                <div class="lg:grid hidden xl:grid-cols-9 lg:grid-cols-7 md:grid-cols-5 grid-cols-7 gap-x-4 gap-y-1 text-sm pr-4"> 
                    {% for i in sizes %}
                        {% if i in size %}
                        <div id="TallasId-{{i}}" onclick="SelectSize('{{i}}')" class="w-[55px] h-[50px] border rounded grid font-semibold hover:border-neutral-800 cursor-pointer">
                            <p class="place-self-center">{{i}}</p>
                        </div>
                        {% else %}
                                <div class="w-[55px] h-[50px] border rounded grid bg-neutral-200 text-neutral-500 font-semibold">
                                    <p class="place-self-center">{{i}}</p>
                                </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <a 
                    id="OptionTallas" 
                    class=" border w-full inline-block py-2 rounded bg-white relative transition duration-500 cursor-pointer block lg:hidden"
                    onclick="menu_tallas_mobile()"
                    >
                    <svg class="w-4 h-4 absolute top-[50%] right-[5%] -translate-y-[50%]"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5l7 7-7 7"/>
                    </svg>
                    <input readonly="readonly" class="pl-4" id="EscogeTalla" value="Escoge una talla ..."></input>
                </a>
            </div>
                
            <div id="noTallas" class="hidden mt-3 flex"> 
                <svg class="h-3 w-3 text-red-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"/></svg>
                <p class="text-sm text-red-500">Selecciona una talla.</p> 
            </div>
            
            <div class="mt-5 text-xs text-green-700 font-semibold">Producto en Stock. Entrega en 24h</div>

            <div id="top_añadir_carrito" class="mt-1">
                <a 
                id="añadir_carrito-" 
                class="w-full flex rounded py-3 bg-green-600 text-white hover:bg-black relative transition duration-500 cursor-pointer drop-shadow-md"
                onclick="NoTallas()"
                >
                <div class="mx-auto flex space-x-4">
                    <div class="my-auto">
                        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" d="M8 5h4m-2 2V3M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.938-11H17l-2 7H5m0 0L3 4m0 0h2M3 4l-.792-3H1"/>
                        </svg>
                    </div>
                    
                    <p class="text-center text-sm lg:text-base">Añadir al carrito</p>
                </div>
                    
                </a>
                {% for i in size_special %}
                <a 
                    id="añadir_carrito-{{i}}"
                    title="Buy_prod"
                    href="#" 
                    class="hidden flex w-full inline-block rounded py-3 bg-green-600 text-white hover:bg-black relative transition duration-500 cursor-pointer drop-shadow-md"
                    hx-get = "{% url 'add_to_cart' product.id color_first.code i %}"
                    hx-target = "#menu-cart-button"
                    hx-swap = "innerHTML"
                    onclick="EnviarCheckOut()"
                    >
                    <div class="mx-auto flex space-x-4">
                        <div class="my-auto">
                            <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" d="M8 5h4m-2 2V3M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.938-11H17l-2 7H5m0 0L3 4m0 0h2M3 4l-.792-3H1"/>
                            </svg>
                        </div>
                        
                        <p class="text-center text-sm lg:text-base">Añadir al carrito</p>
                    </div>
                </a>
                {% endfor %}
            </div>
            
            <div class="flex flex-wrap mt-3 text-sm">
                <iframe name="none" style="display:none;"></iframe>

                {% if request.user.is_authenticated %}
                    <form method="post" action="{% url 'update_favorito' product.id color_first.code 'añadir' %}" target="none" 
                        id="Favorito_0"
                        class="relative cursor-pointer rounded py-2 bg-gray-100 hover:bg-gray-300 w-[79%] lg:w-[59%] border-[0.1px] drop-shadow-md"
                        onclick="this.classList.add('hidden'); document.getElementById('Favorito_1').classList.remove('hidden');"
                        >
                        {% csrf_token %}
                        <button type="submit" class="w-full h-full">
                            <svg class="w-5 h-5 md:w-6 md:h-6 absolute top-[50%] left-[10px] -translate-y-[50%] text-gray-700"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                            </svg>
                            <p class="text-center">Añadir a favoritos</p>
                        </button>
                    </form>
                    <form method="post" action="{% url 'update_favorito' product.id color_first.code 'quitar' %}" target="none" 
                        id="Favorito_1"
                        class="relative cursor-pointer rounded py-2 bg-gray-100 hover:bg-gray-300 w-[79%] lg:w-[59%] border-[0.1px] hidden drop-shadow-md"
                        onclick="this.classList.add('hidden'); document.getElementById('Favorito_0').classList.remove('hidden');"
                        >
                        {% csrf_token %}
                        <button type="submit" class="w-full h-full">
                            <svg class="w-5 h-5 md:w-6 md:h-6 absolute top-[50%] left-[10px] -translate-y-[50%] text-gray-700"  fill="#dc2626" viewBox="0 0 24 24" stroke="none">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                            </svg>
                            <p class="text-center">Añadido a favoritos</p>
                        </button>
                    </form>
                {% else %}
                <div id="Favorito_no_user" class="relative cursor-pointer rounded py-2 bg-gray-100 hover:bg-gray-300 w-[79%] lg:w-[59%] border-[0.1px] drop-shadow-md" onclick="FirstOp()">
                    <button id="Favoritos" class="w-full h-full drop-shadow-md">
                        <svg class="w-5 h-5 md:w-6 md:h-6 absolute top-[50%] left-[10px] -translate-y-[50%] text-gray-700"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                        </svg>
                        <p class="text-center">Añadir a favoritos</p>
                    </button>
                </div>
                {% endif %}

                <div class="w-[2%]"></div>
                <button id="Compartir" class="relative cursor-pointer rounded py-2 bg-gray-100 hover:bg-gray-300 w-[19%] lg:w-[39%] border drop-shadow-md">
                    <svg class="w-5 h-5 relative left-[50%] max-[1023px]:-translate-x-[50%] lg:absolute lg:left-2 text-center text-gray-700"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"/>
                    </svg>
                    <p class="text-center hidden lg:block">Compartir</p>
                </button>
                
                <div id="Share" class="hidden w-[100%] lg:w-[38%] flex justify-center space-x-4 max-[1024px]:py-2">
                    <div class="w-8/10 flex justify-center space-x-2">
                        {% for Red in RedSocials %}
                        <a class="w-[30px]" target="_blank" id="{{Red.slug}}">
                            <img src="{{Red.get_image}}" class="w-[30px] h-full object-contain">
                        </a>
                        {% endfor %}
                    </div>
                    <div class="w-2/10 relative bg-gray-100 cursor-pointer" id="OutShare">
                        <svg class="h-6 w-6 absolute top-[13%]"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6M6 6l12 12"/>
                        </svg> 
                    </div>
                </div>
            </div>
        </div>
        
        <hr class="w-full mt-2">
        
        <div class="w-full flex items-center space-x-4 font-semibold text-gray-600 relative max-[326px]:text-[13px]">
            <button class="btn_s pt-6 pb-3 hover:text-black flex relative">
                <div class="mx-auto my-auto">Descripción</div>
                <div class="greens bg-green-600 h-[2.5px] w-full absolute bottom-0"></div>
            </button>
            <button class="btn_s pt-6 pb-3 hover:text-black flex relative">
                <div class="mx-auto my-auto">Opiniones del artículo ({{product.reviews.all.count}})</div>
                <div class="greens bg-green-600 h-[0px] w-full absolute bottom-0"></div>
            </button>
        </div>
        
        <hr class="w-full">
        
        <div class="content-box mt-6 w-[100%]">
            <div id="div-1" class="texts flex flex-wrap relative min-h-[200px]">
                {% if product.descripcion %}
                <div id="desc" class="w-[100%] md:w-[60%] text-gray-900 overflow-hidden text-[13px] text-justify md:pr-4 maxh">
                    {{product.descripcion | safe}}
                    <div  class="flex flex-col justify-center items-center mt-4">
                        {% if product.video %}
                        <iframe class="aspect-[560/315] h-[180px] min-[400px]:h-[220.5px] lg:h-[315px]" src="{{product.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        {% endif %}
                    </div>
                </div>
                <div class="hidden md:block md:w-[1%]"></div>
                <div class="sticky top-[140px] xl:top-5 w-[100%] md:w-[39%] text-gray-700 text-sm max-[768px]:mt-3 px-4 pt-2 bg-gray-100 h-max sm:mx-6 md:mx-0">
                    <p class="text-base font-semibold">¿Porque comprar en Esports Vivac?</p>
                    <ul class="py-4 list-[square] px-6 space-y-1">
                        <li>30 Años de Experiencia</li>
                        <li>Amplia Variedad de Marcas y Productos</li>
                        <li>Garantía de Devolución de 30 Días</li>
                        <li>Atención al Cliente Excepcional</li>
                        <li>Compromiso con la Calidad</li>
                    </ul>
                </div>
                {% endif %}
            </div>
            
            
            <div id="div-2" class="texts hidden flex flex-wrap relative h-max"> 
                <div class="w-[100%] lg:w-[60%] max-h-[500px] overflow-auto">
                    <input type="text" id="num_reviews" size="20" name="num_reviews" class="hidden" value="{{ product.reviews.all.count }}">
                   
                    <div class="rounded-xl border border-gray-300 mb-6">
                        <div class="relative">
                            {% for review in product.reviews.all %}
                                <div class="relative">
                                    {% if forloop.counter0 > 0 %}
                                    <hr class="w-full border-gray-300">
                                    {% endif %}

                                    <div class="flex w-full relative">
                                        <div class="w-[20%] sm:w-[20%] min-w-[80px] sm:min-w-[140px] my-auto">
                                            <a href="{% url 'product' review.product.slug %}" class="sm:w-[140px] rounded-l-xl">
                                                <img class="hover:shadow-lg rounded-l-xl" src="{{review.product.image}}">
                                            </a>
                                        </div>
                                        
                                        <div class="w-[80%] text-sm flex flex-wrap relative">
                                            <div class="w-[100%] md:w-[25%]">
                                                <div class="item-size">
                                                    <p class="font-semibold mt-4 mb-1">{{ review.titulo }}</p>
                                                    {% include 'product/partials/stars_review_siple.html' %}
                                                </div>
                                            </div>
                                            <div class="w-[100%] md:w-[75%] mt-2 md:mt-5 text-sm mb-10 md:mb-7 pr-[50px]">{{ review.content }}</div>
                                            <p class="text-xs absolute bottom-2 left-0">{{ review.created_by.first_name }} {{review.created_by.last_name}}, el {{ review.created_at|date:"d-m-Y" }}</p>

                                        </div>
                                        
                                        {% if review.created_by.email ==  request.user.email %}
                                        <a onclick="FirstOp()" class="absolute top-5 right-5 hover:text-black hover:scale-105 cursor-pointer">
                                            <svg class="h-6 w-6" <svg  width="24"  height="24"  viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />  <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" /></svg>
                                        </a>
                                        {% endif %}

                                    </div>

                                </div>
                            {% endfor %} 
                        </div>
                    </div>
                            
                    {% if product.reviews.all.count == 0 %}
                    <div class="text-sm relative border flex px-14 w-full py-3 bg-red-100 ">
                        <div class="absolute left-0 top-0 h-full w-[4px] bg-red-600"></div>
                        <svg class="h-6 w-6 text-red-600 absolute top-[10px] left-5"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>
                        <p class="text-red-600">¡Sé el primero en opinar sobre este producto!</p>
                    </div>
                    {% endif %}
                </div> 
                <div class="lg:w-[40%] pl-10 hidden lg:block xl:top-5 h-max sticky top-0">
                    
                    <a onclick="FirstOp()" class="inline-block relative border rounded flex justify-center w-full py-2 cursor-pointer hover:bg-gray-200 transition duration-500">
                        Escribir Reseña
                        <svg class="h-6 w-6 absolute left-2 scale-90"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z" /></svg>
                    </a>
                    
                </div>
            </div>
            
        </div>

        <hr class="w-full mt-2">

        <div id="leer_mas_menos" onclick="leer_mas_menos()" class="flex justify-center w-[100%] lg:w-[60%] mt-2 text-sm cursor-pointer select-none">
            <div id="leer_mas" class="flex flex-col justify-center items-center text-gray-500">
                <div>Leer más</div>
                <svg class="h-4 w-4"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                </svg>
            </div>      
            <div id="leer_menos" class="flex flex-col justify-center items-center text-gray-500 hidden">
                <div>Leer menos</div>
                <svg class="h-4 w-4"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>
                </svg>
            </div>
        </div>
        
        <div class="w-full flex items-center space-x-4 font-semibold text-black relative">
            <a href="{% url 'shop' %}" class="pt-6 pb-3">Otros Productos de la Tienda</a>
        </div>
        <div class="w-full relative">
            <div class="xl:px-0 overflow-hidden mx-10">
                <div class="swiper_products mySwiper_products block text-gray-600">
                    <div class="swiper-wrapper">
                            {% for product in products_list %}
                            <div onclick="window.location=`{% url 'product' product.slug %}`" class="swiper-slide w-1/2 md:w-1/3 pt-5 md:hover:shadow-[1px_1px_8px_rgba(0,0,0,0.1)] transition-shadow duration-200 border-b border-gray-300 relative cursor-pointer">
                                <img src="{{product.image}}" class="z-10 px-0 md:px-3 w-full mb-[80px] sm:mb-[50px] mt-0">
                                <div class="z-[15] text-sm absolute bottom-2 w-full">
                                    <div id="card-{{product.id}}-text" class="w-full transition-shadow duration-200 mt-1">
                                        {% if product.get_descuento > 0 %}
                                        <div class="flex md:px-5 bg-white mx-1">
                                            <p class="bg-green-700 py-[1px] px-[4px] text-white text-[11px] rounded ">- {{product.get_descuento}}%</p>
                                        </div>
                                        {% else %}
                                        <div class="text-[11px] md:px-5 bg-white mx-1 py-[1px]">NEW</div>
                                        {% endif %}
                                    </div>
                                    <div  id="card-{{product.id}}-h" class="bg-white"></div>
                                    <div class="md:px-5 bg-white mx-1">
                                        <div class="pt-3 flex items-center justify-between">
                                            <p class="line-clamp-2 md:line-clamp-1 leading-[16px] h-[33px] md:h-[17px]">{{ product.nombre }}</p>
                                        </div>
                                        {% if product.get_descuento > 0 %}
                                        <div class="flex space-x-2">
                                            <p class="pt-1 font-semibold text-green-700">{{product.precio|floatformat:2}}€</p>
                                            <p class="pt-1 line-through">{{product.precio_retail|floatformat:2}}€</p>
                                        </div>
                                        {% else %}
                                        <p class="pt-1 font-semibold">{{product.precio|floatformat:2}}€</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
            {% if review_user %}
                {% for review in product.reviews.all %}
                    {% if review.created_by.username ==  request.user.username %}
                        {% include 'product/partials/review.html' %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% include 'product/partials/review.html' %}
            {% endif %}
        {% endif %}
        <div id="zooming" class="absolute border top-12 min-[1218px]:top-0 left-[55%] w-[450px] min-[1218px]:w-[550px] min-[1345px]:w-[600px] bg-green-500 z-[2] aspect-[1/1] hidden">
            
        </div>
    </div>

</div>
    
    {% endblock %}

{% block scripts %}
<script>
    var swiper_products = new Swiper(".mySwiper_products", {
        breakpoints: {
            1024: { slidesPerView: 4},
            640: { slidesPerView: 3},
        },
        slidesPerView: 2,
        spaceBetween: 20,
        freeMode: false,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
    {% include 'product/partials/scripts_p.html' %}
{% endblock %}

