{% if item %}
<div class="product mb-6 flex pr-6" id="cart-item-{{item.variant.id}}">
    <a href="{% url 'variant_product' item.variant.product.slug item.variant.color.slug %}" class="w-1/4">
        <img class="hover:shadow-lg rounded-xl" src="{{item.variant.image}}">
    </a>

    <div class="w-3/4 pl-6">
        <div class="flex justify-between">

            <a href="" class="text-lg">{{item.variant.product.nombre}}</a>
            <span class="mb-6 pt-1 text-green-600 font-semibold">{{item.total_price|floatformat:2}}€</span>

        </div>

        <hr>

        <div class="quantity mt-6 flex items-center space-x-4">

            <a 
            title="minusitemquantity"
            class="px-3 py-1 bg-gray-200 cursor-pointer"
            hx-get="{% url 'update_cart' item.variant.product.id item.color item.size 'decrement' %}"
            hx-target="#cart-item-{{item.variant.id}}"
            hx-swap="outerHTML"
            >
            -
            </a>
            <span>{{item}}</span>
            <span>{{item.col}}</span>
            <span>{{item.quantity}}</span>
            <span>{{item.color}}</span>
            <button class="" value="{{item.size}}" id="item-size">{{item.size}}</button>

            <a 
            title="sumitemquantity"
            class="px-3 py-1 bg-gray-200 cursor-pointer"
            hx-get="{% url 'update_cart' item.variant.product.id item.color item.size 'increment' %}"
            hx-target="#cart-item-{{item.variant.id}}"
            hx-swap="outerHTML"
            >
            +
            </a>

        </div>
    </div>
</div>  

<script>
    const item_size = document.getElementById('item-size')
    
    item_size.innerHTML = `<div>${item_size.value.replace('|','/')}</div>`
</script>
{% endif %}