{% if cart|length > 0  %}
<a href="{% url 'cart' %}" id="menu-cart-button" class="hidden flex justify-center items-center hover:text-black">
    <span class="absolute -top-2 left-5 bg-green-600 rounded-full h-4 w-4 flex items-center justify-center text-xs text-white z-[3]">
        {{cart|length}}
    </span>
</a>
{% else %}
<a id="menu-cart-button" class="hidden flex justify-center items-center hover:text-black">
    <span class="absolute -top-2 left-5 bg-gray-200 rounded-full h-4 w-4 flex items-center justify-center text-xs text-white z-[3]">
        0
    </span>
</a>
{% endif %}