<a href="{% url 'cart' %}" title="cart" class="flex justify-center items-center hover:text-black cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
    </svg>                          
</a>

<a href="{% url 'cart' %}" class="flex justify-center items-center hover:text-black">
    {% if cart|length > 0  %}
    <span class="absolute -top-2 left-5 bg-green-600 rounded-full h-4 w-4 flex items-center justify-center text-xs text-white">
        {{cart|length}}
    </span>
    {% else %}
    <span class="absolute -top-2 left-5 bg-gray-200 rounded-full h-4 w-4 flex items-center justify-center text-xs text-white">
        0
    </span>
    {% endif %}
</a>

<span class="text-[11px] hidden md:flex ">Carrito</span>

{% if cart|length > 0 %}
<div open id="minicart" class="minicart border-dropdown-cart absolute w-[400px] bg-white text-gray-800 text-sm rounded-sm top-[50px] left-[-360px] pt-2"> 
    <div class="max-h-[250px] overflow-auto">
        {% for item in cart %}
        {% if forloop.counter0 > 0 %}
            <hr class="mb-2">
        {% endif %}
        {% if item %}
            <span class="flex pr-6 mb-2">
                <a href="{% url 'variant_product' item.variant.product.slug item.variant.color.slug %}" class="w-1/4">
                    <img class="" src="{{item.variant.image}}">
                </a>
                <span class="w-3/4">
                    <span class="flex justify-between space-x-4">
            
                        <span class="text-sm">{{item.variant.product.nombre}}</span>
                        <span class="mb-6 pt-1 text-black font-semibold">{{item.total_price|floatformat:2}}€</span>
            
                    </span>
            
                    <span class="quantity flex items-center space-x-4 text-gray-500 text-sm">
            
                        <span>Talla: {{item.size}}</span>
                        <span>Color: {{item.color}}</span>
                        
                    </span>
                </span>
            </span>
        {% endif %}
        {% endfor %}
    </div>
    <div class="h-[120px] relative bg-gray-100">
        <div class="absolute text-black font-semibold top-[20px] right-[30px] flex space-x-4">
            <span class="text-sm">Subtotal:</span>
            <span>{{cart.get_total_cost|floatformat:2}} €</span>
        </div>
        <div class="flex w-full space-x-[20px] justify-center absolute top-[60px]">
            <a href="{% url 'cart' %}" class="border border-gray-300 w-[130px] inline-block py-2 rounded bg-white hover:bg-gray-100 relative transition duration-500 cursor-pointer">
                <p class="text-center">Var Carito</p>
            </a>
            <a href="{% url 'checkout' %}" class="border border-gray-300 w-[200px] inline-block py-2 rounded bg-green-600 text-white hover:bg-black relative transition duration-500 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 absolute left-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                </svg> 
                <p class="text-center">Realizar pedido</p>
            </a>
        </div>
    </div>
</div>
{% endif %}
