{% load i18n %}
<script>
    /*INICIALIZAR PÁGINA*/

    function delay(ms) {
        return new Promise((resolve, reject) => {
            timeoutId = setTimeout(() => {
            resolve();
            timeoutId = null; // Clear the timeout when it's done
            }, ms);
        });
    }

    if(document.getElementById('iniciar_session')){
        var Form = "Formulario2"
    }else{Form = "Formulario"}
    

    abrir_formulario();

    async function abrir_formulario() {
        await delay(Math.floor(Math.random() * 1500) + 500);
        
        try{
            document.getElementById("iniciar_session").classList.remove("hidden");
            await delay(800);
        }catch{}
        document.getElementById(Form).classList.remove("hidden");
        document.getElementById("rueda").classList.add("hidden");

    }
    /*------------------------------------------*/

    const passwordInput = document.getElementById("password-input");
    const passwordInput2 = document.getElementById("password-input2");

    eye.addEventListener('click', () => {
        if(pw_open.classList.contains('hidden')){
            pw_open.classList.remove('hidden');
            pw_close.classList.add('hidden');
        }
        else if(pw_close.classList.contains('hidden')){
            pw_close.classList.remove('hidden');
            pw_open.classList.add('hidden');
        }
        
        if (passwordInput.type === "password") {
        passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    });
    eye2.addEventListener('click', () => {
        if(pw_open2.classList.contains('hidden')){
            pw_open2.classList.remove('hidden');
            pw_close2.classList.add('hidden');
        }
        else if(pw_close2.classList.contains('hidden')){
            pw_close2.classList.remove('hidden');
            pw_open2.classList.add('hidden');
        }

        if (passwordInput2.type === "password") {
        passwordInput2.type = "text";
        } else {
            passwordInput2.type = "password";
        }
    });

    function insertAfter(referenceNode, newNode) {
        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    }

    /*Provincia*/
    provincia = document.getElementsByName('provincia')
    provincia.forEach(select => {
        select.addEventListener('change', () =>{
            provincia.forEach(select => {
                select.parentElement.classList.add("border-gray-400")
                select.parentElement.classList.add("hover:border-black")
                select.parentElement.classList.remove("border-red-500")
                try{
                    select.parentElement.parentElement.removeChild(select.parentElement.parentElement.childNodes[2]);
                }catch(e){}
            });
        });
    });


    const Input_All = document.querySelectorAll('.Inputs input');

    Input_All.forEach(input => {
        input.addEventListener('focus', () => {
            
        });
        input.addEventListener('blur', () => {
            prove_input(input)
        });
        input.addEventListener('keyup', (event)=> {
            prove_input(input);
        }); 
        input.addEventListener('onchange', (event)=> {
            prove_input(input);
        }); 

    });

    const isNumeric = n => !isNaN(n);
    const haveUpperCase = (string) => /[A-Z]/.test(string)
    const haveLowCase = (string) => /[a-z]/.test(string)
    const haveNum = (string) => /[0-9]/.test(string)
    var msg = "{% trans 'Campo requerido.' %}"
    var password1 = ''
    var password2 = ''
    var provincias_código_postal = {
        'A Coruña': '15',
        'Álava': '01',
        'Albacete': '02',
        'Alicante': '03',
        'Almería': '04',
        'Asturias': '33',
        'Ávila': '05',
        'Badajoz': '06',
        'Baleares': '07',
        'Barcelona': '08',
        'Burgos': '09',
        'Cáceres': '10',
        'Cádiz': '11',
        'Cantabria': '39',
        'Castellón': '12',
        'Ciudad Real': '13',
        'Córdoba': '14',
        'Cuenca': '16',
        'Girona': '17',
        'Granada': '18',
        'Guadalajara': '19',
        'Gipuzkoa': '20',
        'Huelva': '21',
        'Huesca': '22',
        'Jaén': '23',
        'La Rioja': '26',
        'Las Palmas': '35',
        'León': '24',
        'Lleida': '25',
        'Lugo': '27',
        'Madrid': '28',
        'Málaga': '29',
        'Murcia': '30',
        'Navarra': '31',
        'Ourense': '32',
        'Palencia': '34',
        'Pontevedra': '36',
        'Salamanca': '37',
        'Segovia': '40',
        'Sevilla': '41',
        'Soria': '42',
        'Tarragona': '43',
        'Santa Cruz de Tenerife': '38',
        'Teruel': '44',
        'Toledo': '45',
        'Valencia': '46',
        'Valladolid': '47',
        'Vizcaya': '48',
        'Zamora': '49',
        'Zaragoza': '50',
        'Ceuta': '51',
        'Melilla': '52'
        };
    var prov_código_postal = 0
    provincia = document.getElementsByName('provincia')

    function removeChild_red(element){
        if (element.classList.contains("placeholder-red-500")) {
            element.classList.add("placeholder-gray-500", "hover:placeholder-black");
            element.classList.remove("placeholder-red-500");

            element.parentElement.classList.add("border-gray-400", "hover:border-black");
            element.parentElement.classList.remove("border-red-500");

            const childNodesLength = element.parentElement.parentElement.childNodes.length;
            if (childNodesLength === 3 || childNodesLength === 5) {
                element.parentElement.parentElement.removeChild(element.parentElement.parentElement.childNodes[2]);
            }
        }
    }
    function addChild_red(element){
        element.classList.remove("placeholder-gray-500", "hover:placeholder-black");
        element.classList.add("placeholder-red-500");

        element.parentElement.classList.remove("border-gray-400", "hover:border-black");
        element.parentElement.classList.add("border-red-500");

        const childNodesLength = element.parentElement.parentElement.childNodes.length;
        if (childNodesLength === 3 || childNodesLength === 5) {
            element.parentElement.parentElement.removeChild(element.parentElement.parentElement.childNodes[2]);
        }

        const error = document.createElement("div");
        error.classList.add("text-red-500", "text-xs");
        error.innerHTML = msg;
        insertAfter(element.parentElement, error);
    }


    function prove_input(i){

        msg = "{% trans 'Campo requerido.' %}"
        prove = true

        switch (i.name) {
            case 'phone':
                if (!isNumeric(i.value) || !/^(?:(?:\+?[0-9]{2,4})?[ ]?[6789][0-9]{8,13})$/.test(i.value)) {
                    msg = '{% trans "El número de teléfono no es correcto." %}';
                }else{prove = false}
                break;
            case 'zipcode':
                if (!isNumeric(i.value) || !/^(?:0[1-9]|[1-4]\d|5[0-2])\d{3}$/.test(i.value)) {
                    msg = "{% trans 'Lo sentimos. El código postal no es correcto.' %}"
                }else{prove = false}
                prov_código_postal = i.value.toString().substring(0,2);
                provincia.forEach(select => {
                    if(prov_código_postal == provincias_código_postal[`${select.value}`]){
                        removeChild_red(select)
                    }
                })
                break;

            case 'password1':
                password1 = i.value
                if (i.value.length < 8 || !haveUpperCase(i.value) || !haveLowCase(i.value) || !haveNum(i.value)) {
                    msg = "{% trans 'Esta contraseña no cumple los requisitos mínimos. 8 caracteres como mínimo, 1 letra mayúscula, 1 letra minúscula, 1 número.' %}"
                }else{prove = false}
                break;

            case 'password2':
                password2 = i.value
                if (i.value != password1) {
                    msg = "{% trans 'Las contraseñas no coinciden.' %}"
                }else{prove = false}
                break;

            case 'email_':
                if (!/^\w+([.-_+]?\w+)*@\w+([.-]?\w+)*(\.\w{2,10})+$/.test(i.value)) {
                    msg = "{% trans 'Por favor, escriba una dirección de correo válida. Por ejemplo hola@dominio.com.' %}"
                }else{prove = false}
                break;

            default:
                if(i.value == ''){
                    prove = true
                }else{prove = false}
        }

        /*Los dos Formularios*/
        let all_elements = document.getElementsByName(i.name);
        
        all_elements.forEach(input=> {
            if(prove){
                addChild_red(input)
            }else{
                removeChild_red(input)

                if(input.name == "password1" & i.value == password2){
                    removeChild_red(document.getElementsByName("password2")[0])  
                }
            }
        });

        return prove
    }
    
    function validate(i_cuenta){
        
        var check = true;

        if(i_cuenta){
            Input_All.forEach((input, index) => {
                if(index > 8 & prove_input(input)){
                    check = false;
                }
            })
        }else{
            Input_All.forEach((input, index) => {
                if(index < 8 & prove_input(input)){
                    check = false;
                }
            })
        }

        provincia.forEach(select => {
            if(select.value == 'Null' || prov_código_postal != provincias_código_postal[`${select.value}`]){
                check = false
                if(select.value != 'Null' & prov_código_postal != provincias_código_postal[`${select.value}`]){msg = "{% trans 'El código postal no coincide con la provincia.' %}"}
                addChild_red(select)
            
            }
        });

        return check
    }

    var user_id = -1
    var user_bool = ''
    var data = {}
    var j_cuenta = 0

    function buy2(event, i_cuenta){
        j_cuenta = i_cuenta;
        event.preventDefault()

        if(validate(i_cuenta)){
            console.log('valido')
            /*Crear cuenta*/
            data = {
                'csrf_token': '{{ csrf_token }}',
                'first_name': document.querySelector('input[name=first_name]').value,
                'last_name': document.querySelector('input[name=last_name]').value,
                'email': document.querySelector('input[name=email_]').value,
                'address': document.querySelector('input[name=address]').value,
                'city': document.querySelector('input[name=city]').value,
                'zipcode': document.querySelector('input[name=zipcode]').value,
                'phone': document.querySelector('input[name=phone]').value,
                'password': document.querySelector('input[name=password1]').value,
                'provincia': document.querySelector('select[name=provincia]').value,
                'detalles_envio': document.querySelector('textarea[name=detalles]').value,
                'envio': envios_precio,
                'i_cuenta': i_cuenta,
            }
            
            fetch('/create_user_/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' 
                },
                credentials: 'same-origin',
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(json =>{
                if(JSON.stringify(json) == '{"data":{}}'){
                    document.getElementById('error_user_password').classList.remove('hidden');
                }else{
                    if (!document.getElementById('error_user_password').classList.contains('hidden')){
                        document.getElementById('error_user_password').classList.add('hidden');
                    }
                    
                    user_id = json['data'].user_id
                    user_bool = json['data'].user_bool
                    data = json['data']
                    payment()
                }
            })
            .catch(function(error) {
                console.log('Errors', error)
            })
            /*ABRIR Datos de contacto y envío*/
        }
    }

    /*Formulario Superado continuar con el pago*/
    async function payment(){
        create_payment()
        const payment = document.getElementById('payment');
        
        document.getElementById("rueda3").classList.remove("hidden");
        document.getElementById("rueda_info").classList.remove("hidden");
        document.getElementById('ContactoForm').classList.add('hidden');
        const info = document.getElementById("info_shipment");
        info.innerHTML = `<div class='text-base'>${data.first_name}, ${data.last_name}</div> <div>${data.phone}</div> <div>${data.address}</div> <div>${data.zipcode}, ${data.city}, España</div>`;
        document.getElementById('datos_shipment').classList.remove('hidden');
        
        
        await delay(Math.floor(Math.random() * 1000)+ 700);
        payment.classList.remove('hidden');
        payment.scrollIntoView({ behavior: "smooth", block: "end"});
        document.getElementById('button_validate').classList.add('hidden');
        document.getElementById('button_validate_2').classList.add('hidden');
        document.getElementById('payment_form_button').classList.remove('hidden');
        
        document.getElementById("rueda_info").classList.add("hidden");
        document.getElementById("rueda3").classList.add("hidden");
    }

    let elements;
    let emailAddress = '';
    function create_payment(){

        // This is your test publishable API key. https://stripe.com/docs/payments/quickstart?lang=python
        stripe = Stripe('{{pub_key}}');

        initialize();
        checkStatus();

        document
            .querySelector("#payment_form_button")
            .addEventListener("click", handleSubmit);
        
        emailAddress = '';

    }

    var customer = ''

    // Fetches a payment intent and captures the client secret
    async function initialize() {
        const response = await fetch('/order/create_payment/', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}' 
            },
            body: JSON.stringify({ data, customer}),
        });
        
        const { clientSecret, customer_id } = await response.json();
        const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);
        customer = customer_id
        paymentIntent['customer'] = customer_id

        const appearance = {
            theme: 'stripe',
            variables: {
                colorPrimary: '#000000',
                colorBackground: '#ffffff',
                colorText: '#30313d',
                colorDanger: '#df1b41',
                // See all possible variables below
            }
        };
        elements = stripe.elements({ appearance, clientSecret });
        
        /*const linkAuthenticationElement = elements.create("linkAuthentication");
        linkAuthenticationElement.mount("#link-authentication-element");

        linkAuthenticationElement.on('change', (event) => {
            emailAddress = event.value.email;
        });*/

        const paymentElementOptions = {
            layout: {
                type: 'accordion',
                defaultCollapsed: false,
                radios: true,
                spacedAccordionItems: false
            }
        };

        const paymentElement = elements.create("payment", paymentElementOptions);
            paymentElement.mount("#payment-element");
    }
    
    function handleSubmit(e) {
        e.preventDefault();
        setLoading(true);

        /*Check if all quantity items of the card exists*/
        fetch('/check_cart/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}' 
            },
            credentials: 'same-origin',
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(json =>{
            console.log(JSON.stringify(json))
            if(JSON.stringify(json) == '{"error":{}}'){
                update_account(e)
            }else{
                document.getElementById('error_stock').classList.remove('hidden');
                setLoading(false);
            } 
            
        })
        .catch(function(error) {
            console.log('Errors', error)
        })
    }

    var user_str = ''
    function update_account(e) {
        if(user_bool != ''){
            user_str = `?email=${user_bool}`;

            fetch('/update_account/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' 
                },
                credentials: 'same-origin',
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(json =>{
                
                handleSubmit2(e)
                
                
                
            })
            .catch(function(error) {
                console.log('Errors', error)
            })

        } else{
            user_str = ''
            handleSubmit2(e)
        }
        
    }

    async function handleSubmit2(e){
        e.preventDefault();

        if(document.getElementById('default-checkbox').checked){
            const { error } = await stripe.confirmPayment({
                elements,
                confirmParams: {
                // Make sure to change this to your payment completion page--------------------------------------
                    return_url: "http://" + window.location.host + '/cart/success'+ user_str,
                    receipt_email: emailAddress,
                    
                },
            });

            const { error2 } = await stripe.confirmSepaDebitPayment(clientSecret, {
                payment_method: {
                    sepa_debit: ibanElement,
                    billing_details: {
                        name: data.name,
                        email: data.email,
                    },
                },
            }).then(function(result) {
                showMessage("An unexpected error occurred.");
            });
            
            // This point will only be reached if there is an immediate error when
            // confirming the payment. Otherwise, your customer will be redirected to
            // your `return_url`. For some payment methods like iDEAL, your customer will
            // be redirected to an intermediate site first to authorize the payment, then
            // redirected to the `return_url`.
            if (error.type === "card_error" || error.type === "validation_error") {
                showMessage(error.message);
            } else {
                showMessage("An unexpected error occurred.");
            }
        }else{document.getElementById('error_condiciones').classList.remove("hidden");}
        
        setLoading(false);

    }

    // Fetches the payment intent status after payment submission
    async function checkStatus() {
        const clientSecret = new URLSearchParams(window.location.search).get(
            "payment_intent_client_secret"
        );

        if (!clientSecret) {
            return;
        }

        const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);

        switch (paymentIntent.status) {
            case "succeeded":
                showMessage("Payment succeeded!");
                break;
            case "processing":
                showMessage("Your payment is processing.");
                break;
            case "requires_payment_method":
                showMessage("Your payment was not successful, please try again.");
                break;
            default:
                showMessage("Something went wrong.");
                break;
        }
    }

    // ------- UI helpers -------

    function showMessage(messageText) {
        const messageContainer = document.querySelector("#payment-message");

        messageContainer.classList.remove("hidden");
        messageContainer.textContent = messageText;

        setTimeout(function () {
            messageContainer.classList.add("hidden");
            messageContainer.textContent = "";
        }, 4000);
    }

    // Show a spinner on payment submission
    function setLoading(isLoading) {
        if (isLoading) {
            // Disable the button and show a spinner
            document.querySelector("#submit").disabled = true;
            document.querySelector("#spinner").classList.remove("hidden");
            document.querySelector("#button-text").classList.add("hidden");
        } else {
            document.querySelector("#submit").disabled = false;
            document.querySelector("#spinner").classList.add("hidden");
            document.querySelector("#button-text").classList.remove("hidden");
        }
    }


    function Formularioch(){
        if(crearcuenta.classList.contains("hidden")){   
            document.getElementById("crearcuenta").classList.remove("hidden");
            document.getElementById("nocuenta").classList.add("hidden");
            document.getElementById("Formulario").classList.remove("hidden");
            document.getElementById("Formulario2").classList.add("hidden");

            document.getElementById('button_validate').classList.remove('hidden');
            document.getElementById('button_validate_2').classList.add('hidden');
        }
        else{
            document.getElementById("crearcuenta").classList.add("hidden");
            document.getElementById("nocuenta").classList.remove("hidden");
            document.getElementById("Formulario").classList.add("hidden");
            document.getElementById("Formulario2").classList.remove("hidden");

            document.getElementById('button_validate').classList.add('hidden');
            document.getElementById('button_validate_2').classList.remove('hidden');
        }
    }

    
    const gasto_provincias = JSON.parse(document.getElementById('envios').value.replace(/'/g, "\""))
    const element_total = document.getElementById('total_ch')
    var envios_precio = 0

    function gastos(provincia){
        Object.keys(gasto_provincias).forEach( propiedad => {
            if (propiedad === provincia) {
                envios_precio = gasto_provincias[propiedad];

                const totalAmount = parseFloat(element_total.value.replace(',', '.'));

                if (totalAmount >= 100 & provincia != 'Baleares' & provincia != 'Las Palmas' & provincia != 'Santa Cruz de Tenerife') {
                    envios_precio = 0;
                }

                const elementGastosEnvio = document.getElementById('gastos_envio');
                elementGastosEnvio.innerHTML = envios_precio.toFixed(2).replace('.', ',') + ' €';

                const elementTotalCh2 = document.getElementById('total_ch_2');
                const totalPayment = totalAmount + envios_precio;
                elementTotalCh2.innerHTML = totalPayment.toFixed(2).replace('.', ',') + ' €';
            }
        })
    }

    /*Función para que después de apretar el botón siguiente en el formulario puedas volver a editarlo*/
    function volver_formulario(){
        const formulario = document.getElementById('ContactoForm').classList.remove('hidden')
        const info = document.getElementById('datos_shipment').classList.add('hidden')
        const tarjetas = document.getElementById('payment').classList.add('hidden')
        if(j_cuenta){
            document.getElementById('button_validate').classList.remove('hidden')
        }else{
            document.getElementById('button_validate_2').classList.remove('hidden')
        }
        document.getElementById('payment_form_button').classList.add('hidden')
    }


    function check_condiciones(){
        if(document.getElementById('default-checkbox').checked){
            document.getElementById('error_condiciones').classList.add("hidden");
        }else{
            document.getElementById('error_condiciones').classList.remove("hidden");
        }
    }


    /*Edit data form checkout*/
    const Data_Edit_Form = document.querySelectorAll('.data_edit_form input');
    Data_Edit_Form.forEach(input => {
        let focus = {}
        input.addEventListener('focus', () => {
            focus[input.name] = 1
            input.parentElement.children[0].classList.remove('text-neutral-600')
            input.parentElement.children[0].classList.add('text-black')
        });
        input.addEventListener('focusout', () => {
            focus[input.name] = 0
            input.parentElement.children[0].classList.add('text-neutral-600')
            input.parentElement.children[0].classList.remove('text-black')
        });
        input.addEventListener('mouseover', () => {
            input.parentElement.children[0].classList.remove('text-neutral-600')
            input.parentElement.children[0].classList.add('text-black')
        });
        input.addEventListener('mouseout', () => {     
            if (focus[input.name] === undefined || focus[input.name] == 0) {
                input.parentElement.children[0].classList.add('text-neutral-600')
                input.parentElement.children[0].classList.remove('text-black')
            }
        });
    });

    /*Detalles envio*/
    function detalles_envio(){
        if(det_nc.classList.contains('hidden')){
            det_nc.classList.remove('hidden')
            det_sc.classList.remove('hidden')
        }else{
            det_nc.classList.add('hidden')
            det_sc.classList.add('hidden')
        }
    }
    detalles_envio_nc.addEventListener('click', () => {
        detalles_envio()
    });
    detalles_envio_sc.addEventListener('click', () => {
        detalles_envio()
    });


    /*Error stock*/

    function check_cart(){
        fetch('/cart/change_cart/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}' 
            },
            credentials: 'same-origin',
            body: JSON.stringify('1'),
        })
        .then(response => response.json())
        .then(json =>{
            location.reload();
        })
        .catch(function(error) {
            console.log('Errors', error)
        })
    }


</script>