<script>
    /*INICIALIZAR PÁGINA*/

    function delay(ms) {
        return new Promise((resolve, reject) => {
            timeoutId = setTimeout(() => {
            resolve();
            timeoutId = null; // Clear the timeout when it's done
            }, ms);
        });
    }

    abrir_formulario();

    async function abrir_formulario() {
        await delay(Math.floor(Math.random() * 1500) + 500);
        
        try{
            document.getElementById("iniciar_session").classList.remove("hidden");
            await delay(800);
        }catch{}
        document.getElementById("Formulario").classList.remove("hidden");
        document.getElementById("rueda").classList.add("hidden");

    }
    /*------------------------------------------*/

    const passwordInput = document.getElementById("password-input");
    const passwordInput2 = document.getElementById("password-input2");

    eye.addEventListener('click', () => {
        if(pwopen.classList.contains('hidden')){
            pwopen.classList.remove('hidden');
            pwclose.classList.add('hidden');
        }
        else if(pwclose.classList.contains('hidden')){
            pwclose.classList.remove('hidden');
            pwopen.classList.add('hidden');
        }
        
        if (passwordInput.type === "password") {
        passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    });
    eye2.addEventListener('click', () => {
        if(pwopen2.classList.contains('hidden')){
            pwopen2.classList.remove('hidden');
            pwclose2.classList.add('hidden');
        }
        else if(pwclose2.classList.contains('hidden')){
            pwclose2.classList.remove('hidden');
            pwopen2.classList.add('hidden');
        }

        if (passwordInput2.type === "password") {
        passwordInput2.type = "text";
        } else {
            passwordInput2.type = "password";
        }
    });

    function insertAfter(referenceNode, newNode) {
        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    }

    /*Provincia*/
    provincia = document.getElementsByName('provincia')
    provincia.forEach(select => {
        select.addEventListener('change', () =>{
            provincia.forEach(select => {
                select.parentElement.classList.add("border-gray-400")
                select.parentElement.classList.add("hover:border-black")
                select.parentElement.classList.remove("border-red-500")
                try{
                    select.parentElement.parentElement.removeChild(select.parentElement.parentElement.childNodes[2]);
                }catch(e){}
            });
        });
    });


    const Input_All = document.querySelectorAll('.Inputs input');

    Input_All.forEach(input => {
        input.addEventListener('focus', () => {
            
        });
        input.addEventListener('blur', () => {
            prove_input(input)
        });
        input.addEventListener('keyup', (event)=> {
            prove_input(input);
        }); 
        input.addEventListener('onchange', (event)=> {
            prove_input(input);
        }); 

    });

    const isNumeric = n => !isNaN(n);
    const haveUpperCase = (string) => /[A-Z]/.test(string)
    const haveLowCase = (string) => /[a-z]/.test(string)
    const haveNum = (string) => /[0-9]/.test(string)
    var password1 = ''

    function prove_input(i){

        var prove = false;
        msg = "Campo requerido."

        if(i.value == ''){
            prove = true
            msg = "Campo requerido."
        }else{
            prove = true

            if(i.name == 'phone' && (!isNumeric(i.value) || !/^(?:(?:\+?[0-9]{2,4})?[ ]?[6789][0-9]{8,13})$/.test(i.value))){
                msg = "El número de teléfono no es correcto. Por favor introduzca uno de nuevo."

            }else if(i.name == 'zipcode' && (!isNumeric(i.value) || !/^(?:0[1-9]|[1-4]\d|5[0-2])\d{3}$/.test(i.value))){
                msg = "Lo sentimos. El código postal no es correcto."

            }else if((i.name == 'pasword1') && (i.value.length < 8 || !haveUpperCase(i.value) || !haveLowCase(i.value) || !haveNum(i.value))){
                msg = "Esta contraseña no cumple los requisitos mínimos. 8 caracteres como mínimo, 1 letra mayúscula, 1 letra minúscula, 1 número."

            }else if(i.name == 'pasword2' && i.value != password1){
                msg = "Las contraseñas no coinciden."

            }else if(i.name == 'email' &&  !/^\w+([.-_+]?\w+)*@\w+([.-]?\w+)*(\.\w{2,10})+$/.test(i.value) ){
                msg = "Por favor, escriba una dirección de correo válida. Por ejemplo hola@dominio.com."

            }else {
                prove = false

            }
            /*Para confirmar la contraseña*/
            if(i.name == 'pasword1'){
                password1 = i.value
            }
        }
        let allelements = document.getElementsByName(i.name);
        allelements.forEach(input=> {
            if(prove){
    
                input.classList.remove("placeholder-gray-500")
                input.classList.remove("hover:placeholder-black")
                input.classList.add("placeholder-red-500")
                input.parentElement.classList.remove("border-gray-400")
                input.parentElement.classList.remove("hover:border-black")
                input.parentElement.classList.add("border-red-500")
    
                if (input.parentElement.parentElement.childNodes.length == 3) {
                    input.parentElement.parentElement.removeChild(input.parentElement.parentElement.childNodes[2]);
                }
                const error = document.createElement("div");
                error.setAttribute("class", "text-red-500 text-xs")
                error.innerHTML = msg
                insertAfter(input.parentElement, error)
    
            }else if(input.classList.contains("placeholder-red-500")){
    
                input.classList.add("placeholder-gray-500")
                input.classList.add("hover:placeholder-black")
                input.classList.remove("placeholder-red-500")
                input.parentElement.classList.add("border-gray-400")
                input.parentElement.classList.add("hover:border-black")
                input.parentElement.classList.remove("border-red-500")
    
                input.parentElement.parentElement.removeChild(input.parentElement.parentElement.childNodes[2]);
    
            }
        });
    }


    function validate(i_cuenta){
        let msg = "Campo requerido."
        var prove = true;
        
        Input_All.forEach(input => {
            var check = true;
            if(input.value == ''){
                if(i_cuenta && !(input.name == 'pasword1' || input.name == 'pasword2')){
                    check = false;
                    prove = false;
                    msg = "Campo requerido.";
                }
            }else{
                if(input.name == 'phone' && (!isNumeric(input.value) || !/^(?:(?:\+?[0-9]{2,4})?[ ]?[6789][0-9]{8,13})$/.test(input.value))){
                    check = false;
                    prove = false;
                    msg = "El número de teléfono no es correcto. Por favor introduzca uno de nuevo.";
                }else if(input.name == 'zipcode' && (!isNumeric(input.value) || !/^(?:0[1-9]|[1-4]\d|5[0-2])\d{3}$/.test(input.value))){
                    check = false;
                    prove = false;
                    msg = "Lo sentimos. El código postal no es correcto.";
                }else if((input.name == 'pasword1') && (input.value.length < 8 || !haveUpperCase(input.value) || !haveLowCase(input.value) || !haveNum(input.value))){
                    if(!i_cuenta){
                        check = false;
                        prove = false;
                        msg = "Esta contraseña no cumple los requisitos mínimos. 8 caracteres como mínimo, 1 letra mayúscula, 1 letra minúscula, 1 número.";
                    }
                }else if(input.name == 'pasword2' && input.value != password1){
                    if(!i_cuenta){
                        check = false;
                        prove = false;
                        msg = "Las contraseñas no coinciden.";
                    }
                }else if(input.name == 'email' &&  !/^\w+([.-_+]?\w+)*@\w+([.-]?\w+)*(\.\w{2,10})+$/.test(input.value) ){
                    check = false;
                    prove = false;
                    msg = "Por favor, escriba una dirección de correo válida. Por ejemplo hola@dominio.com."
                }
            }
            if(!check){
                
                input.classList.remove("placeholder-gray-500")
                input.classList.remove("hover:placeholder-black")
                input.classList.add("placeholder-red-500")
                input.parentElement.classList.remove("border-gray-400")
                input.parentElement.classList.remove("hover:border-black")
                input.parentElement.classList.add("border-red-500")

                if (input.parentElement.parentElement.childNodes.length == 3) {
                    input.parentElement.parentElement.removeChild(input.parentElement.parentElement.childNodes[2]);
                }
                const error = document.createElement("div");
                error.setAttribute("class", "text-red-500 text-xs")
                error.innerHTML = msg
                insertAfter(input.parentElement, error)
            }
        });

        provincia = document.getElementsByName('provincia')
        provincia.forEach(select => {
            if(select.value == 'Null'){
                prove = false
    
                select.classList.remove("placeholder-gray-500")
                select.classList.remove("hover:placeholder-black")
                select.classList.add("placeholder-red-500")
                select.parentElement.classList.remove("border-gray-400")
                select.parentElement.classList.remove("hover:border-black")
                select.parentElement.classList.add("border-red-500")
    
                if (select.parentElement.parentElement.childNodes.length == 3) {
                    select.parentElement.parentElement.removeChild(select.parentElement.parentElement.childNodes[2]);
                }
                const error = document.createElement("div");
                error.setAttribute("class", "text-red-500 text-xs")
                error.innerHTML = msg
                insertAfter(select.parentElement, error)
            
            }
        });
        return prove
    }

    var user_id = -1
    var user_bool = ''
    var data = {}
    var j_cuenta = 0

    function buy2(event,i_cuenta){
        j_cuenta = i_cuenta;
        event.preventDefault()

        if(validate(i_cuenta)){
            /*Crear cuenta*/
            data = {
                'csrf_token': '{{ csrf_token }}',
                'first_name': document.querySelector('input[name=first_name]').value,
                'last_name': document.querySelector('input[name=last_name]').value,
                'email': document.querySelector('input[name=email]').value,
                'address': document.querySelector('input[name=address]').value,
                'city': document.querySelector('input[name=city]').value,
                'zipcode': document.querySelector('input[name=zipcode]').value,
                'phone': document.querySelector('input[name=phone]').value,
                'password': document.querySelector('input[name=pasword1]').value,
                'provincia': document.querySelector('select[name=provincia]').value,
                'envio': envios_precio,
                'i_cuenta': i_cuenta,
            }

            fetch('/create_user_/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' 
                },
                credentials: 'same-origin',
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(json =>{
                console.log(JSON.stringify(json));
                if(JSON.stringify(json) == '{"data":{}}'){
                    console.log('Usuario ya creado')
                }else{
                    user_id = json['data'].user_id
                    user_bool = json['data'].user_bool
                    data = json['data']
                    console.log(user_bool)
                    payment()
                }
            })
            .catch(function(error) {
                console.log('Errors', error)
            })
            /*ABRIR Datos de contacto y envío*/
        }
    }

    /*Formulario Superado continuar con el pago*/
    async function payment(){
        create_payment()
        const payment = document.getElementById('payment');
        
        document.getElementById("rueda3").classList.remove("hidden");
        document.getElementById("rueda_info").classList.remove("hidden");
        document.getElementById('ContactoForm').classList.add('hidden');
        const info = document.getElementById("info_shippment");
        info.innerHTML = `<div class='text-base'>${data.first_name}, ${data.last_name}</div> <div>${data.phone}</div> <div>${data.address}</div> <div>${data.zipcode}, ${data.city}, España</div>`;
        document.getElementById('datos_shippment').classList.remove('hidden');
        
        
        await delay(Math.floor(Math.random() * 1000)+ 700);
        payment.scrollIntoView({ behavior: "smooth", block: "end"});
        document.getElementById('button_validate').classList.add('hidden');
        document.getElementById('button_validate_2').classList.add('hidden');
        document.getElementById('payment_form_button').classList.remove('hidden');
        
        document.getElementById("rueda_info").classList.add("hidden");
        document.getElementById("rueda3").classList.add("hidden");
        payment.classList.remove('hidden');
    }

    let strpe = ''
    let items = [{ id: "xl-tshirt" }];
    let elements;
    let emailAddress = '';
    let total_payment = 100;
    function create_payment(){

        // This is your test publishable API key. https://stripe.com/docs/payments/quickstart?lang=python
        stripe = Stripe("pk_test_51MM8t2EUHJ3WTNbaB5EDa3OL2DD6n8qn3bu0SJZfAKzn1bdLjWwzFgsvcfKabm7KRtSHlF3EpRQIUBNReS5l61OX00MP6NxvwM");

        // The items the customer wants to buy
        items = [{ id: "xl-tshirt" }, total_payment];

        initialize();
        checkStatus();

        document
            .querySelector("#payment_form_button")
            .addEventListener("click", handleSubmit);
        
        emailAddress = '';

    }

    var customer = ''

    // Fetches a payment intent and captures the client secret
    async function initialize() {
        const response = await fetch('/order/create_payment/', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}' 
            },
            body: JSON.stringify({ items , data, customer}),
        });
        
        const { clientSecret, customer_id } = await response.json();
        const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);
        customer = customer_id
        paymentIntent['customer'] = customer_id

        const appearance = {
            theme: 'stripe',
            variables: {
                colorPrimary: '#000000',
                colorBackground: '#ffffff',
                colorText: '#30313d',
                colorDanger: '#df1b41',
                // See all possible variables below
            }
        };
        elements = stripe.elements({ appearance, clientSecret });
        
        /*const linkAuthenticationElement = elements.create("linkAuthentication");
        linkAuthenticationElement.mount("#link-authentication-element");

        linkAuthenticationElement.on('change', (event) => {
            emailAddress = event.value.email;
        });*/

        const paymentElementOptions = {
            layout: {
                type: 'accordion',
                defaultCollapsed: false,
                radios: true,
                spacedAccordionItems: false
            }
        };

        const paymentElement = elements.create("payment", paymentElementOptions);
            paymentElement.mount("#payment-element");
    }

    
    var user_str = ''
    function handleSubmit(e) {
        e.preventDefault();
        setLoading(true);

        if(user_bool != ''){
            user_str = `?email=${user_bool}`;


            fetch('/update_account/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' 
                },
                credentials: 'same-origin',
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(json =>{
                console.log(JSON.stringify(json));
                handleSubmit2(e)
                
            })
            .catch(function(error) {
                console.log('Errors', error)
            })

        } else{
            user_str = ''
            handleSubmit2(e)
        }
        
    }

    async function handleSubmit2(e){
        e.preventDefault();

        if(document.getElementById('default-checkbox').checked){
            const { error } = await stripe.confirmPayment({
                elements,
                confirmParams: {
                // Make sure to change this to your payment completion page--------------------------------------
                    return_url: "http://" + window.location.host + '/cart/success'+ user_str,
                    receipt_email: emailAddress,
                    
                },
            });

            const { error2 } = await stripe.confirmSepaDebitPayment(clientSecret, {
                payment_method: {
                    sepa_debit: ibanElement,
                    billing_details: {
                        name: data.name,
                        email: data.email,
                    },
                },
            }).then(function(result) {
                showMessage("An unexpected error occurred.");
            });
            
            // This point will only be reached if there is an immediate error when
            // confirming the payment. Otherwise, your customer will be redirected to
            // your `return_url`. For some payment methods like iDEAL, your customer will
            // be redirected to an intermediate site first to authorize the payment, then
            // redirected to the `return_url`.
            if (error.type === "card_error" || error.type === "validation_error") {
                showMessage(error.message);
            } else {
                showMessage("An unexpected error occurred.");
            }
        }else{document.getElementById('error_condiciones').classList.remove("hidden");}
        
        setLoading(false);

    }

    // Fetches the payment intent status after payment submission
    async function checkStatus() {
        const clientSecret = new URLSearchParams(window.location.search).get(
            "payment_intent_client_secret"
        );

        if (!clientSecret) {
            return;
        }

        const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);

        switch (paymentIntent.status) {
            case "succeeded":
                showMessage("Payment succeeded!");
                break;
            case "processing":
                showMessage("Your payment is processing.");
                break;
            case "requires_payment_method":
                showMessage("Your payment was not successful, please try again.");
                break;
            default:
                showMessage("Something went wrong.");
                break;
        }
    }

    // ------- UI helpers -------

    function showMessage(messageText) {
        const messageContainer = document.querySelector("#payment-message");

        messageContainer.classList.remove("hidden");
        messageContainer.textContent = messageText;

        setTimeout(function () {
            messageContainer.classList.add("hidden");
            messageContainer.textContent = "";
        }, 4000);
    }

    // Show a spinner on payment submission
    function setLoading(isLoading) {
        if (isLoading) {
            // Disable the button and show a spinner
            document.querySelector("#submit").disabled = true;
            document.querySelector("#spinner").classList.remove("hidden");
            document.querySelector("#button-text").classList.add("hidden");
        } else {
            document.querySelector("#submit").disabled = false;
            document.querySelector("#spinner").classList.add("hidden");
            document.querySelector("#button-text").classList.remove("hidden");
        }
    }


    function Formularioch(){
        if(crearcuenta.classList.contains("hidden")){   
            document.getElementById("crearcuenta").classList.remove("hidden");
            document.getElementById("nocuenta").classList.add("hidden");
            document.getElementById("Formulario").classList.remove("hidden");
            document.getElementById("Formulario2").classList.add("hidden");

            document.getElementById('button_validate').classList.remove('hidden');
            document.getElementById('button_validate_2').classList.add('hidden');
        }
        else{
            document.getElementById("crearcuenta").classList.add("hidden");
            document.getElementById("nocuenta").classList.remove("hidden");
            document.getElementById("Formulario").classList.add("hidden");
            document.getElementById("Formulario2").classList.remove("hidden");

            document.getElementById('button_validate').classList.add('hidden');
            document.getElementById('button_validate_2').classList.remove('hidden');
        }
    }

    
    const gasto_provincias = JSON.parse(document.getElementById('envios').value.replace(/'/g, "\""))
    const element_total = document.getElementById('total_ch')
    var envios_precio = 0

    function gastos(provincia){
        Object.keys(gasto_provincias).forEach( propiedad => {
            if(propiedad == provincia){
                envios_precio = gasto_provincias[propiedad]
                const element = document.getElementById('gastos_envio')
                element.innerHTML = parseFloat(gasto_provincias[propiedad]).toFixed(2).replace('.',',') + ' €'
                const element_total2 = document.getElementById('total_ch_2')
                total_payment = parseFloat(element_total.value.replace(',','.')) + gasto_provincias[propiedad]
                element_total2.innerHTML = parseFloat(total_payment).toFixed(2).replace('.',',') + ' €'
            }
        })
    }

    /*Funcion para que despues de apretar el botton siguiente en el formulario puedas volver a editarlo*/
    function volver_formulario(){
        const formulario = document.getElementById('ContactoForm').classList.remove('hidden')
        const info = document.getElementById('datos_shippment').classList.add('hidden')
        const tarjetas = document.getElementById('payment').classList.add('hidden')
        if(j_cuenta){
            document.getElementById('button_validate').classList.remove('hidden')
        }else{
            document.getElementById('button_validate_2').classList.remove('hidden')
        }
        document.getElementById('payment_form_button').classList.add('hidden')
    }


    function check_condiciones(){
        if(document.getElementById('default-checkbox').checked){
            document.getElementById('error_condiciones').classList.add("hidden");
        }else{
            document.getElementById('error_condiciones').classList.remove("hidden");
        }
    }


</script>