{% extends 'core/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Error' %}{% endblock %}

{% block content%}

<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto xl:px-0 px-4 py-5 h-[500px] flex items-center justify-center">
    <div class="text-center">
        <div class="text-4xl font-bold mb-4">Error 404</div>
        <p class="text-lg mb-4">{% trans '¡Ups! La página que estás buscando no existe.' %}</p>
        <a href="{% url 'frontpage' %}" class="text-blue-500 hover:underline">{% trans 'Volver a la página principal' %}</a>
    </div>
</div>
{% endblock %}