{% extends 'core/base.html' %}

{% load replacement %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Administración' %}{% endblock %}

{% block content%}

<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto max-[1300px]:-mt-6 -mt-2 px-4 lg:px-0">

    <div class="mt-5 xl:mx-0 md:flex mb-1 text-lg font-semibold px-4 lg:px-0">{% trans 'Dashboard' %}</div>


    <div class="h-[300px]"></div>

    <div class="mb-10 font-semibold">Ordenes</div>

    {% for order in request.user.orders.all %}
        <div onclick="open_order('{{order.id}}')" class="font-semibold border flex w-full text-sm cursor-pointer">
            <div class="w-[95%] min-h-[80px] p-2 flex text-[12px] font-semibold text-gray-700">
                <div class="w-[80%] flex justify-between ml-4">
                    <div class="h-full w-[140px]">
                        <div>{% trans 'PEDIDO REALIZADO' %}</div>
                        <div class="text-sm font-normal">{{order.created_at |date1}}</div>
                    </div>
                    <div class="h-full w-[80px]">
                        <div>{% trans 'TOTAL' %}</div>
                        <div class="text-sm font-normal">{{order.paid_amount| floatformat:2}} €</div>
                    </div>
                    <div class="h-full w-[200px]">
                        <div>{% trans 'ENVIAR A' %}</div>
                        <div class="text-sm font-normal">{{order.address}}, {{order.city}} </div>
                    </div>
                </div>
                <div class="w-[50%] text-right mr-4">
                    <div>{% trans 'PEDIDO' %} ID.º {{order.id}}</div>
                    <div class="text-sm font-normal text-blue-500">
                        <a href="{% url 'my_vista_producto' order.id %}">{% trans 'Ver los detalles del pedido' %}</a>
                    </div>
                </div>
            </div>
            <div class="w-[5%] flex space-x-2">
                <div class="m-auto">
                    <svg id="svg_icon-{{order.id}}" class="h-4 w-4 text-black"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>
                    </svg>
                </div>
            </div>
        </div>
        <div id="order-{{order.id}}" class="Inputs space-y-6 text-md select-none data_edit_form hidden mb-2">
            <div class="space-y-4">{{order.estado_pago}} {{order.user}} {{order.customer}} {{order.payment_intent}} {{order.first_name}} {{order.last_name}} {{order.email}} 
                {{order.address}} {{order.zipcode}}
                {{order.city}} {{order.provincia}} {{order.phone}} {{order.detalles_envio}} {{order.created_at}} {{order.paid}} {{order.paid_amount}} {{order.envio}} {{order.status}}
            </div>

            <div class="flex">
            <div class="w-[50%]">f</div>
            <div class="w-[50%]">
                {% for item in order.items.all %}
                    {% if forloop.counter0 > 0 %}
                    <hr class="w-full border-gray-300">
                    {% endif %}
                    <div class="flex w-full">
                        <a href="{% url 'variant_product' item.variant.product.slug item.variant.color.slug %}" class="w-[140px] rounded-b-xl">
                            <img class="hover:shadow-lg rounded-b-xl" src="{{item.variant.image}}">
                        </a>
                        
                        <div class="pl-2 text-sm my-auto">
                            <div class="w-full lg:flex justify-between">
                                <div class="flex justify-between relative">
                                    <div class="item-size">
                                        <div class="font-semibold"><span class="text-green-700">{{item.quantity}}x</span>
                                            {% if request.LANGUAGE_CODE == 'es' %} {{item.variant.product.nombre}}
                                            {% elif request.LANGUAGE_CODE == 'ca' %} {{item.variant.product.nombre_ca}}
                                            {% else %} {{item.variant.product.nombre}}
                                            {% endif %}
                                        </div>
                                        <div>{% trans 'Talla' %}: {{item.size|replace_1}}</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    {% endfor %}
        
</div>

{% endblock %}

{% block scripts %}
<script>

    function open_order(id){
        const svg_icon = document.getElementById(`svg_icon-${id}`)
        const order = document.getElementById(`order-${id}`)
        if(order.classList.contains('hidden')){
            order.classList.remove('hidden')
            svg_icon.classList.add('rotate-180')
        }else{
            order.classList.add('hidden')
            svg_icon.classList.remove('rotate-180')
        }
        
    }
</script>
{% endblock %}