{% extends 'core/base.html' %}

{% load replacement %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Administración' %}{% endblock %}

{% block content%}

<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto max-[1300px]:-mt-6 -mt-2 px-4 lg:px-0">

    <div class="mt-5 xl:mx-0 md:flex mb-1 text-lg font-semibold px-4 lg:px-0">{% trans 'Dashboard' %}</div>


    <div class="h-[300px]"></div>

    <div class="mb-10 font-semibold">Ordenes</div>

    {% for order in orders %}
        <div onclick="open_order('{{order.id}}')" class="font-semibold border flex w-full text-sm cursor-pointer">
            <div class="w-[95%] min-h-[80px] p-2 flex text-[12px] font-semibold text-gray-700">
                <div class="w-[80%] flex justify-between ml-4">
                    <div class="h-full w-[140px]">
                        <div>{% trans 'PEDIDO REALIZADO' %}</div>
                        <div class="text-sm font-normal">{{order.created_at |date1}}</div>
                    </div>
                    <div class="h-full w-[80px]">
                        <div>{% trans 'TOTAL' %}</div>
                        <div class="text-sm font-normal">{{order.paid_amount| floatformat:2}} €</div>
                    </div>
                    <div class="h-full w-[200px]">
                        <div>{% trans 'ENVIAR A' %}</div>
                        <div class="text-sm font-normal">{{order.address}}, {{order.city}} </div>
                    </div>
                </div>
                <div class="w-[50%] text-right mr-4">
                    <div>{% trans 'PEDIDO' %} ID.º {{order.id}}</div>
                    <div class="text-sm font-normal text-blue-500">
                        <a href="{% url 'my_vista_producto' order.id %}">{% trans 'Ver los detalles del pedido' %}</a>
                    </div>
                </div>
            </div>
            <div class="w-[5%] flex space-x-2">
                <div class="m-auto">
                    <svg id="svg_icon-{{order.id}}" class="h-4 w-4 text-black"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>
                    </svg>
                </div>
            </div>
        </div>
        <div id="order-{{order.id}}" class="Inputs space-y-6 text-md hidden mb-2">

            <div class="flex">
            <div class="w-[50%] my-4" style="padding-left: 20px; padding-right: 20px;">

                {% if order.estado_pago == 'succeeded' %}
                <div class="">
                    <div class="flex space-x-2">
                        <p class="my-auto">{% trans 'Pago del pedido:' %} </p>
                        <div class="my-auto px-1 bg-[#D7F7C2] flex rounded text-[#228403] font-semibold space-x-2">
                            <div class="my-auto">{% trans 'Completado' %}</div>
                            <div class="my-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                                  </svg>                          
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="">
                    <div class="flex space-x-2">
                        <p class="my-auto">{% trans 'Estado del pedido:' %} </p>
                        <div class="my-auto px-1 bg-[#EBEEF1] flex rounded text-[#676E7D] font-semibold space-x-2">
                            <div class="my-auto">{% trans 'Pendiente' %}</div>
                            <div class="my-auto"> 
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                                </svg>
                                                          
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div>{% trans 'Precio:' %} {{order.paid_amount|resta:order.envio|floatformat:2}}€</div>
                <div>{% trans 'Envio:' %} {{order.envio|floatformat:2}}€</div>

                <div style="margin-top: 30px;">
                    <div style="font-weight: 600; margin-bottom: 5px;">{% trans 'Detalles del Pedido' %}</div>
                    
                    <div>{% trans 'Nombre:' %} {{order.first_name}} {{order.last_name}}</div>
                    <div>{% trans 'Dirección:' %} {{order.address}}</div>
                    <div>{% trans 'Ciudad:' %} {{order.city}}, {{order.zipcode}}</div>
                    <div>{% trans 'Provincia:' %} {{order.provincia}}</div>
                    <div>{% trans 'Tel:' %} {{order.phone}}</div>
                    <div>{% trans 'Email:' %} {{order.email}}</div>
                    {% if order.detalles_envio == '' %}
                    {% else %}
                        <div>{% trans 'Detalles para el envio:' %} {{order.detalles_envio}}</div>
                    {% endif %}
                </div>
                
                <div onclick="nacex('{{order.id}}')" class="p-1 border cursor-pointer">Preparar Pedido en Nacex</div>

            </div>


            
            <div class="w-[50%]">
                {% for item in order.items.all %}
                    {% if forloop.counter0 > 0 %}
                    <hr class="w-full border-gray-300">
                    {% endif %}
                    <div class="flex w-full">
                        <a href="{% url 'variant_product' item.variant.product.slug item.variant.color.slug %}" class="w-[140px] rounded-b-xl">
                            <img class="hover:shadow-lg rounded-b-xl" src="{{item.variant.image}}">
                        </a>
                        
                        <div class="pl-2 text-sm my-auto">
                            <div class="w-full lg:flex justify-between">
                                <div class="flex justify-between relative">
                                    <div class="item-size">
                                        <div class="font-semibold"><span class="text-green-700">{{item.quantity}}x</span>
                                            {% if request.LANGUAGE_CODE == 'es' %} {{item.variant.product.nombre}}
                                            {% elif request.LANGUAGE_CODE == 'ca' %} {{item.variant.product.nombre_ca}}
                                            {% else %} {{item.variant.product.nombre}}
                                            {% endif %}
                                        </div>
                                        <div>{% trans 'Talla' %}: {{item.size|replace_1}}</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    {% endfor %}
        
</div>

{% endblock %}

{% block scripts %}
<script>

    function open_order(id){
        const svg_icon = document.getElementById(`svg_icon-${id}`)
        const order = document.getElementById(`order-${id}`)
        if(order.classList.contains('hidden')){
            order.classList.remove('hidden')
            svg_icon.classList.add('rotate-180')
        }else{
            order.classList.add('hidden')
            svg_icon.classList.remove('rotate-180')
        }
        
    }

    function nacex(id) {
            console.log(id);

            data = {
                'csrf_token': '{{ csrf_token }}',
                'name': 'Soler',
                'email': 'Soler',
                'content': 'Soler',
            }
            
            fetch('/dashboard/complete_form', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' 
                },
                credentials: 'same-origin',
                body: JSON.stringify(data),
            }).then(response => response.json())
            .then(json =>{
                console.log(json)
            })
            .catch(function(error) {
                console.log('Errors', error)
            })
        }


</script>
{% endblock %}