{% extends 'core/base.html' %}

{% block title %}Tiendas{% endblock %}

{% block content%}

{% load static %}

<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto xl:px-0 px-4 py-5">

    <div class="mt-5 xl:mx-0 md:flex mb-1 text-lg font-semibold">Alquiler de material</div>
    
    <div>Te ofrecemos un alquiler de material adaptado a tus necesidades. </div>
    
    <div>Tarifa alquiler material esquí</div>

    <div>{{alquiler}}</div>

    <div>{{alquiler.esquí_completo_adulto}}</div>
    <div>{{alquiler.snowblade_completo}}</div>
    <div>{{alquiler.snowboard_completo_adulto}}</div>
    <div>{{alquiler.esquí_gama_alta_completo_adulto}}</div>

    <div>{{alquiler.casco}}</div>

    <div>{{alquiler.esquí_completo_junior}}</div>
    <div>{{alquiler.snowboard_completo_junior}}</div>

    <div>{{alquiler.esquí_montaña_completo}}</div>
    <div>{{alquiler.raquetas}}</div>
    <div>{{alquiler.raquetas_y_palos}}</div>
    <div>{{alquiler.grampones}}</div>
    <div>{{alquiler.piolet}}</div>
    <div>{{alquiler.grampones_y_piolet}}</div>

    <div>{{alquiler.palos}}</div>

    <div>{{alquiler.esquí_temporada_adulto}}</div>
    <div>{{alquiler.esquí_temporada_junior_70_90cm}}</div>
    <div>{{alquiler.esquí_temporada_junior_100_110cm}}</div>
    <div>{{alquiler.esquí_temporada_junior_120_130cm}}</div>
    <div>{{alquiler.esquí_temporada_junior_140_150cm}}</div>

    <div>Tarifa alquiler material snowboard</div>

    <div>Tarifa alquiler temporada</div>


</div>
{% endblock %}

{% block scripts %}
<script>
    
</script>   
{% endblock %}