{% load static %}

{% if request.LANGUAGE_CODE == 'ca' %} 
    <div class="mt-2 max-width-3xl max-auto grid place-content-center xl:h-[50px] w-full overflow-hidden hidden md:block" >
        <img src="{% static 'img/banner_ca.png' %}" class="object-cover" >
    </div>
{% else %}
    <div class="mt-2 max-width-3xl max-auto grid place-content-center xl:h-[50px] w-full overflow-hidden hidden md:block" >
        <img src="{% static 'img/banner.png' %}" class="object-cover" >
    </div>
{% endif %}

{% if request.LANGUAGE_CODE == 'ca' %} 
    <div class="mt-2 max-width-3xl max-auto grid place-content-center xl:h-[50px] w-full overflow-hidden md:hidden block" >
        <img src="{% static 'img/banner_mb_ca.png' %}" class="object-cover" >
    </div>
{% else %}
    <div class="mt-2 max-width-3xl max-auto grid place-content-center xl:h-[50px] w-full overflow-hidden md:hidden block" >
        <img src="{% static 'img/banner_mb.png' %}" class="object-cover" >
    </div>
{% endif %}

