{% load static%}
<div id="aviso-cookies" class="bg-white bottom-0 border-t border-gray-400 mt-5 z-[9000] w-full fixed hidden max-h-[50%] min-h-[20%] overflow-hidden">
    <div class="max-w-screen-xl mx-auto py-4 px-6 space-x-3 w-full">

        <div class="flex flex-wrap">
            <div class="w-full lg:w-[50%]">
                <h1 class="font-semibold text-xl mb-1">Nos preocupamos por tu privacidad</h1> 
                <div class="text-xs lg:text-sm">Nuestro sitio web utiliza cookies propias y de terceros para mejorar tu experiencia de navegación. Al continuar navegando en nuestro sitio, aceptas el uso de cookies de acuerdo con nuestra <a class="underline text-blue-400" href="{% url 'politica_de_cookies' %}">Política de Cookies</a>. Para obtener más información sobre cómo utilizamos las cookies y cómo puedes desactivarlas, consulta nuestra <a class="underline text-blue-400" href="{% url 'politica_de_privacidad' %}">Política de Privacidad</a>.</div>
            </div>
            <div class="w-full lg:w-[50%] flex mt-6 lg:my-0">

                <a id="aceptar-cookies" class="m-auto flex w-[200px] inline-block py-3 bg-black text-white hover:bg-gray-800 relative transition duration-500 cursor-pointer drop-shadow-md">
                    <div class="m-auto">Aceptar cookies</div>
                </a>

            </div>
        </div>
        
    </div>

</div>
<div id="fondo-aviso-cookies" class="block bg-neutral-700 opacity-70 fixed z-[8999] w-full h-full top-0 left-0 hidden"></div>


<script>
    const botonAceptarCookies =  document.getElementById("aceptar-cookies");
    const avisoCookies = document.getElementById("aviso-cookies");
    const fondoAvisoCookies = document.getElementById("fondo-aviso-cookies");

    dataLayer = [];

    botonAceptarCookies.addEventListener("click", () => {
        setCookieAccepted();
    });

const setCookieAccepted = () => {
    fetch('/set-cookie-accepted', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ accepted: true })
    }).then(response => {
        if (response.ok) {
            avisoCookies.classList.add('hidden');
            fondoAvisoCookies.classList.add('hidden');
            localStorage.setItem("cookies-aceptadas", true);
            dataLayer.push({'event':'cookies-aceptadas'});
        } else {
            console.error('Failed to set cookie acceptance status.');
            avisoCookies.classList.remove('hidden');
            fondoAvisoCookies.classList.remove('hidden');
            localStorage.setItem("cookies-aceptadas", false);
        }
    }).catch(error => {
        console.error('Error setting cookie acceptance status:', error);
        avisoCookies.classList.remove('hidden');
        fondoAvisoCookies.classList.remove('hidden');
        localStorage.setItem("cookies-aceptadas", false);
    });
};

// Check if cookie is accepted on page load
fetch('/get-cookie-accepted')
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error('Failed to fetch cookie acceptance status.');
        }
    })
    .then(data => {
        if (data.accepted) {
            avisoCookies.classList.add('hidden');
            fondoAvisoCookies.classList.add('hidden');
            localStorage.setItem("cookies-aceptadas", true);
            dataLayer.push({'event':'cookies-aceptadas'});
        } else {
            avisoCookies.classList.remove('hidden');
            fondoAvisoCookies.classList.remove('hidden');
            localStorage.setItem("cookies-aceptadas", false);
        }
    })
    .catch(error => {
        console.error('Error fetching cookie acceptance status:', error);
        avisoCookies.classList.remove('hidden');
        fondoAvisoCookies.classList.remove('hidden');
        localStorage.setItem("cookies-aceptadas", false);
    });

</script>
