{% load i18n %}
<div class="menu-categorys-mobile md:hidden invisible fixed z-[99999] top-0 left h-full">

    <div class="w-screen h-full bg-neutral-700 opacity-70 z-0" onclick="menu_categorys_mobile()"></div>

    <div
        class="menu-categorys-mobile-l w-[85%] min-[360px]:min-w-[300px] min-[440px]:w-[50%] h-full absolute flex z-10 top-0 right-0 border-l">

        <div class="bg-white h-full w-full">
            <button type="button" title="menu-mobile-logo" class="absolute right-5 top-5"
                onclick="menu_categorys_mobile()">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>

            <div class="mt-14 text-gray-800 overflow-auto h-full relative">

                <span class="block px-6 py-3 border-b-[0.1px] border-black flex text-[18px]">{% trans 'Categorías' %}</span>

                <ul class="space-y-1 px-8 mt-4">
                    <li><a href="{% url 'shop' %}" class="{% if not active_category %}text-green-600 font-semibold {% else %}text-gray-700 font-semibold {% endif %}">{% trans 'Todas las categorías' %}</a></li>
                    {% for category in categories %}
                    <li><a href="{% url 'shop' %}?category={{ category.slug }}" class="{% if category.slug == active_category %}text-green-600 font-semibold {% else %}text-gray-800 {% endif %}">
                        {% if request.LANGUAGE_CODE == 'es' %} {{ category.nombre }}
                        {% elif request.LANGUAGE_CODE == 'ca' %} {{ category.nombre_ca }}
                        {% else %} {{ category.nombre }}
                        {% endif %}
                    </a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="menu-orden-mobile invisible fixed z-[99999] top-0 left h-full">

    <div class="w-screen h-full bg-neutral-700 opacity-70 z-0" onclick="menu_orden_mobile()"></div>

    <div
        class="menu-orden-mobile-l w-[85%] min-[360px]:min-w-[300px] min-[440px]:w-[50%] h-full absolute flex z-10 top-0 right-0 border-l">

        <div class="bg-white h-full w-full">
            <button type="button" title="menu-mobile-logo" class="absolute right-5 top-5"
                onclick="menu_orden_mobile()">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>

            <div class="mt-14 text-gray-800 overflow-auto h-full relative">

                <span class="block px-6 py-3 border-b-[0.1px] border-black flex text-[18px]">{% trans 'Filtros' %}</span>

                <div class="space-y-1 mt-4 px-3 text-sm order">
                    <div class="">{% trans 'Ordenación' %}</div>
                    <div class="flex flex-wrap text-black">
                        <button value="sort_popular" class="w-[47%] xl:w-[48%] h-[40px] border border-gray-400 rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                            <p class="place-self-center">{% trans 'Más popular' %}</p>
                        </button>
                        <button value="sort_price_asc" class="w-[47%] xl:w-[48%] h-[40px] border border-gray-400  rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                            <p class="place-self-center">{% trans 'Más barato' %}</p>
                        </button>
                        <button value="sort_price_desc" class="w-[47%] xl:w-[48%] h-[40px] border border-gray-400  rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                            <p class="place-self-center">{% trans 'Mayor precio' %}</p>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="menu-filtro-mobile invisible fixed z-[99999] top-0 left h-full">

    <div class="w-screen h-full bg-neutral-700 opacity-70 z-0" onclick="menu_filtro_mobile()"></div>

    <div
        class="menu-filtro-mobile-l w-[85%] min-[360px]:min-w-[300px] min-[440px]:w-[50%] h-full absolute flex z-10 top-0 right-0 border-l">

        <div class="bg-white h-full w-full">
            <button type="button" title="menu-mobile-logo" class="absolute right-5 top-5"
                onclick="menu_filtro_mobile()">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>

            <div class="mt-14 text-black overflow-auto h-full relative">

                <span class="block px-6 py-3 border-b-[0.1px] border-black flex text-[18px]">{% trans 'Filtros' %}</span>

                <div class=" text-sm mt-4 px-5">
                    <div class="text-base font-bold">{% trans 'Precio' %}</div>
                    <div class="range-input mt-3 w-full relative mb-10">
                        <div class="absolute top-0 w-full h-[10px] bg-neutral-200 border border-gray-400 rounded"></div>
                        <input class="w-full slider-range absolute top-0" type="range" name="range_min" value="{{min_max_price.precio__min}}" id="range_min" min="{{min_max_price.precio__min}}" max="{{min_max_price.precio__max}}">
                        <input class="w-full slider-range absolute top-0" type="range" name="range_max" value="{{min_max_price.precio__max}}" id="range_max" min="{{min_max_price.precio__min}}" max="{{min_max_price.precio__max}}">
                        
                        <div class="flex flex-wrap absolute -top-2 w-full"> 
                            <div id="range-prices" class="flex flex-wrap absolute top-8 w-full text-center text-gray-800 font-semibold justify-center" >
                                {{min_max_price.precio__min}},00€ - {{min_max_price.precio__max}},00€
                            </div>
                        </div>
    
                    </div>
                </div>

                <div class=" mt-20 px-5">
                    <div class="text-base font-bold">{% trans 'Sexo' %}</div>     
                    <div class="sexo flex flex-wrap text-xs mt-3 text-center"> 
                        {% for s in sexo_list %}
                        {% if s == 'hombre' %}
                        <button value="hombre" class="w-[47%] xl:w-[48%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                            <p class="place-self-center">{% trans 'Hombre' %}</p>
                        </button>
                        {% endif %}
                        {% if s == 'mujer' %}
                        <button value="mujer" class="w-[47%] xl:w-[48%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                            <p class="place-self-center">{% trans 'Mujer' %}</p>
                        </button>
                        {% endif %}
                        {% if s == 'nino' %}
                        <button value="nino" class="w-[47%] xl:w-[48%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                            <p class="place-self-center">{% trans 'Niño' %}</p>
                        </button>
                        {% endif %}
                        {% if s == 'nina' %}
                        <button value="nina" class="w-[47%] xl:w-[48%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                            <p class="place-self-center">{% trans 'Niña' %}</p>
                        </button>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                
                <div class=" mt-10 px-5 size">
                    <div class="text-base font-bold">{% trans 'Tallas' %}</div>     
                    <div class="flex flex-wrap text-xs mt-3 text-center"> 
                        {% for i in size_num %}
                            <button value="{{i}}" class="w-[23%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                                <p class="place-self-center">{{i}}</p>
                            </button>
                        {% endfor %}
                    </div>
                    <div class="mt-2 flex flex-wrap text-xs mt-3 text-center"> 
                        {% for i in size_let %}
                            <button value="{{i}}" class="w-[23%] h-[35px] border-[0.5px] rounded grid hover:border-neutral-800 cursor-pointer mt-[4px] mx-[2px]">
                                <p class="place-self-center">{{i}}</p>
                            </button>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-10 px-5 marca">
                    <div class="text-base font-bold mb-4">{% trans 'Marcas' %}</div>     
                    {% for i in brands %}
                        <div class="flex items-center mb-1">
                            <input id="default-checkbox" type="checkbox" value="{{i.slug}}" class="w-4 h-4 rounded">
                            <label for="default-checkbox" class="ml-2 text-sm capitalize">{{i.slug}}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>