{% load i18n %}
<div class="menu-mobile invisible fixed z-[99999] top-0 left-0">

    <div class="w-screen h-screen bg-neutral-700 opacity-70 z-0" onclick="menu_mobile()"></div>

    <div class="menu-mobile-l w-screen h-screen absolute flex z-10 top-0">

        <div class="relative w-[80%] bg-white h-screen border-r">
            <div class="absolute left-5 top-5 text-gray-800 text-[14px]">
                <form class="flex space-x-2" action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %}
                    
                    <div class="flex space-x-1">
                        <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="10px" viewBox="0 0 15 10" version="1.1">
                            <g id="surface1">
                            <rect x="0" y="0" width="15" height="10" style="fill:rgb(98.823529%,86.666667%,3.529412%);fill-opacity:1;stroke:none;"/>
                            <path style="fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;stroke-width:60;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(85.490196%,7.058824%,10.196078%);stroke-opacity:1;stroke-miterlimit:4;" d="M 0 90.070312 L 810 90.070312 M 810 210.09375 L 0 210.09375 M 0 329.90625 L 810 329.90625 M 810 449.929688 L 0 449.929688 " transform="matrix(0.0185185,0,0,0.0185185,0,0)"/>
                            </g>
                        </svg>
                        <button type="submit" name="language" value="{{ 'ca' }}" class="language-button">
                            Català
                        </button>
                    </div>
                    <div class="flex space-x-1">
                        <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="10px" viewBox="0 0 15 10" version="1.1">
                            <g id="surface1">
                            <rect x="0" y="0" width="15" height="10" style="fill:rgb(77.647059%,4.313725%,11.764706%);fill-opacity:1;stroke:none;"/>
                            <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,76.862745%,0%);fill-opacity:1;" d="M 0 2.5 L 15 2.5 L 15 7.5 L 0 7.5 Z M 0 2.5 "/>
                            </g>
                        </svg>
                        <button type="submit" name="language" value="{{ 'es' }}" class="language-button">
                            Castellano
                        </button>
                    </div>
                    <div class="flex space-x-1 hidden">
                        <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="10px" viewBox="0 0 15 10" version="1.1">
                            <defs>
                            <clipPath id="clip1">
                              <path d="M 7.5 5 L 15 5 L 15 10 Z M 7.5 5 L 7.5 10 L 0 10 Z M 7.5 5 L 0 5 L 0 0 Z M 7.5 5 L 7.5 0 L 15 0 Z M 7.5 5 "/>
                            </clipPath>
                            </defs>
                            <g id="surface1">
                            <rect x="0" y="0" width="15" height="10" style="fill:rgb(0.392157%,12.941176%,41.176471%);fill-opacity:1;stroke:none;"/>
                            <path style="fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;stroke-width:6;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(100%,100%,100%);stroke-opacity:1;stroke-miterlimit:4;" d="M 0 0 L 50 30 M 50 0 L 0 30 " transform="matrix(0.3,0,0,0.333333,0,0)"/>
                            <g clip-path="url(#clip1)" clip-rule="nonzero">
                            <path style="fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(78.431373%,6.27451%,18.039216%);stroke-opacity:1;stroke-miterlimit:4;" d="M 0 0 L 50 30 M 50 0 L 0 30 " transform="matrix(0.3,0,0,0.333333,0,0)"/>
                            </g>
                            <path style="fill-rule:nonzero;fill:rgb(78.431373%,6.27451%,18.039216%);fill-opacity:1;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(100%,100%,100%);stroke-opacity:1;stroke-miterlimit:4;" d="M -1.002604 11.003906 L 21.002604 11.003906 L 21.002604 -0.996094 L 28.997396 -0.996094 L 28.997396 11.003906 L 51.002604 11.003906 L 51.002604 18.996094 L 28.997396 18.996094 L 28.997396 30.996094 L 21.002604 30.996094 L 21.002604 18.996094 L -1.002604 18.996094 Z M -1.002604 11.003906 " transform="matrix(0.3,0,0,0.333333,0,0)"/>
                            </g>
                            </svg>
                        <div>English</div>
                    </div>
                </form>
            </div>
            <button type="button" title="menu-mobile-logo" class="absolute right-5 top-5" onclick="menu_mobile()">        
                <svg class="h-6 w-6 text-gray-600 hover:text-black"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6M6 6l12 12"/>
                </svg>                                
            </button>

            <div class="mt-14 text-[15px] text-gray-800 overflow-auto h-screen">

                <a class="block px-6 py-3 bg-gray-100 flex" href="{% url 'shop' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                    </svg>
                    <span class="ml-2 my-auto">{% trans 'Tienda' %}</span> 
                </a>
                
                <hr>

                <a href="{% url 'shop' %}?category=ciclismo" class="block flex justify-between px-6 py-3">
                    <span>{% trans 'Ciclismo' %}</span>
                    <svg class="h-4 w-4 mt-1"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5l7 7-7 7"/>
                    </svg> 
                </a>
                <hr>
                <a href="{% url 'shop' %}?category=running" class="block flex justify-between px-6 py-3">
                    <span>{% trans 'Running' %}</span>
                    <svg class="h-4 w-4 mt-1"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5l7 7-7 7"/>
                    </svg> 
                </a>
                <hr>
                <a href="{% url 'shop' %}?category=outdoor" class="block flex justify-between px-6 py-3">
                    <span>{% trans 'Outdoor' %}</span>
                    <svg class="h-4 w-4 mt-1"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5l7 7-7 7"/>
                    </svg> 
                </a>
                <hr>
                <a href="{% url 'shop' %}?category=esqui" class="block flex justify-between px-6 py-3">
                    <span>{% trans 'Esquí' %}</span>
                    <svg class="h-4 w-4 mt-1"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5l7 7-7 7"/>
                    </svg> 
                </a>
                <hr>

                <a class="block px-6 py-3 bg-gray-100 flex" href="{% url 'quienes-somos' %}">
                    <svg class="h-6 w-6 text-gray-400"  width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  
                        <path stroke="none" d="M0 0h24v24H0z"/> <polyline points="5 12 3 12 12 3 21 12 19 12" />  
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />  <rect x="10" y="12" width="4" height="4" />
                    </svg> 
                    <span class="ml-2 my-auto">{% trans 'Nosotros' %}</span> 
                </a>
                <a href="{% url 'alquiler_material' %}" class="block flex justify-between px-6 py-3">
                    <span>{% trans 'Alquiler Material' %}</span>
                    <svg class="h-4 w-4 mt-1"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5l7 7-7 7"/>
                    </svg> 
                </a>
                <hr>
                <a href="{% url 'tiendas' %}" class="block flex justify-between px-6 py-3">
                    <span>{% trans 'Tiendas' %}</span>
                    <svg class="h-4 w-4 mt-1"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5l7 7-7 7"/>
                    </svg> 
                </a>
                <hr>
                <a href="{% url 'contacto' %}" class="block flex justify-between px-6 py-3">
                    <span>{% trans 'Contacto' %}</span>
                    <svg class="h-4 w-4 mt-1"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5l7 7-7 7"/>
                    </svg> 
                </a>
                <hr>
                


                <a class="block px-6 py-3 bg-gray-100 flex" href="{% url 'my_account' %}">
                    <svg class="h-6 w-6 text-gray-400"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round">  
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />  
                        <circle cx="12" cy="7" r="4" />
                    </svg> 
                    <span class="ml-2 my-auto">{% trans 'Perfil de Usuario' %}</span> 
                </a>
                
                {% if request.user.is_authenticated %}
                <a class="block px-6 py-3">{% trans 'Hola' %} {{user.first_name}},</a>
                <hr class="block py-1">
                <a href="{% url 'my_account' %}" class="block px-6 py-[8px]">{% trans 'Mi Cuenta' %}</a>
                <a href="{% url 'my_orders' %}" class="block px-6 py-[8px]">{% trans 'Mis pedidos' %}</a>
                <a href="{% url 'my_data' %}" class="block px-6 py-[8px]">{% trans 'Mis datos' %}</a>
                <a href="{% url 'my_favorites' %}" class="block px-6 py-[8px]">{% trans 'Mis favoritos' %}</a>
                <a href="{% url 'my_reviews' %}" class="block px-6 py-[8px]">{% trans 'Mis opiniones de productos' %}</a>
                <a href="{% url 'logout' %}" class="block px-6 py-[8px]">{% trans 'Cerrar Sesión' %}</a>

                {% else %}
                <a onclick="menu_login_mobile()" class="block px-6 py-3">{% trans 'Iniciar Sesión' %}</a>
                {% endif %}

                <div class="py-10"></div>
            </div>

        </div>

        <div class=" w-[20%] h-screen" onclick="menu_mobile()">
            
        </div>
    </div>
</div>