{% extends 'core/base.html' %}

{% block title %}Mi reseña{% endblock %}

{% block content%}
{% load replacement %}
{% load static %}

{% include 'core/partials/menu_my_account.html' with page_name="Mis opiniones de productos" %}
<div class="max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto max-[1300px]:-mt-6 -mt-2 px-4 lg:px-0">

    <div class="block lg:hidden flex cursor-pointer -mt-5 mb-4 text-sm" onclick="menu_my_account()">
        <div class="border-[0.5px] border-gray-800 px-1 py-1">
            <svg class="h-6 w-6 text-black"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
            </svg>
        </div>
    </div>

    <div class="flex">
        <div class="menu_account w-[25%] text-sm hidden lg:block my-0 lg:mt-8">
            <a class="flex border-b border-neutral-300" href="{% url 'my_account' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mi cuenta</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'my_orders' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis pedidos</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'my_data' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis datos</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'my_favorites' %}">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Mis favoritos</div>
            </a>
            <a class="flex border-b border-neutral-300" href="{% url 'my_reviews' %}">
                <div class="w-[3px] bg-green-600"></div>
                <div class="p-2 w-full">Mis opiniones de productos</div>
            </a>
            <a class="flex border-b border-neutral-300">
                <div class="mr-1 bg-neutral-400"></div>
                <div class="p-2 w-full">Condiciones generales de compra y privacidad</div>
            </a>
        </div>
        
        <div class="w-[100%] lg:w-[75%] lg:pl-8 text-black text-sm my-0 lg:mt-8 relative min-h-[500px] mb-6 lg:mb-0">

            <div class="mb-5 font-semibold text-lg">Opina sobre este producto</div>


            <div id="FormReseña" class=" relative">
                <form id="form">
                    {% csrf_token %}
                    <div class="New_reseña px-3">
                        <div class="flex">
                            <a href="{% url 'product' review.product.slug %}" class="w-[140px] rounded-b-xl flex">
                                <img class="hover:shadow-lg rounded-b-xl" src="{{review.product.image}}">
                            </a>
                            <h1 class="my-auto mx-2">{{review.product.nombre}}</h1> 
                        </div>
                        <div class="flex mb-5">
                            <p class="text-gray-600 text-sm mt-1 hidden sm:block">Puntúa y valora el artículo: </p>
                            <div class="flex mx-5 relative max-[640px]:w-full">
                                <div class="mx-auto relative">
                                    <ul class="flex">
                                        <li>
                                            <svg id="starr1" class="h-8 w-8 cursor-pointer"  fill="none" viewBox="0 0 24 24" stroke="currentColor" style="fill:rgb(215, 215, 215);">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="0" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"/>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg id="starr2" class="h-8 w-8 cursor-pointer"  fill="none" viewBox="0 0 24 24" stroke="currentColor" style="fill:rgb(215, 215, 215);">
                                                <path stroke-linecap="round cursor-pointer" stroke-linejoin="round" stroke-width="0" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"/>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg id="starr3" class="h-8 w-8 cursor-pointer"  fill="none" viewBox="0 0 24 24" stroke="currentColor" style="fill:rgb(215, 215, 215);">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="0" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"/>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg id="starr4" class="h-8 w-8 cursor-pointer"  fill="none" viewBox="0 0 24 24" stroke="currentColor" style="fill:rgb(215, 215, 215);">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="0" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"/>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg id="starr5" class="h-8 w-8 cursor-pointer"  fill="none" viewBox="0 0 24 24" stroke="currentColor" style="fill:rgb(215, 215, 215);">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="0" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"/>
                                            </svg>
                                        </li>  
                                    </ul>
                                    <div class="error1 absolute -bottom-4 left-[20%] text-xs text-red-600 flex" id="error1"></div>
                                </div>
                            </div>
                        </div>
            
                        <div class="text-black mt-4">
                            <input name="titulo" type="text" autocomplete="off" class="w-full border rounded py-2 px-2 text-sm focus:border-black" placeholder="Título*" value="{{ review.titulo }}">
                            <div class="error2 absolute mb-6 rounded-xl text-xs text-red-600 flex mt-1" id="error2"></div>
                            <textarea name="content" rows="8" cols="110" style="resize: none;" type="text" class="mt-8 w-full border rounded py-2 px-2 text-sm focus:border-black" placeholder="Descripción*" value="{{ review.content }}">{{ review.content }}</textarea>
                            <div class="error3 absolute mb-6 rounded-xl text-xs text-red-600 flex" id="error3"></div>
                            <div class="text-gray-600 text-xs mt-6 flex relative">
                                <svg class="h-3 w-3 text-gray-800 absolute top-[2px]"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                </svg>
                                <p class="px-4">Mínimo 10 caracteres</p>
                            </div>
                        </div>
                        <hr class="w-full mt-2">
                        <div class="md:w-[40%]">
                            <button class="inline-block flex justify-center w-full py-3 bg-green-700 text-white mt-3 rounded hover:bg-black transition duration-300" id="FormSubmit">
                                Enviar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            


        </div>
    </div>
    <div class="menu_account w-[100%] text-sm lg:hidden block my-0 lg:mt-8">
        <a class="flex border-b border-neutral-300" href="{% url 'my_account' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Mi cuenta</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'my_orders' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Mis pedidos</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'my_data' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Mis datos</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'my_favorites' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Mis favoritos</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'my_reviews' %}">
            <div class="w-[3px] bg-green-600"></div>
            <div class="p-2 w-full">Mis opiniones de productos</div>
        </a>
        <a class="flex border-b border-neutral-300">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Condiciones generales de compra y privacidad</div>
        </a>
        <a class="flex border-b border-neutral-300" href="{% url 'logout' %}">
            <div class="mr-1 bg-neutral-400"></div>
            <div class="p-2 w-full">Cerrar Sesión</div>
        </a>
    </div>
</div>

<script type="text/javascript">
    let el1 = document.querySelector('#error1')
    let el2 = document.querySelector('#error2')
    let el3 = document.querySelector('#error3')

    function validateForm(data) {
        let errors = []
        let error1 = false
        let error2 = false
        let error3  = false
        let error4  = false
        if(data.rating === 0){
            errors.push('Campo requerido')
            error1 = true
        }if (data.titulo === ''){
            errors.push('Campo requeridos')
            error2 = true
        }if(data.content === ''){
            errors.push('Campo requerido')
            error3 = true
        }if(data.content.length < 10){
            errors.push('No cumple el mínimo requerido')
            error4 = true
        }

        let svg = '<svg class="h-3 w-3 text-red-500 my-auto"  fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"/></svg>';
            
        if (error1){
            el1.innerHTML = svg + 'Campo requerido';
        }else {
            el1.innerHTML = '';
        }
        
        if (error2){
            el2.innerHTML = svg + 'Campo requerido';
        }else {
            el2.innerHTML = '';
        }

        let html = ''
        if (error3){
            html = svg + 'Campo requerido';
        }if(!error3 && error4){
            html = svg + 'No cumple el mínimo requerido';
        }if(html != ''){
            el3.innerHTML = html;
        }else{
            el3.innerHTML = '';
        }
        return errors
    }

    let currentURL = window.location.href;

    FormSubmit.addEventListener('click', function(event){
        event.preventDefault();

        let data = {
            'titulo': document.querySelector('input[name=titulo]').value,
            'content': document.querySelector('textarea[name=content]').value,
            'rating': puntuacion
        }

        let errors = validateForm(data)

        if (errors.length) {
            console.log('Errors', errors)
        }else{
            fetch(`${currentURL}`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' 
                },
                body: JSON.stringify(data),
            }).then(response => response.json())
            .then(json =>{
                window.history.back();
            })  
        }

        return false
    });

    const starr1 = document.getElementById('starr1');
    const starr2 = document.getElementById('starr2');
    const starr3 = document.getElementById('starr3');
    const starr4 = document.getElementById('starr4');
    const starr5 = document.getElementById('starr5');

    var puntuacion = 0

    function Mouse_leave(){
        if(puntuacion == 5){
            starr1.style.fill = "#D1B000";
            starr2.style.fill = "#D1B000";
            starr3.style.fill = "#D1B000";
            starr4.style.fill = "#D1B000";
            starr5.style.fill = "#D1B000";
        }else if(puntuacion == 4){
            starr1.style.fill = "#D1B000";
            starr2.style.fill = "#D1B000";
            starr3.style.fill = "#D1B000";
            starr4.style.fill = "#D1B000";
            starr5.style.fill = "rgb(215, 215, 215)";
        }else if(puntuacion == 3){
            starr1.style.fill = "#D1B000";
            starr2.style.fill = "#D1B000";
            starr3.style.fill = "#D1B000";
            starr4.style.fill = "rgb(215, 215, 215)";
            starr5.style.fill = "rgb(215, 215, 215)";
        }else if(puntuacion == 2){
            starr1.style.fill = "#D1B000";
            starr2.style.fill = "#D1B000";
            starr3.style.fill = "rgb(215, 215, 215)";
            starr4.style.fill = "rgb(215, 215, 215)";
            starr5.style.fill = "rgb(215, 215, 215)";
        }else if(puntuacion == 1){
            starr1.style.fill = "#D1B000";
            starr2.style.fill = "rgb(215, 215, 215)";
            starr3.style.fill = "rgb(215, 215, 215)";
            starr4.style.fill = "rgb(215, 215, 215)";
            starr5.style.fill = "rgb(215, 215, 215)";
        }else{
            starr1.style.fill = "rgb(215, 215, 215)";
            starr2.style.fill = "rgb(215, 215, 215)";
            starr3.style.fill = "rgb(215, 215, 215)";
            starr4.style.fill = "rgb(215, 215, 215)";
            starr5.style.fill = "rgb(215, 215, 215)";
        }
    }

    starr1.onmouseover = function() {
        starr1.style.fill = "#D1B000";
        starr2.style.fill = "rgb(215, 215, 215)";
        starr3.style.fill = "rgb(215, 215, 215)";
        starr4.style.fill = "rgb(215, 215, 215)";
        starr5.style.fill = "rgb(215, 215, 215)";
    }
    starr1.onmouseleave = function() {
        Mouse_leave();
    }

    starr2.onmouseover = function() {
        starr1.style.fill = "#D1B000";
        starr2.style.fill = "#D1B000";
        starr3.style.fill = "rgb(215, 215, 215)";
        starr4.style.fill = "rgb(215, 215, 215)";
        starr5.style.fill = "rgb(215, 215, 215)";
    }
    starr2.onmouseleave = function() {
        Mouse_leave();
    }
    starr3.onmouseover = function() {
        starr1.style.fill = "#D1B000";
        starr2.style.fill = "#D1B000";
        starr3.style.fill = "#D1B000";
        starr4.style.fill = "rgb(215, 215, 215)";
        starr5.style.fill = "rgb(215, 215, 215)";
    }
    starr3.onmouseleave = function() {
        Mouse_leave();
    }
    starr4.onmouseover = function() {
        starr1.style.fill = "#D1B000";
        starr2.style.fill = "#D1B000";
        starr3.style.fill = "#D1B000";
        starr4.style.fill = "#D1B000";
        starr5.style.fill = "rgb(215, 215, 215)";
    }
    starr4.onmouseleave = function() {
        Mouse_leave();
    }
    starr5.onmouseover = function() {
        starr1.style.fill = "#D1B000";
        starr2.style.fill = "#D1B000";
        starr3.style.fill = "#D1B000";
        starr4.style.fill = "#D1B000";
        starr5.style.fill = "#D1B000";
    }
    starr5.onmouseleave = function() {
        Mouse_leave();
    }

    starr5.onclick = function() {
        puntuacion = 5
    }
    starr4.onclick = function() {
        puntuacion = 4
    }
    starr3.onclick = function() {
        puntuacion = 3
    }
    starr2.onclick = function() {
        puntuacion = 2
    }
    starr1.onclick = function() {
        puntuacion = 1
    }

</script>

{% endblock %}