<div class="menu-right flex items-center space-x-4 text-gray-600 mt-5">
    
    <div class="dropdown-menu relative">
        {% if not request.user.is_authenticated %}
        <a onclick="menu_login_mobile()" title="myaccount" class="logouser flex justify-center items-center hover:text-black cursor-pointer">
            <svg class="h-6 w-6"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />  <circle cx="12" cy="7" r="4" /></svg>                            
            <div class="hidden absolute h-[3px] w-[40px] bg-green-600 top-[41px]"></div>                         
        </a>
        {% endif %}
        {% if request.user.is_authenticated %}
        <a href="{% url 'myaccount' %}" title="myaccount" class="logouser flex justify-center items-center hover:text-black cursor-pointer">
            <svg class="h-6 w-6"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />  <circle cx="12" cy="7" r="4" /></svg>                            
            <div class="hidden absolute h-[3px] w-[40px] bg-green-600 top-[41px]"></div>                         
        </a>

        <span class="text-[11px] hidden md:flex justify-center cursor-pointer">{{user.first_name}}</span>

        <div open class="drop block max-[1300px]:hidden absolute w-[240px] bg-white text-gray-500 text-sm rounded-sm top-[50px] left-[-150px]">
            <a class="block mt-2 px-6 py-3 text-black">Hola {{user.first_name}},</a>
            <hr color="block py-1">
            <a href="{% url 'myaccount' %}" class=" block px-6 py-3 hover:bg-gray-100 hover:text-black cursor-pointer">Mi Cuenta</a>
            <a href="{% url 'myaccount' %}" class=" block px-6 py-3 hover:bg-gray-100 hover:text-black cursor-pointer">Información de la Cuenta</a>
            <a href="{% url 'myaccount' %}" class=" block px-6 py-3 hover:bg-gray-100 hover:text-black cursor-pointer">Mi Lista de Favoritos</a>
            <a href="{% url 'myaccount' %}" class=" block px-6 py-3 hover:bg-gray-100 hover:text-black cursor-pointer">Mis Pedidos</a>
            <a href="{% url 'logout' %}" class=" block px-6 py-3 hover:bg-gray-100 hover:text-black cursor-pointer">Salir</a>
        </div>
        
        {% else %}
        <span class="text-[11px] hidden md:flex cursor-pointer">Mi Cuenta</span>

        <div open class="drop block max-[1300px]:hidden absolute w-[300px] bg-white text-black text-sm rounded-sm top-[50px] left-[-200px]">
            {% include 'core/partials/sign.html' %}
        </div>

        {% endif %}
            
    </div>           

    <div class="relative hidden min-[300px]:block">

        <a href="{% url 'myaccount' %}" title="favorites" class="flex justify-center items-center hover:text-black">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
            </svg>                          
        </a>

        <span class="text-[11px] hidden md:flex ">Mis Favoritos</span>
            
    </div>
    <!--a hidden ??-->
    <a 
            hx-get="{% url 'hx_menu_cart' %}"
            hx-trigger="update-menu-cart from:body"
            hx-swap="innerHTML"
            class="hidden absolute"
            >
            {% include 'cart/partials/menu_cart.html' %}
    
    </a>
    <div class="dropdown-menu-cart relative"
        hx-get="{% url 'hx_minicart' %}"
        hx-trigger="update-menu-cart from:body"
        hx-swap="innerHTML"
        >
            {% include 'cart/partials/minicart.html' %}
    </div>
        
</div>