<script>

    /*TOP*/
    var swiper = new Swiper(".mySwiper", {
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
    });

    let lastScroll = 0;
    const nav = document.querySelector('.navbar');
    const nav2 = document.querySelector('.buscador');
    const Top = document.getElementById('Top');
    nscrollup = 0
    nscrollupuntil = 60

    window.addEventListener('scroll',() => {

        currentScroll = window.pageYOffset
        
        if ((currentScroll < lastScroll && nav.classList.contains('scroll-down') && (nscrollup == nscrollupuntil)) || (currentScroll < 170))  {
            nav.classList.add('scroll-up');
            nav.classList.remove('scroll-down');
        }

        if (currentScroll > lastScroll && nav.classList.contains('scroll-up') && (currentScroll > 170) ) {
            nav.classList.remove('scroll-up');
            nav.classList.add('scroll-down');
        }

        if ((currentScroll < lastScroll && nav2.classList.contains('scroll-down-busca') && (nscrollup == nscrollupuntil)) || (currentScroll < 170)) {
            nav2.classList.add('scroll-up-busca');
            nav2.classList.remove('scroll-down-busca');
        }

        if (currentScroll > lastScroll && nav2.classList.contains('scroll-up-busca') && (currentScroll > 170)) {
            nav2.classList.remove('scroll-up-busca');
            nav2.classList.add('scroll-down-busca');
        }

        if(lastScroll > currentScroll && (currentScroll > 170)){
            nscrollup = nscrollup + 1;
        }else{
            nscrollup = 0;
        }
        if(nscrollup == nscrollupuntil + 1){nscrollup = 0;}

        lastScroll = currentScroll;

    })

    const div = document.querySelector('.menu-mobile');
    const div2 = document.querySelector('.menu-mobile-l');

    function menu_mobile(){

        if (div.classList.contains('invisible')){
            div.classList.remove('invisible');
            div.classList.add('visible');

            div2.style.animation ="sidebar-open 500ms 1"

        }else{
            div2.style.animation ="sidebar-close 500ms 1"
            
            div.classList.remove('visible');
            div.classList.add('invisible');
        }
   }

   /*SHOP queryString = `category=${param1}&price=${param2}`             ?category={{ category.slug }}*/

   const url = window.location.href.split('?')[0];
   const url2 = window.location.href.split('?')[1];
   const urlParams = new URLSearchParams(window.location.search);
   let param0 = urlParams.get('query');
   let param1 = urlParams.get('category');
   let param2 = urlParams.get('price');
   let param3 = urlParams.get('sx');
   let param4 = urlParams.get('sz');
   let param5 = urlParams.get('ma');

   function initial_stage(param, Button){
        if(param){
            var list_x = []
            for(j in param.split(':')){
                list_x.push(param.split(':')[j]);
                    for(i in Button){
                        if(list_x[j] == Button[i].value){
                            Button[i].classList.remove('hover:border-neutral-800')
                            Button[i].classList.add('bg-neutral-200')
                            Button[i].classList.add('border-neutral-800')
                            Button[i].checked = true;
                        }
                    }
            }
            for(x in list_x){
                for(i in Button){
                    if(x == Button[i].value){
                        Button[i].classList.remove('hover:border-neutral-800')
                        Button[i].classList.add('bg-neutral-200')
                        Button[i].classList.add('border-neutral-800')
                        Button[i].checked = true;
                    }
                }
            }
        }
   }

   function sendgetviews(param, str){
        if(url2){
            if(param){
                var list = [];
                let j = 0;
                for(i in url2.split('&')){
                    if(url2.split('&')[i].split('=')[0] != str){
                        list[j] = url2.split('&')[i]
                        j += 1;
                    }
                }
                if(list.length > 0){
                    window.location.href = url + '?'+ list.join('&') + `&${str}=${param}`;
                }else{window.location.href = url + '?' + `${str}=${param}`;}
            }else window.location.href = window.location.href + `&${str}=${param}`;
        }else {
            window.location.href = url + '?' + `${str}=${param}`;
        }
   }

   const rangeInput = document.querySelectorAll('.range-input input');
   const rangePrices = document.getElementById('range-prices');
   let priceGap = 0;

   rangeInput.forEach(input =>{
        if(param2){
            rangeInput[0].value = param2.split(',')[0]
            rangeInput[1].value = param2.split(',')[1]
            if(rangeInput[1].value - rangeInput[0].value < priceGap) {
                if(input.id === 'rangemin'){
                    rangeInput[0].value = rangeInput[1].value - priceGap;
                }else{
                    rangeInput[1].value = rangeInput[0].value + priceGap;
                }
            }
            rangePrices.innerHTML = `<div class="">${rangeInput[0].value},00€ - ${rangeInput[1].value},00€</div>`;
        }

        input.addEventListener('input', e =>{
            let minVal = parseInt(rangeInput[0].value);
            maxVal = parseInt(rangeInput[1].value);
           
            if(maxVal - minVal < priceGap) {
                if(e.target.id === 'rangemin'){
                    rangeInput[0].value = maxVal - priceGap;
                }else{
                    rangeInput[1].value = minVal + priceGap;
                }
            }
            minVal = rangeInput[0].value;
            maxVal = rangeInput[1].value;

            rangePrices.innerHTML = `<div class="">${minVal},00€ - ${maxVal},00€</div>`;
            
        });
        
        input.addEventListener('mouseup', () =>{
            let min_price = parseInt(rangeInput[0].value);
            let max_price = parseInt(rangeInput[1].value);
            param2 = `${min_price},${max_price}`;

            sendgetviews(param2, 'price')
        });
   });
   
   function button_event(param, button_value , string){
       if(param){
            var list_x = []
            for(j in param.split(':')){
                list_x.push(param.split(':')[j]);
            }
            
            if (!list_x.includes(button_value)){
                param = param + ':' + button_value
            }else{
                param = param.split(':');
                param = param.filter(item => item != button_value).join(':');
            }
            is_param = true;
        }else{
            param = button_value
            is_param = false;
        }
        console.log(param);
        sendget(param, is_param, string);
    }
    
    function sendget(param, is_param, string){
         if(url2){
             if(is_param){
                 temp = url2.split('&')
                 for(i in temp){
                     if(temp[i].substr(0, 3) == `${string}=`){
                         if(param){
                             temp[i] = `${string}=${param}`
                         }else{
                             temp[i] = 'ERROR';
                         }
                     }
                 }
                 temp = temp.filter(item => item != 'ERROR').join('&');
                 if(temp){window.location.href = url + '?' + temp}
                 else{window.location.href = url}
             }else{
                 window.location.href = window.location.href + '&' + `${string}=${param}`;
             }
         }else{
             window.location.href = url + '?' + `${string}=${param}`;
         }
    }

   const Sexbut = document.querySelectorAll('.sexo button');
   initial_stage(param3, Sexbut);

   Sexbut.forEach(button => {
        button.addEventListener('click', () =>{
            
            button_event(param3, button.value , 'sx')

        });
   });

   const SizeBut = document.querySelectorAll('.size button');
   initial_stage(param4, SizeBut);

   SizeBut.forEach(button => {
        button.addEventListener('click', () => {
            
            button_event(param4, button.value , 'sz')

        });
   });

   const MarcaBut = document.querySelectorAll('.marca input');
   initial_stage(param5, MarcaBut);

   MarcaBut.forEach(input => {
        input.addEventListener('click', () => {
            
            button_event(param5, input.value , 'ma')

        });
   });
   
   <!-------------------------Selecciones------------------------->

   const Sel_price = document.querySelectorAll('.selec_price button');
   Sel_price.forEach(button => 
        {button.addEventListener('click', () =>{
            temp = url2.split('&')
            for (i in temp) {
                if(temp[i].split('=')[0] == 'price'){
                    console.log(temp[i], url2)
                    url4 = url2.replace('&' + temp[i],'')
                    url4 = url4.replace(temp[i] + '&','')
                    url4 = url4.replace(temp[i],'')
                    if(url4){
                        window.location.href = url + '?' + url4
                    }else{
                        window.location.href = url
                    }
                }
            }
        });
    });

   const Sel_sx = document.querySelectorAll('.selec_sx button');
   Sel_sx.forEach(button => {button.addEventListener('click', () =>{
            button_event(param3, button.value , 'sx')});});

   const Sel_sz = document.querySelectorAll('.selec_sz button');
   Sel_sz.forEach(button => {button.addEventListener('click', () => {
            button_event(param4, button.value , 'sz')});});

   const Sel_ma = document.querySelectorAll('.selec_ma button');
   Sel_ma.forEach(button => {button.addEventListener('click', () => {
            button_event(param5, button.value , 'ma')});});


    function hover_card(product_id){
        const card_text = document.getElementById(`card-${product_id}-text`);
        card_text.classList.add('mb-10')
        card_text.classList.add('border-t')
        card_text.classList.add('shadow-[0px_-8px_10px_rgba(0,0,0,0.1)]')

    }
    function hover_card_leave(product_id){
        const card_text = document.getElementById(`card-${product_id}-text`);
        card_text.classList.remove('mb-10')
        card_text.classList.remove('border-t')
        card_text.classList.remove('shadow-[0px_-8px_10px_rgba(0,0,0,0.1)]')
    }

   </script>