<style>
    /* remove blue outline */
    * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
    }

    .navbar {
        transition: all 300ms ease-in-out;
    }
    .scroll-down{
        margin-top: 0;
    }
    .scroll-up{
        margin-top: 8;
    }
    .buscador {
        transition: all 300ms ease-in-out;
    }
    .scroll-down-busca{
        margin-top: 30px;
    }
    .scroll-up-busca{
        margin-top: 105px;
    }

    .dropdown-menu .drop{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;                         
        max-height: 500px;
        visibility: hidden;
        list-style-type: none;
        transition: visibility 500ms;
    }
    .dropdown-menu:hover .drop{
        visibility: visible;
        transition-delay: 500ms;
    }

    .border-dropdown-cart {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;                         
    }

    .dropdown-menu-cart .minicart{                    
        visibility: hidden;
        list-style-type: none;
        transition: visibility 500ms;
    }
    
    .dropdown-menu-cart:hover .minicart{
        visibility: visible;
        transition-delay: 500ms;
    }

    .dropdown-menu-cart .minicart-0{                    
        visibility: visible;
        list-style-type: none;
    }

    .imagecategory div{
        bottom: 1rem;
        transition: bottom 300ms;
    }
    .imagecategory:hover div{
        bottom: 2rem;
    }
    .imagecategory a div{
        transition: all 400ms;
    }


    /*MenuMobile*/
    @keyframes sidebar-open{
        0% {
            visibility: visible;
            transform: translateX(-100%);
        }
        100% {
            visibility: visible;
            transform: translateX(0);
        }
    }

    @keyframes sidebar-close{
        0% {
            visibility: visible;
            transform: translateX(0);
        }
        100% {
            visibility: hidden;
            transform: translateX(-100%);
        }
    }
    /*Login Mobile*/
    @keyframes login-open{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes login-close{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    /*TallasMobile*/
    @keyframes tallas-open{
        0% {
            visibility: visible;
            transform: translateX(100%);
        }
        100% {
            visibility: visible;
            transform: translateX(0);
        }
    }

    @keyframes tallas-close{
        0% {
            visibility: visible;
            transform: translateX(0);
        }
        100% {
            visibility: hidden;
            transform: translateX(100%);
        }
    }

    .maxh{
        max-height: 300px;
        transition: max-height 0.5s ease-out;
    }

    .maxh.full{
        max-height: 1000px;
        transition: max-height 0.5s ease-in;
    }

    /*SHOP*/
    input[type="range"] {
        -webkit-appearance: none;
                appearance: none;
        margin-right: 15px;
        height: 10px;
        background: none;
        pointer-events: none;
    }
    input[type="range"]::-webkit-slider-thumb{
        -webkit-appearance: none;
                appearance: none;
        cursor: pointer;
        height: 18px;
        width: 18px;
        pointer-events: auto;
        background: #d6d6d6;
        border-radius: 5px;
        border: 1px solid #8f8f8f;
        transition: background .3s ease-in-out;
    }
    input[type="range"]::-moz-range-thumb{
        -moz-appearance: none;
                appearance: none;
        cursor: pointer;
        height: 18px;
        width: 18px;
        pointer-events: auto;
        background: #d6d6d6;
        border-radius: 5px;
        border: 1px solid #8f8f8f;
        transition: background .3s ease-in-out;
    }
    input[type="range"]::-webkit-slider-runnable-track{
        -webkit-appearance: none;
                appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }

    .image_marca{
        scale: 0.7;
        filter: invert(10%) sepia(0%) saturate(50%) hue-rotate(262deg) brightness(95%) contrast(80%);
        transition: scale 500ms;
    }
    .image_marca:hover{
        scale: 1;
        filter: invert(0%) sepia(100%) saturate(25%) hue-rotate(2deg) brightness(92%) contrast(105%);
    }
</style>