<style>
    /* remove blue outline */
    * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
    }

    .navbar {
        transition: all 200ms ease-in-out;
    }
    .scroll-down{
        margin-top: 0;
    }
    .scroll-up{
        margin-top: 8;
    }
    .buscador {
        transition: all 200ms ease-in-out;
    }
    .scroll-down-busca{
        margin-top: 65px;
    }
    .scroll-up-busca{
        margin-top: 110px;
    }

    .dropdown-menu div{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;                         
        max-height: 500px;
        visibility: hidden;
        list-style-type: none;
        transition: visibility 500ms;
    }
    .dropdown-menu:hover div{
        visibility: visible;
        transition-delay: 500ms;
    }

    .border-dropdown-cart {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;                         
    }

    .dropdown-menu-cart .minicart{                    
        visibility: hidden;
        list-style-type: none;
        transition: visibility 500ms;
    }
    
    .dropdown-menu-cart:hover .minicart{
        visibility: visible;
        transition-delay: 500ms;
    }

    .dropdown-menu-cart .minicart-0{                    
        visibility: visible;
        list-style-type: none;
    }

    .imagecategory div{
        bottom: 1rem;
        transition: bottom 300ms;
    }
    .imagecategory:hover div{
        bottom: 2rem;
    }
    .imagecategory a div{
        transition: all 400ms;
    }


    /*MenuMobile*/
    @keyframes sidebar-open{
        0% {
            visibility: visible;
            transform: translateX(-100%);
        }
        100% {
            visibility: visible;
            transform: translateX(0);
        }
    }

    @keyframes sidebar-close{
        0% {
            visibility: visible;
            transform: translateX(0);
        }
        100% {
            visibility: hidden;
            transform: translateX(-100%);
        }
    }

    /*TallasMobile*/
    @keyframes tallas-open{
        0% {
            visibility: visible;
            transform: translateX(100%);
        }
        100% {
            visibility: visible;
            transform: translateX(0);
        }
    }

    @keyframes tallas-close{
        0% {
            visibility: visible;
            transform: translateX(0);
        }
        100% {
            visibility: hidden;
            transform: translateX(100%);
        }
    }
    
</style>